<div *ngIf="user && myUser" style="padding: 5px;">
    <table width="100%">
        <tr>
            <td align="left">
                <img (mousedown)="toggleImage()" [src]="user.imgSrc" [ngClass]="ngClassImage()">
            </td>
            <td *ngIf="!largeImageFlg" valign="top" style="text-align: left;" width="190">
                <div class="title-highlight" title="id: {{user.user_id}}"><i *ngIf="user.user_id == myUser.heartId" class="fa fa-heart"></i> {{user.firstName}}, {{user.age}}
                    <i *ngIf="myUser.user_id == 0" [routerLink]="['/profile']" style="float: right; cursor: pointer; margin: 3px;" class="fa fa-edit"></i>
                    <i *ngIf="myUser.user_id > 0" [routerLink]="['']" style="float: right; cursor: pointer; margin: 3px;" class="fa fa-times"></i>
                </div>
                <div><b>{{user.city}}</b><span style="font-size: 10px; color: gray; float: right;" title="Race">{{user.race}}</span></div>
                <div class="small-box">
                    <div class="small-title">Relationship</div>
                    
                    <div style="font-size: 14px; font-weight: 700"><i [class]="user.genderIcon"></i> {{user.maritalStatus}} &nbsp; <i class="fa fa-arrow-right" title="Looking for"></i> &nbsp;
                    <i *ngIf="user.matchPreference != 'F'" class="fa fa-male" [title]="user.matchGender"></i> <i *ngIf="user.matchPreference != 'M'" class="fa fa-female" [title]="user.matchGender"></i></div>

                    <app-green-check [label]="'Seeking'" [text1]="user.desiredRelationship"
                        [text2]="myUser.matchRelationship" [icon]="'fa fa-eye'"></app-green-check>
                    <app-green-check [label]="'View of Marriage'" [text1]="user.marriageView" [text2]="myUser.marriageView"
                        [img]="'assets/images/marriage.jpg'"></app-green-check>
                    <app-green-check [label]="'Longest Relationship'" [text1]="user.longestRelationshipText" [icon]="'fa fa-exchange'">
                    </app-green-check>
                    <app-green-check [label]="'Number of Kids'" [text1]="user.numKids" [text2]="myUser.kidsNum"
                        [icon]="'fa fa-street-view'" [smokes]="user.smokes" [drinks]="user.drinks" [cannabis]="user.cannabis">
                    </app-green-check>
                </div>
                <div class="small-box">
                    <div class="small-title">Background</div>
                    <app-green-check [label]="'Education'" [text1]="user.educationLevel" [text2]="myUser.matchEducation"
                        [icon]="'fa fa-graduation-cap'"></app-green-check>
                    <app-green-check [label]="'Income'" [text1]="user.income" [text2]="myUser.matchIncome"
                        [icon]="'fa fa-money'">
                    </app-green-check>
                    <app-green-check [label]="'Religion'" [text1]="user.religion" [text2]="myUser.matchReligion"
                        [icon]="''" [img]="'assets/images/church.jpeg'">
                    </app-green-check>
                </div>
            </td>
        </tr>
    </table>
    <div *ngIf="!largeImageFlg" class="motto-text" title="Motto"><i class="fa fa-bullhorn"></i>&nbsp;
        <b>{{user.motto}}</b></div>
    <div *ngIf="!largeImageFlg" class="motto-text" title="Looking for"><i class="fa fa-eye"></i>&nbsp;
        <b>{{user.story}}</b></div>
</div>