<div *ngIf="user && myUser" style="position: relative;">
    <div *ngIf="showNewUserPopupFlg && user.matchObj && user.matchObj.showButtonsFlg" class="new-user-popup">
        <p class="red-text"><b>Welcome new Betra user!</b></p>
        <p>Would you like to meet this person? If <b>Yes</b>, press the thumbs up, otherwise press the thumbs down.
        </p>
        <p style="font-size: 12px; color: gray;">Click "thumbs-up" to everyone you might be interested in. As soon as
            one of
            them "likes" you back, they will end up in your dating pool and you can begin communicating!</p>
        <button (mousedown)="showNewUserPopupFlg=false" class="btn btn-main-color">Got it!</button>
    </div>

    <table width="100%" border="0">
        <tr>
            <td style="padding: 0; position: relative;" valign="top" width="50%">
                <i *ngIf="!largeImageFlg" (mousedown)="toggleImage()" class="fa fa-plus-circle plus-icon"></i>
                <i *ngIf="largeImageFlg" (mousedown)="toggleImage()" class="fa fa-minus-circle plus-icon"></i>
                <i *ngIf="user.picCertificateFlg" class="fa fa-certificate verified-cirtificate"></i>
                <span *ngIf="user.reputationScore>0" [routerLink]="['/reputation']" class="reputation-score"
                    title="Reputation Score">{{user.reputationScore}}</span>
                <i *ngIf="pictureIndex>1" (mousedown)="changePicture(-1)" class="fa fa-chevron-left icon-chevron"
                    style="left: 10px;"></i>
                <i *ngIf="pictureIndexMax>1 && pictureIndex<pictureIndexMax" (mousedown)="changePicture(1)"
                    class="fa fa-chevron-right icon-chevron" style="right: 10px;"></i>
                <img (mousedown)="toggleImage()" [src]="user.mainImageSrc" [ngClass]="ngClassImage()">
            </td>
            <td *ngIf="!largeImageFlg" valign="top"
                style="text-align: center; min-width: 180px; max-width: 200px; padding-top: 7px; position: relative;">
                <i *ngIf="snapshotFlg" (mousedown)="closePopup()" class="fa fa-times"
                    style="float: right; cursor: pointer; margin: 5px;"></i>
                <div *ngIf="showOptionsFlg" (mousedown)="showOptionsFlg=false;"
                    style="background-color: gray; width: 100%; height: 100%; position: absolute; opacity: 0.2; z-index: 50;">
                    &nbsp;</div>

                <div
                    style="display: inline-block; width: 100%; min-width: 180px; max-width: 200px; text-align: left; position: relative; padding: 5px;">

                    <span *ngIf="myUser.user_id != user.user_id" (mousedown)="showOptionsFlg=!showOptionsFlg"
                        class="three-dots" title="Menu Options"><i class="fa fa-ellipsis-v"></i></span>
                    <span *ngIf="showOptionsFlg && user.matchObj" class="three-dots-menu">
                        <div *ngIf="0 && user.matchObj.match_interested == 'Y' && user.matchObj.you_interested == 'Y'"
                            (mousedown)="sendClickEventUp('remove')" class="three-dots-menu-option">Remove from
                            Dating Pool</div>
                        <div *ngIf="user.matchObj.match_interested == 'Y' && user.matchObj.you_interested == 'Y' && myUser.heartId != user.user_id"
                            (mousedown)="sendClickEventUp('assignRose')" class="three-dots-menu-option">Assign Rose
                        </div>
                        <div *ngIf="user.matchObj.match_interested == 'Y' && user.matchObj.you_interested != 'Y'"
                            (mousedown)="sendClickEventUp('yesToMatch')" class="three-dots-menu-option">
                            Add to Dating Pool</div>
                        <div *ngIf="0 && user.matchObj.you_interested != 'X'" (mousedown)="menuOptionClicked(1)"
                            class="three-dots-menu-option">
                            Block</div>
                        <div *ngIf="!snapshotFlg" (mousedown)="menuOptionClicked(2)" class="three-dots-menu-option">
                            Flag</div>
                        <div *ngIf="user.matchObj.you_interested == 'X'" (mousedown)="sendClickEventUp('yesToMatch')"
                            class="three-dots-menu-option">
                            Un-Block</div>
                        <div (mousedown)="showOptionsFlg=false" class="three-dots-menu-option">Cancel</div>
                    </span>
                    <i *ngIf="myUser.user_id == user.user_id" [routerLink]="['/profile']" title="Edit Profile"
                        style="float: right; cursor: pointer; margin: 3px; font-size: 18px;" class="fa fa-edit"></i>

                    <hr>
                    <div title="id: {{user.user_id}}" style="font-size: 20px; font-weight: 600;">
                        <span class="name-bar"><img src="assets/images/rose5.png" height="20"
                                *ngIf="user.user_id == myUser.heartId" alt="Rose" title="Rose">
                            <span><i [class]="user.icon" [title]="user.userTitle"></i></span>
                            {{user.firstName}},
                            {{user.age}}&nbsp;
                        </span>
                    </div>
                    <div *ngIf="user.status == 'Deleted'" class="tan-box">
                        <div><b>Status:</b> {{user.status}}</div>
                        <div><b>Reason:</b> {{user.alias_name}}</div>
                        <div><b>Details:</b> {{user.story}}</div>
                    </div>

                    <div style="font-size: 12px;">{{user.location}}</div>
                    <div style="font-size: 8px; color: gray;">
                        <i class="fa fa-globe main-color"></i> {{user.distanceText}} ({{user.lastLoginText}})
                    </div>
                    <div *ngIf="showProfileBasicsFlg"
                        [ngClass]="profileBasicsClassFlg?'profile-basics':'profile-basics-off'">

                        <button (mousedown)="hideProfileBasics()" class="btn" style="float: right;"><i
                                class="fa fa-times"></i></button>

                        <div class="small-box">
                            <div class="small-title main-color">Relationship</div>

                            <div class="">
                                <span class="profile-icon menu-circle">
                                    <i [class]="user.genderIcon"></i>
                                    <span class="icon-label main-color-bg">{{user.lookingForTitle}}</span>
                                </span>
                                <span class="profile-text">
                                    {{user.maritalStatus}} &nbsp; <i class="fa fa-arrow-right"></i> &nbsp;
                                    <i *ngIf="user.matchPreference != 'F'" class="fa fa-male"></i> <i
                                        *ngIf="user.matchPreference != 'M'" class="fa fa-female"></i>
                                </span>

                            </div>

                            <app-green-check [label]="'Interested in'" [text1]="user.desiredRelationship"
                                [showCheckFlg]="user.desiredRelationship == myUser.matchRelationship && myUser.user_id != user.user_id"
                                [img]="'assets/images/profile/lookingFor.png'"></app-green-check>
                            <app-green-check [label]="'View of Marriage'" [text1]="user.marriageView"
                                [showCheckFlg]="myUser.marriageView == user.marriageView && myUser.user_id != user.user_id"
                                [img]="'assets/images/profile/marriage.png'"></app-green-check>
                            <app-green-check [label]="'Longest Relationship'" [text1]="user.longestRelationshipText"
                                [icon]="'fa fa-exchange'">
                            </app-green-check>

                            <div>
                                <table width="100%">
                                    <tr>
                                        <td align="center">
                                            <span class="menu-circle">
                                                <img [src]="'assets/images/profile/kids.png'" height="15">
                                                {{user.numKids}}
                                                <span class="icon-label main-color-bg">{{hasKidsTitle}}</span>
                                            </span>
                                            <div style="font-size: 6px;">Has kids?</div>
                                        </td>
                                        <td align="center">
                                            <span class="menu-circle">
                                                <img [src]="'assets/images/profile/kids2.png'" height="15"
                                                    style="margin-right: 4px;">
                                                <span *ngIf="user.wantsKids != 'Does Not Matter'"
                                                    style="font-size: 10px;">{{user.wantsKids}}</span>

                                                <span *ngIf="user.wantsKids == 'Does Not Matter'"><i
                                                        class="fa fa-question"></i></span>
                                                <sup *ngIf="myUser.wantsKids==user.wantsKids && myUser.user_id != user.user_id"
                                                    class="hide-xs"><i class="fa fa-check main-color"></i></sup>
                                                <span class="icon-label main-color-bg">{{wantsKidsTitle}}</span>
                                                <div style="font-size: 6px;">Wants kids?</div>

                                            </span>
                                        </td>
                                        <td align="right">
                                            <table>
                                                <tr>
                                                    <td align="center">
                                                        <span class="menu-circle" *ngIf="user.drinksIcon">
                                                            <img [src]="user.drinksIcon" class="dabauchery-icon">
                                                            <span
                                                                class="icon-label main-color-bg">{{user.drinksTitle}}</span>
                                                        </span>
                                                        <div style="font-size: 6px;">{{user.drinksTitle}}</div>
                                                    </td>
                                                    <td align="center">
                                                        <span class="menu-circle" *ngIf="user.smokesIcon">
                                                            <img [src]="user.smokesIcon" class="dabauchery-icon">
                                                            <span
                                                                class="icon-label main-color-bg">{{user.smokesTitle}}</span>
                                                        </span>
                                                        <div style="font-size: 6px;">{{user.smokesTitle}}</div>
                                                    </td>
                                                    <td align="center">
                                                        <span class="menu-circle" *ngIf="user.potIcon">
                                                            <img [src]="user.potIcon" class="dabauchery-icon">
                                                            <span
                                                                class="icon-label main-color-bg">{{user.potTitle}}</span>
                                                        </span>
                                                        <div style="font-size: 6px;">{{user.potTitle}}</div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                        </div>
                        <div class="small-box">
                            <div class="small-title main-color">Background</div>
                            <app-green-check [label]="'Education'" [text1]="user.educationLevel"
                                [showCheckFlg]="myUser.matchEducation == user.educationLevel && myUser.user_id != user.user_id"
                                [icon]="'fa fa-graduation-cap'"></app-green-check>
                            <app-green-check *ngIf="1 || !myUser.memberFlg" [label]="'Income'"
                                [text1]="user.incomeRange"
                                [showCheckFlg]="user.income == myUser.matchIncome && myUser.user_id != user.user_id"
                                [icon]="'fa fa-money'">
                            </app-green-check>
                            <app-green-check *ngIf="0 && myUser.memberFlg" [label]="'Income'" [text1]="user.income"
                                [showCheckFlg]="user.income == myUser.matchIncome && myUser.user_id != user.user_id"
                                [icon]="'fa fa-money'">
                            </app-green-check>
                            <app-green-check [label]="'Religion'" [text1]="user.religion"
                                [showCheckFlg]="user.religion == myUser.matchReligion && myUser.user_id != user.user_id"
                                [icon]="''" [img]="'assets/images/profile/religion.png'">
                            </app-green-check>
                        </div>
                        <div style="text-align: center">
                            <button (mousedown)="showMoreClicked()" class="btn btn-main-color btn-profile"><i
                                    class="fa fa-arrow-circle-down"></i> More Details</button>
                        </div>
                    </div>




                    <div *ngIf="user.matchObj.match_level == 1 && user.matchObj.match_interested == 'Y'"
                        class="important-notice" style="text-align: center;">
                        <i class="fa fa-heart"></i> {{user.firstName}}<br>is interested in you!
                    </div>
                    <div *ngIf="!showProfileBasicsFlg" style="text-align: center; margin-top: 40px;">

                        <div style="font-size: 10px;">🌹 Rose Ceremony in <span
                                class="text-highlight">{{user.daysTillRoseCeremony}}</span> day<span
                                *ngIf="user.daysTillRoseCeremony != 1">s</span></div>

                        <button (mousedown)="showProfileBasics()" class="btn btn-main-color btn-profile"><i
                                class="fa fa-user"></i> Profile Basics</button>

                        <button (mousedown)="showMoreClicked()" class="btn btn-main-color btn-profile"><i
                                class="fa fa-arrow-circle-down"></i> More Details</button>

                        <button
                            *ngIf="user.potentialLoveInterestFlg && !showTextWarning && (!user.matchObj || !user.matchObj.match_level || user.matchObj.match_level < 4)"
                            (mousedown)="showTextWarning=true;" class="btn btn-main-color btn-profile"><i
                                class="fa fa-comment"></i> Text
                            {{user.firstName}}</button>

                        <div *ngIf="user.matchObj && showTextWarning" (mousedown)="showTextWarning=false;"
                            class="important-notice">
                            <div *ngIf="!user.matchObj || !user.matchObj.match_level || user.matchObj.match_level < 2">
                                <p *ngIf="user.matchObj.match_interested == 'B'">
                                    Sorry, but you have been placed on {{user.firstName}}'s back burner.
                                </p>
                                <div *ngIf="user.matchObj.showButtonsFlg">With Betra you BOTH must show interest in each
                                    other
                                    before texting. Click the green
                                    "Thumbs-up" button to get started. {{user.matchObj.you_interested}}
                                </div>
                                <div
                                    *ngIf="user.matchObj.you_interested == 'Y' && user.matchObj.match_interested == 'N'">
                                    Unfortunately, this person is not
                                    interested in you. Keep browsing!</div>
                                <div *ngIf="user.matchObj.you_interested == 'Y'">
                                    This person is aware that you are interested. If <span
                                        *ngIf="user.gender=='F'">s</span>he says 'Yes' to you, you will be
                                    able
                                    to communicate. Keep your fingers crossed!</div>
                                <div *ngIf="user.matchObj.you_interested == 'N'">You have indicated that you are not
                                    interested in {{user.firstName}}.
                                    Change your mind? <a (mousedown)="likeButtonClicked(true)" class="text-link">click
                                        here</a>.
                                </div>
                            </div>
                            <div *ngIf="user.matchObj.match_level == 2">
                                With Betra, the first contact must be from a dropdown Ice Breaker. If you get a response
                                back, you can begin to freely text! See Ice Breaker below.
                            </div>
                            <div *ngIf="user.matchObj.match_level == 3">
                                Almost there! You must get a response back from each other's Ice Breaker questions to
                                begin
                                texting. See below.
                            </div>
                        </div>
                        <i (mousedown)="showAdminButtonsFlg=!showAdminButtonsFlg" class="fa fa-lock"
                            *ngIf="myUser.user_id==1" style="cursor: pointer; float: left;"></i>

                        <!--<button
                            *ngIf="snapshotFlg && user.matchObj && user.matchObj.match_level >= 2 && user.matchObj.unreadMessages > 0"
                            [routerLink]="['/user-detail']" [queryParams]="{uid: user.user_id}"
                            class="btn btn-main-color btn-small"><i class="fa fa-comment"></i> New
                            Messages
                        </button>
                        <button *ngIf="snapshotFlg && user.matchObj && user.matchObj.unreadMessages == 0"
                            [routerLink]="['/user-detail']" [queryParams]="{uid: user.user_id}"
                            class="btn btn-main-color btn-small"><i class="fa fa-comment"></i> Send Message
                        </button>


                        <i (mousedown)="showMoreClicked()" style="float: right; font-size: 32px; margin-top: -3px;"
                            [ngClass]="'fa fa-arrow-circle-down clickable'"
                            [title]="(expandBottomFlg)?'Collapse Profile':'Expand Profile'"></i>
                        <div *ngIf="myUser.datingPool.length == 0" style="font-size: 10px;">[Click down arrow for more
                            info]</div>-->
                    </div>
                    <div *ngIf="showAdminButtonsFlg" class="border-box" style="text-align: center;">
                        <div><i class="fa fa-lock"></i> admin tools</div>
                        <hr>
                        <div *ngIf="user.picFlagged>0" style="text-align: center; display: inline-block;">
                            <button (mousedown)="sendClickEventUp('picIsGood')" class="btn btn-primary">Pic is
                                OK</button>
                            <div style="font-size: 8px;">Flagged picture is fine.</div>
                        </div>
                        <div *ngIf="!user.picFlagged" style="text-align: center; display: inline-block;">
                            <button (mousedown)="sendClickEventUp('picIsBad')" class="btn btn-primary">
                                Pic is Bad</button>
                            <div style="font-size: 8px;">Flag as no face.</div>
                        </div>
                        <div *ngIf="user.picFlagged>0" style="text-align: center; display: inline-block;">
                            <button (mousedown)="sendClickEventUp('clearPic')" class="btn btn-primary">Clear
                                Pic</button>
                            <div style="font-size: 8px;">Reset main image.</div>
                        </div>
                        <div style="text-align: center; display: inline-block;">
                            <button (mousedown)="sendClickEventUp('refreshDatePools')" class="btn btn-primary">Refresh
                                DPs</button>
                            <div style="font-size: 8px;">Reset DP & matches DP.</div>
                        </div>
                        <div style="text-align: center; display: inline-block;">
                            <button (mousedown)="sendClickEventUp('refreshDatePool')" class="btn btn-primary">Refresh
                                DP</button>
                            <div style="font-size: 8px;">Reset DP & matches DP.</div>
                        </div>
                        <div *ngIf="user.ownerFlg" style="text-align: center; display: inline-block;">
                            <button (mousedown)="sendClickEventUp('demoteUser')" class="btn btn-primary">Demote
                            </button>
                            <div style="font-size: 8px;">Reset to regular member.</div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <div *ngIf="user.numPics>0" style="text-align: left; font-size: 12px;">

        <div *ngIf="user.numPics>0"
            style="position: absolute; opacity: 0.5; bottom: 0; background-color: black; color: white;">
            &nbsp;<i class="fa fa-picture-o"></i>
            {{user.numPics+1}} pics total&nbsp;</div>
    </div>

    <div *ngIf="user.matchObj && user.matchObj.showButtonsFlg"
        style="position: absolute; top: 350px; left: 80px; z-index: 100;">
        <i (mousedown)="likeButtonClicked(false)" class="fa fa-thumbs-o-down circle-button no-button"></i>&nbsp;
        <i (mousedown)="likeButtonClicked(true)" class="fa fa-thumbs-o-up circle-button yes-button glow-button"></i>
    </div>

    <div *ngIf="user.matchObj && user.matchObj.matchMadeFlg" [routerLink]="['/matches']" class="main-color-bg"
        style="cursor: pointer;">
        <div style="font-size: 40px;"><i class="fa fa-heart"></i>&nbsp;<b>Match Made!</b></div>
    </div>

    <div *ngIf="showBlockPopupFlg" class="block-popup">
        <div><b>Block User</b></div>
        <div>Are you sure you want to block this user and prevent them from having any contact with you?</div>
        <button (mousedown)="showBlockPopupFlg=false" class="btn btn-warning">Cancel</button> &nbsp;
        <button (mousedown)="sendClickEventUp('ban')" class="btn btn-success">Block!</button> &nbsp;
    </div>
    <div *ngIf="showFlagPopupFlg" class="block-popup">
        <div><b>Flag User</b></div>
        <div>Are you sure you want to flag this user for innapropriate profile or behavior? We may contact you for more
            information.</div>
        <button (mousedown)="showFlagPopupFlg=false" class="btn btn-warning">Cancel</button> &nbsp;
        <button (mousedown)="sendClickEventUp('flagUser')" class="btn btn-success">Flag!</button> &nbsp;
    </div>
    <div *ngIf="showFlagPopup2Flg" class="block-popup">
        <div><b>User Flagged!</b></div>
        <div>Thank you for reporting this user.</div>
        <button (mousedown)="showFlagPopup2Flg=false" class="btn btn-warning">Ok</button> &nbsp;
    </div>
    <div *ngIf="expandBottomFlg && displayPopupQuote" (mousedown)="toggleQuote()"
        [style.opacity]="showPopupQuote?'1':'0'"
        style="cursor: pointer; transition: all 1s ease; position: absolute; bottom: 20px; right: 20px; z-index: 300; width: 100%; max-width: 350px;">
        <img src="assets/images/profile/bubble.png" style="width: 100%;">
        <div
            style="position: absolute; bottom: 10px; right: 10px; z-index: 301; width: 100%; max-width: 330px; font-size: 24px;">
            <table width="100%">
                <tr>
                    <td valign="middle" align="center" style="height: 200px; border-radius: 50px; padding: 20px;"
                        [style.font-size]="user.motto.length>80?'18px':'24px'">
                        <i class="fa fa-quote-left"></i> {{user.motto}}<i class="fa fa-quote-right"></i>
                    </td>
                </tr>
            </table>
        </div>

    </div>


</div>
<div *ngIf="expandBottomFlg">
    <div *ngIf="user.picCertificateFlg" style="text-align: left; font-size: 12px;" class="red-text">&nbsp;<i
            class="fa fa-certificate"></i> Picture Verified</div>
    <img *ngIf="user.pic1" (mousedown)="viewImageThumbnail(0)" [src]="user.imgSrc" class="tiny-pic">
    <img *ngIf="user.pic1" (mousedown)="viewImageThumbnail(1)" [src]="user.pic1"
        [ngClass]="unblurPicsFlg?'tiny-pic':'tiny-pic-blur'">
    <img *ngIf="user.pic2" (mousedown)="viewImageThumbnail(2)" [src]="user.pic2"
        [ngClass]="unblurPicsFlg?'tiny-pic':'tiny-pic-blur'">
    <img *ngIf="user.pic3" (mousedown)="viewImageThumbnail(3)" [src]="user.pic3"
        [ngClass]="unblurPicsFlg?'tiny-pic':'tiny-pic-blur'">
    <img *ngIf="user.pic4" (mousedown)="viewImageThumbnail(4)" [src]="user.pic4"
        [ngClass]="unblurPicsFlg?'tiny-pic':'tiny-pic-blur'">
    <a *ngIf="user.user_id == myUser.user_id" [routerLink]="['/edit-pics']" class="text-link">edit pics</a>&nbsp;
    <a *ngIf="user.user_id == myUser.user_id && !user.picCertificateFlg" [routerLink]="['/verify-pics']"
        class="text-link">verify pic</a>&nbsp;

    <a *ngIf="user.user_id != myUser.user_id && !myUser.memberFlg && user.numPics > 0" [routerLink]="'/upgrade-member'"
        class="text-link">Upgrade to see
        more pics</a>
</div>