
.user-profile-image {
    width: 100%;
    height: 100%;
    max-height: 350px;
    cursor: pointer;
    object-fit: cover;
    -webkit-filter: grayscale(70%); /* Safari 6.0 - 9.0 */
    filter: grayscale(70%);
    object-position: 50% 20%;
    transition: all 1s ease;
    border-radius: 0 0 15px 0;
}

.new-user-popup {
    position: absolute;
    top: 20px;
    left: 20px;
    max-width: 400px;
    z-index: 500;
    background-color: #fdd;
    padding: 20px;
    box-shadow: 5px 5px 10px gray;
    border-radius: 5px;
}

.verified-cirtificate {
    cursor: pointer;
    font-size: 32px; 
    color: #900; 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    z-index: 300;
}

.reputation-score {
    background-color: #900;
    text-align: center;
    color: white;
    font-size: 14px; 
    position: absolute;
    border-radius: 50%;
    padding: 0 3px 0 3px;
    width: 20px;
    top: 15px; 
    left: 14px; 
    z-index: 301;
    cursor: pointer;
}

.reputation-score:hover {
    background-color: red;
}

.icon-chevron {
    cursor: pointer;
    font-size: 32px; 
    color: white; 
    position: absolute; 
    top: 100px; 
    z-index: 300;
}

.plus-icon {
    color: black;
    position: absolute; 
    right: 3px; 
    top: 3px; 
    font-size: 16px; 
    z-index: 200;
    cursor: pointer;
}

.plus-icon:hover {
    color: white;
}

.icon-chevron:hover {
    color: #900;
}

.user-profile-image:hover {
    filter: none;
}

.profile-image-large {
    width: 100%;
    max-height: 1000px;
    object-fit: cover;
    transition: all 1s ease;
    cursor: pointer;
}

.tiny-pic {
    width: 100%;
    max-width: 26px;
    height: 40px;
    border-radius: 2px;
    box-shadow: 2px 2px 4px #999;
    object-fit: cover;
    margin: 5px;
    cursor: pointer;
}

.tiny-pic-blur {
    width: 100%;
    max-width: 26px;
    height: 40px;
    border-radius: 2px;
    box-shadow: 2px 2px 4px #999;
    object-fit: cover;
    margin: 5px;
    cursor: pointer;
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

.tiny-pic:hover {
    box-shadow: 2px 2px 5px black;
}

.icon-label {
    top: 20px;
    left: -10px;
    z-index: 200;
}
.icon-label:hover {
    opacity: 0;
}

.three-dots {
    float: right; 
    border-radius: 50%;
    width: 30px;
    font-size: 18px;
    text-align: center;
    color: gray; 
    margin-right: 0;
    cursor: pointer;
}

.three-dots:hover {
    background-color: #ccc;
    color: black;
}

.three-dots-menu {
    display: inline-block;
    position: absolute;
    z-index: 200;
    top: 35px;
    right: 0;
    color: gray;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px gray;
    min-width: 100px;
    text-align: center;
    cursor: pointer;
}

.three-dots-menu-option {
    white-space: nowrap;
    padding: 3px;
    font-size: 14px;
}

.block-popup {
    display: inline-block; 
    position: absolute; 
    top: 20px; 
    left: 20px; 
    background-color: #900; 
    color: white; 
    padding: 20px; 
    border-radius: 5px; 
    box-shadow: 5px 5px 10px gray;
    max-width: 400px;
}
.circle-button {
    font-size: 36px;
    border-radius: 50%;
    padding: 15px;
    width: 70px;
    margin-top: -50px;
    cursor: pointer;
    box-shadow: 5px 5px 10px gray;
    z-index: 305;
}

.yes-button {
    background-color: greenyellow;
}

.no-button {
    background-color: orange;
}

.yes-button:hover {
    background-color: #00ff00;
}

.no-button:hover {
    background-color: #ffcc00;
}

.small-title {
    font-size: 10px;
    text-align: center;
    font-weight: 700;
}

.small-box {
    background-color: #f7f7f7;
    border-radius: 5px;
    padding: 3px;
    margin: 2px;
    text-align: left;
}

.name-bar {
    max-width: 160px;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}

.dabauchery-icon {
    height: 20px;
    -webkit-filter: grayscale(.5);
    filter: grayscale(.5);
}

.dabauchery-icon:hover {
    -webkit-filter: grayscale(0);
    filter: none;
}

.glow-button {
    -webkit-animation: glowing 1300ms infinite;
    -moz-animation: glowing 1300ms infinite;
    -o-animation: glowing 1300ms infinite;
    animation: glowing 1300ms infinite;
}

$dark-green: #18b200;
$light-green: #9df390;
$green1: #197d0a;
$green2: #18b200;

@-webkit-keyframes glowing {
    0% {
        background-color: $light-green;
        -webkit-box-shadow: 0 0 3px $light-green;
    }

    50% {
        background-color: $dark-green;
        -webkit-box-shadow: 0 0 15px $dark-green;
    }

    100% {
        background-color: $light-green;
        -webkit-box-shadow: 0 0 3px $light-green;
    }
}

@keyframes glowing {
    0% {
        background-color: $light-green;
        box-shadow: 0 0 3px $light-green;
    }

    50% {
        background-color: $dark-green;
        box-shadow: 0 0 15px $dark-green;
    }

    100% {
        background-color: $light-green;
        box-shadow: 0 0 3px $light-green;
    }
}