.match-card {
    display: inline-block;
    background-color: white;
    box-shadow: 1px 1px 10px gray;
    border-radius: 5px;
    width: 100%;
    font-size: 14px;
}

.top-name-bar-red {
    background-color: #b7121f;
    color: white;
    border-radius: 5px;
    text-align: center;
    text-align: left;
    padding-left: 5px;
    padding-top: 3px;
    height: 30px;
}

.top-name-bar-gold {
    background-color: orange;
    box-shadow: 2px 2px 3px gray;
    color: black;
    border-radius: 5px;
    text-align: center;
    text-align: left;
    padding-left: 5px;
    padding-top: 3px;
    height: 30px;
    cursor: pointer;
}

.top-name-bar-gold:hover {
    background-color: gold;
    box-shadow: 2px 2px 5px black;
}

.user-profile-image {
    width: 100%;
    max-height: 400px;
    min-height: 300px;
    cursor: pointer;
    object-fit: cover;
    transition: all 1s ease;
}

.profile-image-large {
    width: 100%;
    max-height: 600px;
    min-height: 300px;
    object-fit: cover;
    transition: all 1s ease;
    cursor: pointer;
}

.tiny-pic {
    width: 100%;
    max-width: 26px;
    height: 40px;
    border-radius: 2px;
    box-shadow: 2px 2px 4px #999;
    object-fit: cover;
    margin: 5px;
    cursor: pointer;
}

.tiny-pic-blur {
    width: 100%;
    max-width: 26px;
    height: 40px;
    border-radius: 2px;
    box-shadow: 2px 2px 4px #999;
    object-fit: cover;
    margin: 5px;
    cursor: pointer;
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

.tiny-pic:hover {
    box-shadow: 2px 2px 5px black;
}

.clickable {
    font-size: 32px;
    cursor: pointer;
}

.clickable:hover {
    color: #b7121f;
}

.circle-button {
    font-size: 36px;
    border-radius: 50%;
    padding: 15px;
    width: 70px;
    margin-top: -50px;
    cursor: pointer;
    box-shadow: 5px 5px 10px gray;
}

.yes-button {
    background-color: greenyellow;
}

.no-button {
    background-color: orange;
}
.yes-button:hover {
    background-color: #00ff00;
}

.no-button:hover {
    background-color: #ffcc00;    
}

.small-title {
    font-size: 10px;
    text-align: center;
    font-weight: 700;
    color: #770000;
}

.small-box {
    background-color: #f7f7f7;
    border-radius: 5px;
    padding: 3px;
    margin: 2px;
    text-align: left;
}

.yellow-button {
    width: 100%;
    font-size: 20px;
    padding: 10px;
    background-color: orange;
}

.yellow-button:hover {
    background-color: #ffcc00;
}

.green-button {
    width: 100%;
    font-size: 20px;
    padding: 10px;
    background-color: #77ff77;
}

.green-button:hover {
    background-color: #ccffcc;
}

.motto-text {
    font-size: 12px;
    color: #777;
    cursor: pointer;
}

.motto-text:hover {
    color: #b7121f;
}

.name-bar {
    max-width: 160px;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}