<div *ngIf="user && myUser">
    <table width="100%" border="0">
        <tr>
            <td align="center" valign="top" style="padding: 0;">
                <img (mousedown)="toggleImage()" [src]="user.mainImageSrc" [ngClass]="ngClassImage()">
                <div *ngIf="user.matchObj && user.matchObj.showButtonsFlg">
                    <i (mousedown)="likeButtonClicked(false)"
                        class="fa fa-thumbs-o-down circle-button no-button"></i>&nbsp;
                    <i (mousedown)="likeButtonClicked(true)"
                        class="fa fa-thumbs-o-up circle-button yes-button glow-button"></i>
                </div>
                <div *ngIf="user.numPics>0" style="text-align: center; font-size: 10px;"><i class="fa fa-picture-o"></i>
                    plus {{user.numPics}} pics</div>
                <div *ngIf="showSmallerPicsFlg">
                    <img *ngIf="user.pic1" (mousedown)="viewImageThumbnail(0)" [src]="user.imgSrc" class="tiny-pic">
                    <img *ngIf="user.pic1" (mousedown)="viewImageThumbnail(1)" [src]="user.pic1"
                        [ngClass]="unblurPicsFlg?'tiny-pic':'tiny-pic-blur'">
                    <img *ngIf="user.pic2" (mousedown)="viewImageThumbnail(2)" [src]="user.pic2"
                        [ngClass]="unblurPicsFlg?'tiny-pic':'tiny-pic-blur'">
                    <img *ngIf="user.pic3" (mousedown)="viewImageThumbnail(3)" [src]="user.pic3"
                        [ngClass]="unblurPicsFlg?'tiny-pic':'tiny-pic-blur'">
                    <img *ngIf="user.pic4" (mousedown)="viewImageThumbnail(4)" [src]="user.pic4"
                        [ngClass]="unblurPicsFlg?'tiny-pic':'tiny-pic-blur'">
                </div>
                <div *ngIf="!showSmallerPicsFlg"><button [routerLink]="'/upgrade-member'"
                        class="btn btn-warning">Upgrade to see pics</button></div>
            </td>
            <td *ngIf="!largeImageFlg" valign="top" style="text-align: left; padding: 5px; min-width: 150px;"
                width="40%">
                <div>&nbsp;</div>
                <div title="id: {{user.user_id}}" style="font-size: 16px; font-weight: 800;">
                    <span class="name-bar"><img src="assets/images/rose5.png" height="20"
                            *ngIf="user.user_id == myUser.heartId" alt="Rose" title="Rose">
                        <span><i class="fa fa-star-o" *ngIf="user.memberFlg" title="Gold Member"></i></span>
                        {{user.firstName}},
                        {{user.age}}&nbsp;<i class="fa fa-clock-o" [title]="user.lastLoginText" style="font-size: 12px;"
                            [style.color]="user.lastLoginColor"></i>
                    </span>
                    <i *ngIf="myUser.user_id == user.user_id" [routerLink]="['/profile']"
                        style="float: right; cursor: pointer; margin: 3px;" class="fa fa-edit"></i>
                </div>
                <div>{{user.location}}</div>
                <div style="font-size: 8px; color: gray;">
                    <span>{{distance}}</span>
                </div>
                <div class="small-box">
                    <div class="small-title">Relationship</div>

                    <div style="font-size: 14px; font-weight: 700" [title]="lookingForTitle"><i
                            [class]="user.genderIcon"></i> {{user.maritalStatus}} &nbsp; <i
                            class="fa fa-arrow-right"></i> &nbsp;
                        <i *ngIf="user.matchPreference != 'F'" class="fa fa-male"></i> <i
                            *ngIf="user.matchPreference != 'M'" class="fa fa-female"></i>
                    </div>

                    <app-green-check [label]="'Interested in'" [text1]="user.desiredRelationship"
                        [text2]="myUser.matchRelationship" [icon]="'fa fa-eye'"></app-green-check>
                    <app-green-check [label]="'View of Marriage'" [text1]="user.marriageView"
                        [text2]="myUser.marriageView" [img]="'assets/images/marriage.png'"></app-green-check>
                    <app-green-check [label]="'Longest Relationship'" [text1]="user.longestRelationshipText"
                        [icon]="'fa fa-exchange'">
                    </app-green-check>
                    <app-green-check [label]="'Number of Kids'" [text1]="user.numKids" [text2]="myUser.kidsNum"
                        [icon]="'fa fa-street-view'" [smokes]="user.smokes" [drinks]="user.drinks"
                        [cannabis]="user.cannabis">
                    </app-green-check>
                </div>
                <div class="small-box">
                    <div class="small-title">Background</div>
                    <app-green-check [label]="'Education'" [text1]="user.educationLevel" [text2]="myUser.matchEducation"
                        [icon]="'fa fa-graduation-cap'"></app-green-check>
                    <app-green-check [label]="'Income'" [text1]="user.income" [text2]="myUser.matchIncome"
                        [icon]="'fa fa-money'">
                    </app-green-check>
                    <app-green-check [label]="'Religion'" [text1]="user.religion" [text2]="myUser.matchReligion"
                        [icon]="''" [img]="'assets/images/church.png'">
                    </app-green-check>
                </div>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td width="100%" style="text-align: center;">
                <div *ngIf="!largeImageFlg" class="motto-text" title="Motto"><i class="fa fa-bullhorn"></i>&nbsp;
                    <b>{{user.motto}}</b>
                </div>
                <div *ngIf="!largeImageFlg" class="motto-text" title="Looking for"><i class="fa fa-eye"></i>&nbsp;
                    <b>{{user.story}}</b>
                </div>
            </td>
            <td style="padding-right: 10px;" *ngIf="user.matchObj">
                <i (mousedown)="showMoreClicked()" class="fa fa-arrow-circle-down clickable"></i>
            </td>
        </tr>
    </table>
    <div *ngIf="user.matchObj && user.matchObj.matchMadeFlg" [routerLink]="['/matches']" class="dark-red-box"
        style="background-image: url('assets/images/love.jpg'); cursor: pointer;">
        <div style="font-size: 40px;"><i class="fa fa-heart"></i>&nbsp;<b>Match Made!</b></div>
    </div>
</div>