<app-page-shell (messageEvent)="loginClicked ($event)" [pageTitle]="'Owner Users'" [userId]="userId"
    [imgSrcFile]="imgSrcFile" [headerObj]="headerObj" [userStatus]="userStatus" [stickyBottomFlg]="true">
    <div class="matches-card2" *ngIf="user && user.ownerFlg">
        <app-owners-menu [pageTitle]="'Owners'" [page]="1"></app-owners-menu>
        <hr>
        <app-spinner [loadingFlg]="loadingFlg" [errorMessage]="errorMessage"></app-spinner>

        <app-owners-table-cell [ownersList]="managmentTeam" [user]="user" [tableName]="'Management'" (messageEvent)="ownersTableEvent($event)"></app-owners-table-cell>
        <app-owners-table-cell [ownersList]="devTeam" [user]="user" [tableName]="'Dev Team'" (messageEvent)="ownersTableEvent($event)"></app-owners-table-cell>
        <app-owners-table-cell [ownersList]="promotionsTeam" [user]="user" [tableName]="'Promotions Team'" (messageEvent)="ownersTableEvent($event)"></app-owners-table-cell>
        <app-owners-table-cell [ownersList]="activityLeads" [user]="user" [tableName]="'Activity Leads'" (messageEvent)="ownersTableEvent($event)"></app-owners-table-cell>
        <app-owners-table-cell [ownersList]="activityReps" [user]="user" [tableName]="'Activity Reps'" (messageEvent)="ownersTableEvent($event)"></app-owners-table-cell>
        <app-owners-table-cell [ownersList]="usList" [user]="user" [tableName]="'Others'" (messageEvent)="ownersTableEvent($event)"></app-owners-table-cell>

        <div style="font-size: 10px;">
            <div>*<b>Clicks</b> indicates the number of profiles you have browsed.</div>
            <div>*<b>Matches</b> indicates the number of dating pool matches.</div>
            <div>*<b>Messages</b> indicates the number of text messages sent.</div>
            <div>*<b>Pics</b> indicates the number of profile pics you have verified.</div>
        </div>

        <div *ngIf="selectedPlayer && option==7 && user.user_id==1">
            <div>{{selectedPlayer.firstName}}</div>
            <div>1-6 = activity</div>
            <div>11-16 = activity lead</div>
            <div>21 = marketing</div>
            <div>22 = dev</div>
            <div>
                Team:
                <select name="activityRep" id="activityRep">
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>21</option>
                    <option>22</option>
                    <option>99</option>
                </select>
            </div>
            <button (mousedown)="updateActivityTeam()" class="btn btn-primary">Update</button>
            <div>
                <button (mousedown)="demoteUser()" class="btn btn-main-color btn-small">Demote</button>
            </div>
        </div>

        <div *ngIf="selectedPlayer && option==2">
            <div>{{selectedPlayer.firstName}}</div>
            <div>Send initial Email</div>
            <button (mousedown)="sendEmail()" class="btn btn-main-color">Send</button>
        </div>
        <div *ngIf="selectedPlayer && option==1">
            <div>{{selectedPlayer.firstName}}</div>
            <div>Region</div>
            <select name="region" id="region">
                <option>NW</option>
                <option>SW</option>
                <option>NE</option>
                <option>SE</option>
            </select>
            <div>District</div>
            <select name="division" id="division">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
            <div>Zone</div>
            <select name="zone" id="zone">
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
            <hr>
            <button (mousedown)="updateUserRegion()" class="btn btn-primary">Update</button>
        </div>

    </div>
</app-page-shell>