<app-page-shell [userId]="userId" [pageTitle]="'Coins'" [headerObj]="headerObj" [userStatus]="userStatus"
    [stickyBottomFlg]="true">

    <div *ngIf="user" class="matches-card" style="padding: 0;">
        <app-top-header2 [topTitle]="'Coins'"></app-top-header2>
        <div style="padding: 10px;">
            <table width="100%">
                <tr>
                    <td valign="top" align="center">
                        <div class="gray-box" style="position: relative;">
                            <div class="small-title">Your Coins</div>
                            <img src="assets/images/pics/coin.png" height="100">
                            <div>
                                <span class="red-circle"
                                    style="font-size: 16px; position: absolute; bottom: 30px; right: 30px;">{{user.points}}</span>
                            </div>
                            <div style="font-size: 10px;">
                                Consecutive days logged in: <span class="text-highlight">{{user.consecutiveDays}}</span>
                            </div>
                        </div>
                    </td>
                    <td valign="top" align="center">
                        <img [routerLink]="['/market']"src="assets/images/buttons/market.jpg" class="image-btn">
                        <div>Marketplace</div>
                        <div class="gray-text">Visit the marketplace to buy and sell coins</div>
                    </td>
                    <td valign="top" align="center">
                        <img [routerLink]="['/photography']"src="assets/images/buttons/photography.jpg" class="image-btn">
                        <div>Photography Club</div>
                        <div class="gray-text">Trade pictures for coins</div>
                    </td>
                </tr>
            </table>


            <div *ngIf="menuNum==1" class="gray-box">
                <div class="small-title">How you get coins?</div>
                <div style="text-align: left; font-size: 12px; color: gray;">
                    <li>Each day you log in, you get <span class="red-text">1</span> coin.</li>
                    <li>Log in 7 consecutive days, get <span class="red-text">10</span> bonus coins.</li>
                    <li>Get them from other users (coming soon)</li>
                </div>
            </div>
            <div *ngIf="menuNum==2" class="col-md">
                <div class="gray-box">
                    <div class="small-title">How you spend coins?</div>
                    <div style="text-align: left; font-size: 12px; color: gray;">
                        <li>Free Swipe = <span class="red-text">1</span> coin.</li>
                        <li>Send someone a gift!</li>
                        <li>Trade for pics</li>
                        <li>Sell them to users</li>
                    </div>
                </div>
            </div>
        </div>
        <div style="background-color: #444;">
            <button (mousedown)="changeMenuNum(1)" class="btn btn-main-color spacer btn-small">Get Coins</button>
            <button (mousedown)="changeMenuNum(2)" class="btn btn-main-color spacer btn-small">Spend Coins</button>
        </div>
    </div>
</app-page-shell>