.gray-box {
    display: inline-block; border: 1px solid gray; border-radius: 10px; padding: 5px;
    background-color: #eee;
    margin: 5px;
}

.small-title {
    font-size: 12px;
    font-weight: 700;
}