<app-page-shell (messageEvent)="loginClicked ($event)" [pageTitle]="'Safety Features'" [userId]="userId"
    [imgSrcFile]="imgSrcFile" [headerObj]="headerObj" [userStatus]="userStatus" [stickyBottomFlg]="true">

    <div class="matches-card">
        <img src="assets/images/landing/roseNarrow.png" width="100%">
        <div style="display: inline-block; width: 100%; max-width: 400px; text-align: left;">
            <p>With all the horror stories in the news about online dating experiences gone wrong, we at Betra set out
                to
                create
                the safest online dating experience ever.
            </p>
            <p>We have more safety features than any other online dating site and our first and most important goal
                is keeping our users safe. Below is a list of some of the safety features included in the app.
            </p>
            <ol>
                <li><b class="red-text">Completed Profiles</b>: We make sure everyone completes their profile before
                    joining the site. Scammers tend to target dating sites where they can fill out nothing more than a
                    fake email address and immediately start texting people.
                    We don't want those people joining Betra.</li>
                <li><b class="red-text">Face Photos</b>: All users must submit a photo of their face. Scammers like to
                    stay ananymous and those people are not welcome on Betra.</li>
                <li><b class="red-text">Photo Verification</b>: We give users the option to verify their photos so users
                    know the person they are getting ready to meet is in fact the person in their photo.</li>
                <li><b class="red-text">Dating Pools</b>: Betra's unique dating pool concept means no one can
                    communicate with you unless they are in your dating pool, which is limited to 8 people at a time.
                </li>
                <li><b class="red-text">User Reviews</b>: Our users are able to write reviews on other users. This helps
                    ensure everyone is on their best bahavior and scammers will be thwarted just by the knowledge of this
                    feature.</li>
                <li><b class="red-text">Reputation Points</b>: Users can add reputation points to their profile by
                    confirming data like email address, phone numbers, facebook page etc. Scammers like to hide in the
                    shadows and will not participate in this kind of feature.</li>
                <li><b class="red-text">Date Scheduler</b>: We have a built in date scheduler which creates an
                    electronic record of your date for added safety protections.</li>
                <li><b class="red-text">Buddy Notifications</b>: Automatically have a friend notified when you
                    are about to go on a date.</li>
            </ol>

        </div>

    </div>


</app-page-shell>