<img id="roseBg" src="assets/images/landing/roseHome.png"
    style="width: 100%; height: 100vh; object-fit: cover; position: fixed; z-index: -1;">
<div *ngIf="menuNum==101">
    <div style="width: 100%; text-align: center;">
        <div class="inner-block"
            style="text-align: center; background-color: black; padding: 20px; border-radius: 20px;">
            <div>
                <img src="assets/images/rose1.png" height="80">
            </div>
            <p class="red-text">Looks like your account is not set up yet.</p>
            <div>&nbsp;</div>
            <div>
                <button [routerLink]="['/profile']" class="btn btn-main-color btn-large">Profile</button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!loadingFlg && !readyForRoseCeremony">
    <div style="width: 100%; text-align: center;">
        <div class="inner-block" style="text-align: left; background-color: black; padding: 20px; border-radius: 20px;">
            <div style="text-align: center;">
                <img src="assets/images/rose1.png" height="80">
            </div>
            <div *ngIf="numSingles<=MIN_SINGLES">
                <p *ngIf="numSingles==1" class="red-text">You are down to just 1 person in your dating pool and your next rose ceremony is in {{daysTillCeremony}} days.</p>
                <p *ngIf="numSingles!=1" class="red-text">You are down to just {{numSingles}} people in your dating pool and your next rose ceremony is in {{daysTillCeremony}} days.</p>
                <p class="red-text">Would you like to add a new batch of singles to your dating pool or keep going with your current pool?</p>
                <div style="text-align: center;">
                    <button [routerLink]="['']" class="btn btn-main-color spacer">Keep Going</button>
                </div>
                <div>&nbsp;</div>
                <button (mousedown)="startNewGame()" class="btn btn-main-color btn-large spacer">Find New Singles</button>
            </div>
            <div *ngIf="numSingles>MIN_SINGLES">
                <p class="red-text" style="font-size: 16px;">Your next rose ceremony happens in <span
                        style="color: white; font-size: 18px;">{{daysTillCeremony}}</span>
                    day<span *ngIf="daysTillCeremony!=1">s</span>.</p>
                <p class="red-text"><span style="color: white;">How it works:</span> You currently have {{numSingles}}
                    people in your dating pool and {{rosesRemaining}} roses
                    to hand out. This means, at your next Rose Ceremony, you will be handing out roses to {{rosesRemaining}}
                    {{user.genderMatch}} and the others will be let go.</p>

                <p class="red-text" style="color: white;">Enjoy the game!</p>
                <div>&nbsp;</div>
                <div style="text-align: center;">
                    <button [routerLink]="['']" class="btn btn-main-color btn-large">Home</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="menuNum==0">
    <div [ngClass]="ngClassMain()">
        <div class="inner-block">
            <div *ngIf="displayUser">
                <div
                    style="display: inline-block; position: relative; background-color: orange;  text-align: center; border-radius: 15px; overflow: hidden; width: 100%; max-width: 300px; box-shadow: 2px 2px 5px black;">
                    <img [src]="displayUser.imgSrc"
                        style="width: 100%; max-width: 320px; height: 400px; object-fit: cover;">
                    <div
                        style="background-color: black; position: absolute; left: 0; bottom: 0; padding: 5px; color: white; width: 100%;">
                        {{displayUser.firstName}}, {{displayUser.age}} {{displayUser.city}}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="outter-div" style="color: white;">
        <div *ngIf="!showBeginCeremonyButtonFlg">
            <img src="assets/images/betraLogo.png" style="width: 100%; max-width: 80px;">
            <div class="red-text">Welcome to the Rose Ceremony!</div>
            <div>&nbsp;</div>
        </div>
        <button *ngIf="showBeginCeremonyButtonFlg" [disabled]="!previewModeFlg2" (mousedown)="beginCeremony()"
            class="btn btn-main-color btn-large">Begin Rose Ceremony</button>

        <div style="background-color: black; padding: 20px; border-radius: 20px;" *ngIf="0">
            <div class="red-text">Your dating pool has dwindled down. You have the option of ditching all your current
                picks and starting over with a new batch of singles.</div>
            <div>&nbsp;</div>
            <div class="red-text">Click "Begin Rose Ceremony" to continue with your current dating pool, or "Start Over"
                to begin a new game.</div>
            <div>&nbsp;</div>
            <button *ngIf="showBeginCeremonyButtonFlg" [disabled]="!previewModeFlg2" (mousedown)="startNewGame()"
                class="btn btn-main-color btn-large">Start Over!</button>
        </div>

        <app-spinner [loadingFlg]="loadingFlg" [errorMessage]="errorMessage"></app-spinner>
    </div>
</div>

<div *ngIf="menuNum==1">
    <div style="position: fixed; top: 0; left: 0; height: 55px; background-color: black; z-index: 499; width: 100%;">
        &nbsp;</div>
    <button [disabled]="users.length==0 || !startHandingRosesFlg || rosesRemaining<0" (mousedown)="endRoseCeremony()"
        [ngClass]="rosesRemaining>0?'btn btn-main-color':'btn btn-main-color btn-large'"
        style="position: fixed; top: 5px; left: 4px; z-index: 500;">End Rose
        Ceremony</button>

    <div style="position: fixed; top: 0; right: 85px; z-index: 500; background-color: black;">
        <img src="assets/images/rose5.png" width="15">
        <span class="red-text" style="font-size: 12px; ">Roses Remaining</span>
    </div>
    <div
        style="position: fixed; width: 80px; padding: 0; top: 0; z-index: 500; background-color: black; right: 0; display: inline-block; border: 1px solid gray; border-radius: 5px; text-align: center;">
        <span class="red-text" style="font-size: 28px;">{{rosesRemaining}}</span>
    </div>
    <div style="position: fixed; top: 40px; left: 0; z-index: 500; width: 100%; text-align: center;">
        <div style="border: 1px solid pink; display: inline-block; background-color: black; padding: 0 5px 0 5px; margin: 10px; border-radius: 10px; font-size: 10px;"
            class="red-text">Choose the {{user.genderMatch}} you are most interested in, then press "End Rose Ceremony"
            button.
        </div>
    </div>
    <div *ngIf="!startHandingRosesFlg" style="text-align: center;">
        <div class="inner-block">
            <div>&nbsp;</div>
            <div *ngIf="users.length>MIN_SINGLES" style="width: 100%; max-width: 380px; display: inline-block;" class="red-text">
                You
                have
                {{rosesRemaining}} roses to hand out. This is simply to choose the people you might be interested in
                getting to know a little bit more. Anyone left without a rose will be removed from your dating pool.
            </div>
            <div *ngIf="users.length==0" style="width: 100%; max-width: 380px; display: inline-block;" class="red-text">
                Sorry, there is no one left in your dating pool. Click Start Over to try again with a new batch of
                singles.</div>
            <div>&nbsp;</div>
            <div *ngIf="users.length<MIN_SINGLES && users.length > 0">
                <div style="width: 100%; max-width: 380px; display: inline-block; background-color: black;"
                    class="red-text">Note: you are down to a
                    very small dating pool. Did you want to continue with your current pool, or add a new batch of singles?</div>
                <div>&nbsp;</div>
            </div>
            <img src="assets/images/rose1.png" style="width: 100%; max-width: 100px;">

            <button *ngIf="users.length>0 && (daysTillCeremony==0 || startNewGameFlg)" [disabled]="users.length==0" (mousedown)="startHandingRosesFlg=true"
                class="btn btn-main-color btn-large">Hand out your
                roses</button>

            <div *ngIf="users.length<MIN_SINGLES">
                <div>&nbsp;</div>
                <button (mousedown)="startNewGame()" class="btn btn-main-color btn-large">Add new singles</button>
                <div>&nbsp;</div>
                <button *ngIf="daysTillCeremony>0" [routerLink]="''" class="btn btn-main-color btn-large">Wait for Rose Ceremony</button>
                <div>&nbsp;</div>
                <span [routerLink]="''" class="text-link">Exit</span>
            </div>
        </div>
    </div>

    <div *ngIf="startHandingRosesFlg" style="padding: 90px 5px 5px 5px; text-align: center; color: white;">
        <app-spinner [loadingFlg]="loadingFlg" [errorMessage]="errorMessage"></app-spinner>
        <div *ngFor="let user of users" class="user-div" [style.border]="user.hasRose?'3px solid yellow':'none'">
            <img (mousedown)="toggleRose(user)" [src]="user.imgSrc" [ngClass]="ngClassImage(user)">
            <button (mousedown)="viewImage(user)" class="btn btn-main-color"
                style="position: absolute; top: 2px; right: 2px;"><i class="fa fa-picture-o"></i></button>
            <img *ngIf="user.hasRose" (mousedown)="toggleRose(user)" src="assets/images/rose5.png"
                style="position: absolute; top: 0; left: 0;" width="50">
            <div style="position: absolute; bottom: 0; left: 0; width: 100%; color: white; font-size: 12px;">
                <div style="text-shadow: 1px 1px black; font-weight: 700; padding-left: 5px;">{{user.firstName}},
                    {{user.age}}</div>
                <div style="font-size: 9px; text-shadow: 1px 1px black;" class="red-text">Last active:
                    {{user.lastLoginText}}</div>
                <div><button (mousedown)="viewProfilePopup(user, true)"
                        class="btn btn-main-color btn-small">Basics</button>
                    <button (mousedown)="viewProfilePopup(user, false)" class="btn btn-main-color btn-small"
                        style="float: right;">Details</button>
                </div>
            </div>
        </div>

        <div style="text-align: center;">
            <div
                style="background-color: black; padding: 20px; margin: 20px; border-radius: 20px; display: inline-block; max-width: 420px;">
                <div *ngIf="rosesRemaining>0" class="red-text">Keep handing out roses. You have {{rosesRemaining}}
                    remaining.</div>
                <div style="font-size: 12px; color: pink">Keep in mind you are choosing your dating pool of
                    people you might be interested in. There's no obligation to meet or even chat with anyone unless you
                    decide to.</div>
                <div>&nbsp;</div>
                <button [disabled]="users.length==0 || !startHandingRosesFlg || rosesRemaining<0"
                    (mousedown)="endRoseCeremony()"
                    [ngClass]="rosesRemaining>0?'btn btn-main-color':'btn btn-main-color btn-large'">End Rose
                    Ceremony</button>
                <div>&nbsp;</div>
                <span [routerLink]="''" class="text-link">Exit</span>
            </div>
        </div>
    </div>
</div>

<div *ngIf="menuNum==2" style="text-align: center;">
    <div class="inner-block">
        <app-spinner [loadingFlg]="loadingFlg" [errorMessage]="errorMessage"></app-spinner>
    </div>
</div>
<div *ngIf="menuNum==3" style="text-align: center;">
    <div class="inner-block">
        <app-spinner [loadingFlg]="loadingFlg" [errorMessage]="errorMessage"></app-spinner>
        <div class="red-text">Congratulations! You have completed your Rose Ceremony. Visit your dating pool to begin
            communicating. Let the fun begin!</div>
        <div>&nbsp;</div>
        <button [routerLink]="['/matches']" class="btn btn-main-color btn-large">View your Dating Pool</button>
    </div>
</div>
<i [routerLink]="['']" class="fa fa-arrow-left red-text"
    style="position: fixed; top: 10px; left: 10px; font-size: 24px; cursor: pointer;"></i>


<app-picture-popup></app-picture-popup>
<app-betra-popup (messageEvent)="popupButtonPressed($event)"></app-betra-popup>
<app-profile-popup></app-profile-popup>