<app-page-shell (messageEvent)="loginClicked ($event)" [userId]="userId" [imgSrcFile]="imgSrcFile"
    [pageTitle]="'Reset Password'" [headerObj]="headerObj" [userStatus]="userStatus" [stickyBottomFlg]="true">

    <div class="matches-card" *ngIf="user">
        <div *ngIf="!emailVerifyCode" class="important-notice">No code received!</div>
        <div *ngIf="successFlg" class="important-notice">Success. Your password has been changed!</div>
        <div *ngIf="emailVerifyCode>0 && !successFlg">
            <div>Enter your new password</div>
            <app-text-with-enter [placeHolder]="'New Password'" [maxLength]="30"
                (messageEvent)="textValueSubmitted($event)"></app-text-with-enter>
        </div>
        
        <app-spinner [loadingFlg]="loadingFlg" [errorMessage]="errorMessage"></app-spinner>
    </div>
</app-page-shell>