<app-spinner [loadingFlg]="loadingFlg" [errorMessage]="errorMessage"></app-spinner>

<div style="padding: 10px;" *ngIf="requestNum==1" class="basic-cell">
    <div *ngIf="messageSentFlg">Message Sent.</div>
    <div *ngIf="requestNum==1">
        <div *ngIf="matchUser.matchObj.you_info_request=='X'">Sorry, but {{matchUser.firstName}} has rejected your
            request.</div>
        <div *ngIf="matchUser.matchObj.you_info_request=='A'"><i class="fa fa-envelope"></i> Info has been
            delivered. Check your messages.</div>
        <div *ngIf="!matchUser.matchObj.you_info_request" class="gray-text">Would you like to have {{matchUser.firstName}}'s email address and
            phone number? Click the "Request Info" button below. If your request is accepted, you will
            receive them in a chat.</div>
        <div *ngIf="matchUser.matchObj.you_info_request == 'Y'"><i class="fa fa-paper-plane"></i> You have already
            requested info. Awaiting Reply.
        </div>
        <div *ngIf="!loadingFlg && !messageSentFlg && !matchUser.matchObj.you_info_request">
            <button (mousedown)="requestNum=0" class="btn btn-secondary">Cancel</button>&nbsp;
            <button (mousedown)="processAPIRequest('requestInfo')" class="btn btn-main-color">Request Info</button>
        </div>
    </div>
    <div *ngIf="sendMessage"><i class="fa fa-paper-plane"></i> {{sendMessage}}</div>
</div>

<div *ngIf="matchUser.matchObj.match_info_request == 'Y'" class="tan-box">
    <div>{{matchUser.firstName}} has requested to receive your email address and phone number.</div>
    <div *ngIf="!loadingFlg && !sendMessage">
        <button (mousedown)="processAPIRequest('rejectInfoRequest')" class="btn btn-secondary">Reject</button>&nbsp;
        <button (mousedown)="processAPIRequest('approveInfoRequest')" class="btn btn-main-color">Approve</button>
    </div>
    <div *ngIf="sendMessage"><i class="fa fa-paper-plane"></i> {{sendMessage}}</div>
</div>