<app-page-shell [userId]="userId" [pageTitle]="'App-Setup'" [headerObj]="headerObj" [userStatus]="userStatus"
    [stickyBottomFlg]="true">

    <div class="matches-card" style="text-align: left;">
        <div>Version: <span class="text-highlight">{{appVersion}}</span></div>
        <div>https://betra-workspace.slack.com</div>

        <div class="tan-box">
            <div><b>Create Angular Project</b>
                <i (mousedown)="changeMenuNum(1)" class="fa fa-plus plus-sign"></i>
            </div>
            <div *ngIf="menuNum==1">
                <li>node -v <span class="gray-text">(version 10.9.0 or later)</span></li>
                <li>npm -v <span class="gray-text">(i'm using 8.19.2)</span></li>
                <li>ng version <span class="gray-text">(currently 13.2.7)</span></li>
                <li>npm install -g @angular/cli <span class="gray-text">(if not installed)</span></li>
                <li>ionic -v <span class="gray-text">(currently 6.20.8)</span></li>
                <li>npm install -g @ionic/cli <span class="gray-text">(if not installed)</span></li>
                <li>cordova -v <span class="gray-text">(currently 11.1.0)</span></li>
                <li>npm install -g cordova <span class="gray-text">(if not installed)</span></li>
                <hr>
                <li>ng new my-app</li>
                <li>cd my-app</li>
                <li>npm install bootstrap jquery popper.js --save-dev</li>
                <li>npm install font-awesome --save-dev</li>
                <li>ng serve -o</li>
            </div>
        </div>
        <div class="tan-box">
            <div><b>Download Project</b>
                <i (mousedown)="changeMenuNum(2)" class="fa fa-plus plus-sign"></i>
            </div>
            <div *ngIf="menuNum==2">
                <li>git clone https://github.com/RickSDK/betra.git</li>
                <!--<li>npm install --save angularx-social-login --force </li>-->
                <li>npm install --legacy-peer-deps</li>
                <li>export NODE_OPTIONS=--openssl-legacy-provider</li>
                <li>ng serve -o</li>
            </div>
        </div>
        <div class="tan-box">
            <div><b>Git Commit Project</b>
                <i (mousedown)="changeMenuNum(3)" class="fa fa-plus plus-sign"></i>
            </div>
            <div *ngIf="menuNum==3">
                <li>git status</li>
                <li>git add -A</li>
                <li>git commit -m "trying to make it better"</li>
                <li>git push</li>
            </div>
        </div>
        <div class="tan-box">
            <div><b>Converting Angular to capacitor</b>
                <i (mousedown)="changeMenuNum(4)" class="fa fa-plus plus-sign"></i>
            </div>
            <div *ngIf="menuNum==4">
                <li>npm install @capacitor/core</li>
                <li>npm install @capacitor/cli</li>
                <li>npx cap init</li>
                <li>Edit capacitor.config.ts: webDir: 'dist/betra',</li>
                <li>npm install @capacitor/ios @capacitor/android</li>
                <li>npx cap add ios</li>
                <li>npx cap add android</li>
                <li>ng serve -o<span class="gray-text">
                        <-- make sure it runs</span>
                </li>
            </div>
        </div>
        <div class="tan-box">
            <div><b>index.html</b>
                <i (mousedown)="changeMenuNum(5)" class="fa fa-plus plus-sign"></i>
            </div>
            <div *ngIf="menuNum==5">
                <div>Add the following files to assets folder:</div>
                <li>favicon.ico (28px)</li>
                <li>Icon.png (192px)</li>
                <li>Icon128.png (128px)</li>
                <li>Launch.png (320x483)</li>
                <li>manifest.json</li>
                <div>Make sure index.html has the following code:</div>
                <hr>
                &lt;meta name="viewport"
                content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0,
                maximum-scale=1.0, user-scalable=no"&gt;<br>
                &lt;meta name="apple-mobile-web-app-capable" content="yes"&gt;<br>
                &lt;meta name="mobile-web-app-capable" content="yes"&gt;<br>
                &lt;meta name="apple-mobile-web-app-title" content="Title"&gt;<br>
                &lt;meta name="apple-mobile-web-app-status-bar-style" content="black"&gt;<br>
                &lt;meta name="description" content="desc"&gt;<br>

                &lt;link rel="apple-touch-icon" href="assets/Icon.png"&gt;<br>
                &lt;link rel="apple-touch-startup-image" href="assets/launch.png"&gt;<br>
                &lt;link rel="apple-touch-icon-precomposed" sizes="128x128" href="assets/Icon128.png"&gt;<br>
                &lt;link rel="shortcut icon" sizes="196x196" href="assets/Icon.png"&gt;<br>
                &lt;link rel="shortcut icon" sizes="128x128" href="assets/Icon128.png"&gt;<br>
                &lt;link rel="shortcut icon" type="image/x-icon" href="assets/favicon.ico"&gt;<br>
                &lt;link rel="manifest" href="assets/manifest.json"&gt;<br>
            </div>
        </div>
        <div class="tan-box">
            <div><b>Manifest</b>
                <i (mousedown)="changeMenuNum(6)" class="fa fa-plus plus-sign"></i>
            </div>
            <div *ngIf="menuNum==6">
                <li>create manifest.json </li>
                <li>add to assets folder</li>
                &#123;<br>
                "short_name": "AppName", <br>
                "name": "App Name", <br>
                "icons": [ <br>
                &#123;<br>
                "src": "Icon.png", <br>
                "sizes": "192x192", <br>
                "type": "image/png" <br>
                &#125; <br>
                ], <br>
                "start_url": "ptp/index.html", <br>
                "display": "fullscreen", <br>
                "orientation": "portrait" <br>
                &#125;<br>
            </div>
        </div>
        <div class="tan-box">
            <div><b>Build & Deploy Web Project</b>
                <i (mousedown)="changeMenuNum(7)" class="fa fa-plus plus-sign"></i>
            </div>
            <div *ngIf="menuNum==7">
                <li>edit jsLib.js, change platform to 0, update version</li>
                <li>ng serve -o <span class="gray-text">(make sure it looks right)</span></li>
                <li>ng build --prod</li>
                <li>Delete 6 files in root folder</li>
                <li>FTP 6 files to root folder</li>
            </div>
        </div>
        <div class="tan-box">
            <div><b>Build & Deploy Android Project</b>
                <i (mousedown)="changeMenuNum(8)" class="fa fa-plus plus-sign"></i>
            </div>
            <div *ngIf="menuNum==8">
                <li>edit jsLib.js, change platform to 1, update version</li>
                <li>ng serve -o <span class="gray-text">(make sure it looks right)</span></li>
                <li>ng build --prod</li>
                <li>npx cap sync</li>
                <li>npx cap open android <span class="gray-text">(takes about 5 minutes)</span></li>
                <li>Press green triangle <span class="gray-text">(takes about 15 minutes)</span></li>
                <li>Select "Build" tab at the bottom to see progress</li>
                <li>Verify app looks good</li>
                <li>Update android/app/build.gradle, incriment versionCode by 1, write new version <span class="text-highlight">{{appVersion}}</span> in versionName.</li>
                <li>Press red Square to stop</li>
                <li>Build --> Clean Project</li>
                <li>Click "Build --> Generate Signed Bundle", select "Android App Bundle", click "Next", betraKey99z
                </li>
                <li>Should say, "App bundle(s) generated successfully"</li>
                <hr>
                <li><i class="fa fa-android"></i> &nbsp;<a
                        href="https://play.google.com/apps/publish/?account=6357535332490911568#AppListPlace"
                        target="_new">https://play.google.com/apps/publish/</a></li>
                <li>Click "Betra Dating"</li>
                <li>Click Production, "Create new release"</li>
                <li>Release > Production, upload bundle (betra/android/app/release/app-release.aab)</li>
                <li>Verify correct version and Release name show up.</li>
                <li>Add release notes, press Next, Save, "Go to Overview"</li>
                <li>click, "Send 1 change for review", "Send changes for review"</li>
            </div>
        </div>
        <div class="tan-box">
            <div><b>Build & Deploy IOS Project</b>
                <i (mousedown)="changeMenuNum(9)" class="fa fa-plus plus-sign"></i>
            </div>
            <div *ngIf="menuNum==9">
                <li>make sure capacitor.config.ts has this line: ios: &#123; contentInset: 'always'&#125;,</li>
                <li>edit jsLib.js, change platform to 2, update version</li>
                <li>ng serve -o <span class="gray-text">(make sure it looks right)</span></li>
                <li>ng build --prod</li>
                <li>npx cap sync</li>
                <li>npx cap open ios <span class="gray-text">(takes about 5 minutes)</span></li>
                <hr>
                <li>Make sure all assets are in place.</li>
                <li>Click "App --> General", set version and build number</li>
                <li>Press build button (Triangle) <span class="gray-text">(takes about 5 minutes)</span></li>
                <li>Press stop, then home on the simulator, then app icon to launch</li>
                <li>Top, click App --> Any IOS Device (arm64)</li>
                <li>Product --> Archive</li>
                <li>Click "Distribute App"</li>
                <hr>
                <li><a href="https://appstoreconnect.apple.com/login"
                    target="new">https://appstoreconnect.apple.com/</a></li>
                <li></li>
            </div>
        </div>
        <div class="tan-box">
            <div><b>Setting up IOS Project</b>
                <i (mousedown)="changeMenuNum(10)" class="fa fa-plus plus-sign"></i>
            </div>
            <div *ngIf="menuNum==10">
                <li><a href="https://appstoreconnect.apple.com/login"
                        target="new">https://appstoreconnect.apple.com/</a></li>
                <li><a href="https://developer.apple.com/account/resources/certificates/list"
                        target="new">https://developer.apple.com/</a></li>
                <li>make sure capacitor.config.ts has this line: ios: &#123; contentInset: 'always'&#125;,</li>
                <li>Make sure all assets are in place.</li>
                <li>Left Side, Click App --> Singing & Capabilities, select Team</li>
                <li>Top, click App --> Any IOS Device (arm64)</li>
                <li>Product --> Archive</li>
            </div>
        </div>

        <div class="tan-box">
            <div><b>In-App Purchases with Capacitor</b>
                <i (mousedown)="changeMenuNum(11)" class="fa fa-plus plus-sign"></i>
            </div>
            <div *ngIf="menuNum==11">

                <li><a href="https://capacitorjs.com/docs/guides/in-app-purchases"
                        target="new">https://capacitorjs.com/docs/guides/in-app-purchases</a></li>
                <li><a href="https://devdactic.com/ionic-in-app-purchase-capacitor"
                        target="new">https://devdactic.com/ionic-in-app-purchase-capacitor</a></li>
                <li>npm install cordova-plugin-purchase</li>
                <li>npx cap update</li>
                <li>add "Content-Security-Policy" meta tag to index.html</li>
                <hr>
                <table border="1" style="font-size: 12px; background-color: white;">
                    <tr>
                        <th>Category</th>
                        <th>Name</th>
                        <th>ProductId</th>
                        <th>Type</th>
                        <th>Amount</th>
                    </tr>
                    <tr>
                        <td>In-App Purchases</td>
                        <td>1-Month Plan</td>
                        <td>plan1</td>
                        <td>Non-Consumable</td>
                        <td>$1.99</td>
                    </tr>
                    <tr>
                        <td>In-App Purchases</td>
                        <td>12-Month Plan</td>
                        <td>plan12</td>
                        <td>Consumable</td>
                        <td>$129.99</td>
                    </tr>
                    <tr>
                        <td>In-App Purchases</td>
                        <td>3-Month Plan</td>
                        <td>plan3</td>
                        <td>Consumable</td>
                        <td>$47.99</td>
                    </tr>
                    <tr>
                        <td>Subscriptions</td>
                        <td>1-Month Subscription</td>
                        <td>subscription1</td>
                        <td>subscription-base1</td>
                        <td>$19.99</td>
                    </tr>
                    <tr>
                        <td>Subscriptions</td>
                        <td>1-Month Promo</td>
                        <td>promo1 base-plan-1</td>
                        <td>promo-base-1 offer1</td>
                        <td>$1.99</td>
                    </tr>
                </table>
                <li><i class="fa fa-apple"></i> &nbsp; Create Products<a href="https://appstoreconnect.apple.com/login"
                        target="new">https://appstoreconnect.apple.com/</a></li>
                <li>Click "My Apps" -> Betra Dating --> In-App Purchases</li>
                <hr>
                <li><i class="fa fa-android"></i> &nbsp;create stuff <a
                        href="https://play.google.com/apps/publish/?account=6357535332490911568#AppListPlace"
                        target="_new">https://play.google.com/apps/publish/</a></li>
                <li>Click Monetize -> In-App products</li>

            </div>
        </div>

        <div class="tan-box">
            <div><b>Superpowers Download Build & Deploy</b>
                <i (mousedown)="changeMenuNum(12)" class="fa fa-plus plus-sign"></i>
            </div>
            <div *ngIf="menuNum==12">
                git clone https://github.com/RickSDK/sp2.git<br>
                npm install<br>
                export NODE_OPTIONS=--openssl-legacy-provider<br>
                ng serve -o<br>
                npm install @capacitor/core<br>
                npm install @capacitor/cli<br>
                npx cap init<br>
                name: superpowers<br>
                bundle: com.mydomain.superpowers<br>
                Edit capacitor.config.ts: webDir: 'dist/superpowers',<br>
                make sure capacitor.config.ts has this line: ios: &#123; contentInset: 'always'&#125;,<br>
                npm install @capacitor/ios @capacitor/android<br>
                npx cap add ios<br>
                npx cap add android<br>
                ng serve -o<br>
                ng build --prod<br>
                npx cap sync<br>
                npx cap open ios<br>
                <hr>
                Click App -> Assets, Add assets.<br>
                Left Side, Click App --> Singing & Capabilities, select Team<br>
                Left Side, Click App --> General, set Version & Build<br>
                Top, click App --> Any IOS Device (arm64)<br>
                Product --> Archive<br>
                Distribute to app store<br>
                <hr>
                <li><a href="https://appstoreconnect.apple.com/login"
                        target="new">https://appstoreconnect.apple.com/</a></li>
                <li>Add new version</li>
                <hr>
                export NODE_OPTIONS=--openssl-legacy-provider<br>
                ng serve -o<br>
                ng build --prod<br>
                npx cap sync<br>
                <li>npx cap open android <span class="gray-text">(takes about 5 minutes)</span></li>
                <li>Press green triangle <span class="gray-text">(takes about 5 minutes)</span></li>
                <li>Select "Build" tab at the bottom to see progress</li>
                <li>Verify app looks good</li>
                <li>Update android/app/build.gradle, incriment versionCode by 1, write new version in versionName.</li>
                id="com.mydomain.superpowers", version="2.1.0" <br>
                password: spKeyGen99<br>
                <li>Build --> Clean Project</li>
                <li>key: spKey99z</li>
                <li>Click "Build --> Generate Signed Bundle", select "Android App Bundle", click "Next", betraKey99z
                </li>
                <li>Should say, "App bundle(s) generated successfully"</li>
                <hr>
                <li><i class="fa fa-android"></i> &nbsp;<a
                        href="https://play.google.com/apps/publish/?account=6357535332490911568#AppListPlace"
                        target="_new">https://play.google.com/apps/publish/</a></li>
                <li>Click, "Create New Release"</li>

            </div>
        </div>
        <div class="tan-box">
            <div><b>Icons with Capacitor</b>
                <i (mousedown)="changeMenuNum(13)" class="fa fa-plus plus-sign"></i>
            </div>
            <div *ngIf="menuNum==13">
                <li>npm install capacitor-resources</li>
                <li>Create the folder which is named "resources" under the root (same level as node_modules)</li>
                <li>Add your icon.png (1024x1024 px) and splash.png (2732x2732 px)</li>
                <li>edit package.json, under "scripts", add: "resources": "capacitor-resources -p android,ios",</li>
                <li>npm run resources</li>
            </div>
        </div>
        <div class="tan-box">
            <div><b>Admob</b>
                <i (mousedown)="changeMenuNum(14)" class="fa fa-plus plus-sign"></i>
            </div>
            <div *ngIf="menuNum==14">
                <li><a href="https://apps.admob.com/v2/home?_ga=2.172739431.536938062.1680197870-11998480.1679965377&_gl=1*1qhsj3l*_ga*MTE5OTg0ODAuMTY3OTk2NTM3Nw..*_ga_6R1K8XRD9P*MTY4MDE5Nzg3MC4zLjAuMTY4MDE5Nzg3MC4wLjAuMA..">Admob</a></li>
                <li>npm install @capacitor-community/admob</li>
                <li>npx cap update</li>
                <li>Instructions: https://github.com/capacitor-community/admob</li>
                <li><a href="https://developers.google.com/admob/android/quick-start#import_the_mobile_ads_sdk">https://developers.google.com/admob/android/quick-start#import_the_mobile_ads_sdk</a></li>
                <li><a href="https://apps.admob.com/v2/home">https://apps.admob.com/v2/home</a></li>
                <div class="border-box">
                    <div><b>Betra Android</b></div>
                    <li>AppId: ca-app-pub-2626924352662007~5344839130</li>
                    <li>Ad Unit: ca-app-pub-2626924352662007/1324088676</li>    
                </div>
                <li><a href="https://developers.google.com/admob/ios/quick-start">https://developers.google.com/admob/ios/quick-start</a></li>
                <li><a href="https://developers.google.com/admob/ios/banner">https://developers.google.com/admob/ios/banner</a></li>
                <div class="border-box">
                    <div><b>Betra IOS</b></div>
                    <li>AppId: ca-app-pub-2626924352662007~9317557943</li>
                    <li>Ad Unit: ca-app-pub-2626924352662007/3670479598</li>    
                </div>
            </div>
        </div>
    </div>
</app-page-shell>