.plus-sign {
    background-color: rgb(19, 58, 158); border-radius: 50%; padding: 3px; text-align: center; color: white; float: right;
    cursor: pointer;
}
.plus-sign:hover {
    background-color: rgb(4, 138, 138);
    box-shadow: 2px 2px 2px gray;;
}