<app-page-shell (messageEvent)="loginClicked ($event)" [userId]="userId" [imgSrcFile]="imgSrcFile"
    [pageTitle]="'Reputation'" [headerObj]="headerObj" [userStatus]="userStatus" [stickyBottomFlg]="true">

    <div class="matches-card">
        <div style="text-align: center;">
            <button style="float: left;" [routerLink]="['']" class="btn btn-main-color btn-small">Home</button>&nbsp;
            <span class="main-title">Reputation</span>
            <img src="assets/images/betraLogo.png" height="25" style="float: right;">
        </div>
        <hr>
        <div class="gray-text" style="text-align: left;">
            <p>Having a high <span class="red-text">Reputation Score</span> is important to Betra users.
                This is a way of confirming you are who you say you are.
            </p>
            <p>
                This is a safety feature and users should be cautious about meeting someone with a very low
                reputation score.
            </p>
            <p>You receive 1 point for each of the following items that you confirm, for a maximum score of 7 points.
                None of these items will be shared or visible to anyone.
            </p>
        </div>
        <div >
            <div style="display: inline-block; text-align: left; max-width: 300px;" class="border-box">
                <div *ngFor="let item of items; let i = index;">
                    <span style="display: inline-block; width: 100px;"><i
                            [class]="item.icon"></i> {{item.name}}</span>
                    <i class="fa fa-check" *ngIf="item.score>0" style="color: green;"></i>
                    <button (mousedown)="editItemNum(item.id)" *ngIf="item.score==0"
                        class="btn btn-main-color btn-small">confirm</button>
                    <div *ngIf="i==1" style="font-size: 8px; color: gray;">
                        <div>Note: Your email address and phone will not be seen by anyone.</div>
                    </div>
                    <div *ngIf="i==3" style="font-size: 8px; color: gray;">
                        <div>Note: Your gps location will not be seen by anyone. Only used to calculate distance from
                            other
                            users.</div>
                    </div>
                    <div *ngIf="i==6" style="font-size: 8px; color: gray;">
                        <div>Note: Your social links will not be seen by anyone. Only used for your reputation score.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-spinner [loadingFlg]="loadingFlg" [errorMessage]="errorMessage"></app-spinner>
        <div *ngIf="0" class="important-notice">Thank you. Your info has been submitted!</div>
        <div *ngIf="!loadingFlg">
            <div *ngIf="selectedItemNum==1" class="tan-box">
                <div>Your email address has not yet been confirmed. Go here to fix that:</div>
                <button [routerLink]="['/profile']" [queryParams]="{num: 1}" class="btn btn-main-color">Profile</button>
            </div>
            <div *ngIf="selectedItemNum==2" class="tan-box">
                <div>Phone confirm feature coming soon.</div>
            </div>
            <div *ngIf="selectedItemNum==3" class="tan-box">
                <div>Click here to verify your picture:</div>
                <button [routerLink]="['/verify-pics']" class="btn btn-main-color">Verify Pic</button>
            </div>
            <div *ngIf="selectedItemNum==4" class="tan-box">
                <div>Click here to verify your Location:</div>
                <div *ngIf="searchLocFlg" id="gpsMessage" name="gpsMessage" class="important-notice"></div>
                <button [routerLink]="['/location']" class="btn btn-main-color">Verify
                    Location</button>
                <div *ngIf="searchLocFlg">
                    <div>Latitude: <span id="latitude" class="text-highlight"></span></div>
                    <div>Longitude: <span id="longitude" class="text-highlight"></span></div>
                    <button (mousedown)="uploadCoords()" class="btn btn-main-color">Upload Your Coords</button>
                </div>
            </div>
            <div *ngIf="selectedItemNum>=5" class="tan-box">
                <div>Add a link to your {{items[selectedItemNum-1].name}} profile.</div>
                <div class="gray-text" *ngIf="value && value.length>0">Note: Your url has been uploaded and is awaiting
                    verification. This might take a couple of days.</div>
                <app-text-with-enter [value]="value" [placeHolder]="'http://'"
                    (messageEvent)="textValueSubmitted($event)">
                </app-text-with-enter>
            </div>
        </div>
        <div>&nbsp;</div>
        <div style="font-size: 12px;" class="red-text">Your Reputation Score</div>
        <div><span class="text-highlight" style="font-size: 48px;">{{reputationScore}}</span></div>
    </div>
</app-page-shell>