<app-page-shell [userId]="userId" [pageTitle]="'About'" [headerObj]="headerObj">

    <div class="matches-card" style="text-align: left;">
        <div style="text-align: center; padding: 20px;"><i class="fa fa-heart red-text" style="font-size: 32px;"></i></div>
        <p><span class="red-text">Betra</span> is a brand new dating app for the next generation. This will be the most fun
            you have ever had in the dating world.</p>
        <p>Some of the unique features include:</p>
        <ul>
            <li>Most advanced <span class="red-text">filters</span> in the industry.</li>
            <li>Access to more <span class="red-text">data</span> on potential singles than any other app.</li>
            <li>Limited to 8 people in your active <span class="red-text">dating pool </span>to help you manage your
                dating life.</li>
            <li>See who your prospective matches are dating!</li>
            <li>Read and Write <span class="red-text">reviews</span> on your potential dates.</li>
            <li>Keep an active <span class="red-text">journal</span> of your dating life. Read other people's journals.
            </li>
            <li>Share advice with other members of the community. We are all in this together.</li>
        </ul>
        <p>Join the fun today! It is free and easy to sign up.</p>
    </div>

</app-page-shell>

