<app-page-shell (messageEvent)="loginClicked ($event)" [userId]="userId" [pageTitle]="'About'">
    <img class="background-img" src="assets/images/coffeeShop.jpg" alt="Coffee Shop">
     <div class="standard-card">
        <p>userId {{userId}}</p>
        <div *ngIf="user">
            firstName: {{user.firstName}}
            <p>Info coming soon!</p>
            <!--<div>Features we are hoping to have:</div>
            <li>Swiping profiles to get matches.</li>
            <li>Users can read & write reviews on their dates!</li>
            <li>Ability to meet someone for coffee on demand. Think Uber for coffee dates.</li>
            <li>Ability to generate money by meeting people for conversation -- (Uber for dating) details coming soon.</li>
            -->
        </div>
    </div>
</app-page-shell>
