<app-page-shell [userId]="userId" [pageTitle]="'About'" [headerObj]="headerObj" [userStatus]="userStatus"
    [stickyBottomFlg]="true">

    <div class="matches-card" style="text-align: center;">
        <img src="assets/images/betraLogo.png" height="100">
        <p><span class="red-text">Betra</span> is NOT a dating app! It's new exclusive reality dating experience
            for the next generation and guaranteed to be the
            <span class="red-text">MOST FUN</span>
            you've ever had dating.
        </p>

    </div>
    <app-betra-features></app-betra-features>
</app-page-shell>