<app-page-shell (messageEvent)="loginClicked ($event)" [pageTitle]="'Safety Features'" [userId]="userId"
    [imgSrcFile]="imgSrcFile" [headerObj]="headerObj" [userStatus]="userStatus" [stickyBottomFlg]="true">

    <div class="matches-card" *ngIf="user && user.ownerFlg">
        <app-top-header [topTitle]="'Recent Users'"></app-top-header>
        <hr>
        <app-owners-menu [pageTitle]="'Users'" [page]="1"></app-owners-menu>
        <app-spinner [loadingFlg]="loadingFlg" [errorMessage]="errorMessage"></app-spinner>
        <hr>
        <div class="tan-box" style="font-size: 10px; text-align: left;">
            <div>The following table shows the latest 100 users to create an account.</div>
        </div>

        <table style="font-size: 10px;">
            <tr>
                <th>Name</th>
                <th *ngIf="showContactInfo && userId==1">Email</th>
                <th *ngIf="showContactInfo && userId==1">Phone</th>
                <th>G</th>
                <th>State</th>
                <th>Lat</th>
                <th>Pic</th>
                <th>Status</th>
                <th>Owner</th>
                <th>Swipes</th>
                <th>Matches</th>
                <th>Created</th>
                <th *ngIf="userId==1">Email</th>
            </tr>
            <tr *ngFor="let user of users">
                <td>{{user.firstName}}</td>
                <td *ngIf="showContactInfo && userId==1">{{user.email}}</td>
                <td *ngIf="showContactInfo && userId==1">{{user.phone}}</td>
                <td>{{user.gender}}</td>
                <td>{{user.state}}</td>
                <td>{{user.lat}}</td>
                <td>{{user.profilePic}}</td>
                <td>{{user.userStatus}}</td>
                <td>{{user.ownerFlg}}</td>
                <td>{{user.statsObj.matchLevel1}}</td>
                <td>{{user.statsObj.matchLevel2}}</td>
                <td>{{user.localDate}}</td>
                <td  *ngIf="userId==1">
                    <button *ngIf="user.userStatus != 'Deleted' && (!user.emailNum || (user.emailNum==1 && user.userStatus=='Active'))" class="btn btn-primary" (mousedown)="sendWelcomeEmail(user)" [disabled]="loadingFlg"><i class="fa fa-envelope"></i></button>
                    {{user.emailNum}}
                </td>
                
            </tr>
        </table>

        <div *ngIf="userId==1" style="font-size: 8px;">
            <hr>
            <div>Owners</div>
            <span *ngFor="let user of users"><span *ngIf="user.ownerFlg=='Y'">{{user.email}}; </span></span>
            <hr>
            <div>Non-Owners</div>
            <span *ngFor="let user of users"><span *ngIf="user.ownerFlg!='Y'">{{user.email}}; </span></span>
        </div>

    </div>
</app-page-shell>