.top-bar {
    background-color: white;
    padding: 0px 10px;
    color: black;
    vertical-align: middle;
    height: 60px;
    white-space: nowrap; 
    overflow: hidden;
}
.product-logo {
    font-size: 36px;
    font-weight: 800;
    cursor: pointer;
}
.product-icon {
    color: #b7121f;
}
.icon-button {
    color: #b7121f;
    font-size: 36px;
    font-weight: 800;
    margin-right: 10px;
    cursor: pointer;
}
.icon-button:hover {
    color: #444;
}
.login-button {
    background-color: white;
    border: 1px solid #b7121f;
    color: black;
}
.login-button:hover {
    background-color: #ccc;
}
.hamburger-menu {
    font-size: 32px;
    color: #b7121f;
    cursor: pointer;
}
.hamburger-menu:hover {
    color: #444;
}
.profilePic {
    width: 44px;
    max-height: 44px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
.profilePic:hover {
    filter: grayscale(90%);
}
.main-menu-popup {
    background-color: white;
    display: inline-block;
    position: fixed;
    top: 60px;
    
    width: 100%;
    max-width: 220px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid black;
    padding: 0;
    text-align: center;
    z-index: 100;
}
.popup-show {
    opacity: 1;
    right: 10px;
    transition: all 1s ease;
}
.popup-hide {
     opacity: 0;
     right: -220px;
    transition: all 1s ease;
}
.main-menu-item {
    padding: 10px;
    cursor: pointer;
}
.main-menu-item:hover {
    background-color: #b7121f;
    color: white;
}
.menu-darkener {
    display: block;
    position: fixed;
    top: 60px;
    left: 0;
    background-color: black;
    height: 100%;
    width: 100%;
    z-index: 99;
    opacity: .5;
}
.outer-frame {
    text-align: center;
}
.inner-frame {
    display: inline-block;
    width: 100%;
    max-width: 900px;
}
@media screen and (max-width: 600px) {
    .hide-sm {
        display: none;
    }
 }
 @media screen and (max-width: 540px) {
    .hide-xs {
        display: none;
    }
 }