<div class="top-bar" *ngIf="headerObj">
    <table width="100%" border="0">
        <tr>
            <td>
                <span id="logo" class="product-logo" [routerLink]="['']"><i
                        class="fa fa-heart product-icon"></i><span class="hide-xxs">Betra</span></span>
                <div style="font-size: 9px; position: absolute; left: 20px; top: 44px; color: gray;">
                    Beta Version 0.74
                </div>
            </td>
            <td align="center" width="100%" style="font-size: 14px; font-weight: 700;">
                <span class="hide-xs" *ngIf="pageTitle != 'Home'">{{pageTitle}}</span>
            </td>

            <td align="right" valign="middle" *ngIf="userId==0 || !userId">
                <button *ngIf="popupNum != 2" class="btn login-button" [routerLink]="['']" [queryParams]="{login: 1}">
                    Login
                </button>
            </td>
            <td *ngIf="userId==0 && pageTitle != 'Home'" width="44">
                <i [routerLink]="['/']" class="fa fa-home icon-button" title="Home"></i>
            </td>
            <td *ngIf="userId>0 && userStatus == 'Active'">
                <span class="menu-circle">
                    <i [routerLink]="['/user-detail']" class="fa fa-search icon-button"></i>
                    <span class="icon-label">Browse</span>
                </span>
                <span class="menu-circle">
                    <i [routerLink]="['/matches']" class="fa fa-users icon-button"></i>
                    <span class="icon-label">My Dating Pool</span>
                </span>
                <span class="menu-circle">
                    <i [routerLink]="['/notifications']" class="fa fa-bell icon-button"></i><span
                        [routerLink]="['/notifications']" *ngIf="headerObj.notifications>0"
                        class="red-circle">{{headerObj.notifications}}</span>
                    <span class="icon-label">Notifications</span>
                </span>
            </td>
            <td *ngIf="userId>0">
                <span class="menu-circle">
                    <img [routerLink]="['/user-detail']" [queryParams]="{uid: userId}" [src]="imgSrcFile"
                        class="profilePic" alt="Profile Picture" [title]="firstName">
                    <span class="icon-label">My Profile</span>
                </span>

            </td>
            <td *ngIf="userId>0" class="hide-md-up">
                <i (mousedown)="showMainMenuFlg = !showMainMenuFlg" class="fa fa-bars icon-button"></i>
            </td>
        </tr>
    </table>
</div>
<div class="outer-frame">
    <div class="inner-frame">

        <table width="100%" border="0">
            <tr>
                <td *ngIf="userId>0 && userStatus == 'Active'" class="hide-sm"
                    style="width: 200px;" valign="top">
                    <app-side-menu *ngIf="headerObj" [pageTitle]="pageTitle" [messageCount]="headerObj.messageCount"
                        [matchCount]="headerObj.matchCount" [headerObj]="headerObj"></app-side-menu>
                </td>
                <td valign="top" align="center" style="padding: 5px;">
                    <ng-content></ng-content>
                </td>
                <td *ngIf="userId>0 && userStatus == 'Active'" valign="top" align="center" class="hide-md" style="min-width: 200px;">
                    <div style="color: gray;">Sponsored</div>
                </td>
            </tr>
        </table>

        <!--<div *ngIf="0" class="container-md">
            <div class="row">
                <div *ngIf="userId>0 && headerObj.profileCompleteFlg && pageTitle != 'Profile'"
                    class="col-md-4 hide-md">
                    <app-side-menu *ngIf="headerObj" [pageTitle]="pageTitle" [messageCount]="headerObj.messageCount"
                        [matchCount]="headerObj.matchCount" [headerObj]="headerObj"></app-side-menu>
                </div>
                <div class="col-md" style="padding: 0; text-align: center;">
                    <ng-content></ng-content>
                    
                </div>
            </div>
        </div>-->
        <!--<ng-adsense [adClient]="'ca-pub-XXXXXXXXXX'" [pageLevelAds]="true"></ng-adsense>-->

    </div>

    <div class="container-fluid" *ngIf="showPromotionalBoxesFlg">
        <div class="row">
            <div class="col-md dark-red-box">
                <div><i class="fa fa-heart big-icon"></i></div>
                <p class="bottom-title">THE <span class="title-highlighted">#1 TRUSTED</span> DATING APP</p>
                <p class="text-small">According to us</p>
            </div>
            <div class="col-md dark-tan-box">
                <div><i class="fa fa-heart big-icon"></i></div>
                <p class="bottom-title">EVERY <span class="title-highlighted">14 MINUTES</span>, SOMEONE
                    FINDS LOVE ON BETRA</p>
                <p class="text-small">Give or take a few weeks</p>
            </div>
            <div class="col-md dark-blue-box">
                <div><i class="fa fa-heart big-icon"></i></div>
                <p class="bottom-title"><span class="title-highlighted">HIGHEST QUALITY</span> DATING POOL</p>
                <p class="text-small">In our opinion</p>
            </div>
        </div>
    </div>
    <div *ngIf="showAboutInfoFlg" style="background-color: #ccc; padding: 40px; text-align: center;">
        <div style="display: inline-block; width: 100%; max-width: 600px; text-align: left;">
            <p>Welcome to <span class="red-text">Betra</span>, the most fun you'll ever have dating. Browse through our
                incredible pool of local singles and simply indicate which ones you are interested in.
                If they also pick you, the dating game begins.</p>
            <p>What makes Betra unique is you are limited to just 8 people in your active dating pool at a time.
                Which means when you find a new interest, you must move someone else to your <span class="red-text">back
                    burner</span>.
                Its fun, and it helps you sort out your dating life.</p>
            <p>The goal is to find the one person you want to experience true love with.</p>
            <div style="font-size: 18px;"><b>Additional Unique Features:</b></div>
            <ul>
                <li>The best <span class="red-text">filters</span> in the industry.</li>
                <li>Personality <span class="red-text">quizes</span> to help you find the perfect match.</li>
                <li>Read and write <span class="red-text">reviews</span> about your dates.</li>
                <li>Tell the <span class="red-text">community</span> about your dating experiences, read what others
                    have to say.</li>
                <li><span class="red-text">Dating Pools</span> to help you manage your dating life.</li>
            </ul>
            <p>Betra is not just a dating app, its a community of singles all pulling together to try to help everyone
                get into solid relationships. So get started now, it's free!</p>
        </div>
    </div>
    <div class="bottom-bar">
        <div>
            <span [routerLink]="['/about']" class="text-link">About us</span> |
            <span [routerLink]="['/join-team']" class="text-link">Join Our Team</span> |
            <span class="text-link">Terms & Conditions</span> |
            <span class="text-link">Privacy Policy</span>
        </div>
        <div>&copy; 2022 Betra</div>
    </div>

</div>

<div class="menu-darkener" *ngIf="showMainMenuFlg" (mousedown)="showMainMenuFlg=false"></div>
<div [ngClass]="ngClassToggleMenu()">
    <div style="padding: 10px;">
        <app-side-menu *ngIf="headerObj" [pageTitle]="pageTitle" [headerObj]="headerObj"></app-side-menu>
    </div>
    <div (mousedown)="logout()" class="main-menu-item">Log Out</div>
</div>