.top-bar {
    background-color: white;
    padding: 0px 10px;
    color: black;
    vertical-align: middle;
    height: 60px;
    white-space: nowrap;
    overflow: hidden;
}

.product-logo {
    font-size: 36px;
    font-weight: 800;
    cursor: pointer;
}

.icon-button {
    background-color: #ddd;
    border-radius: 50%;
    padding: 8px;
    font-size: 28px;
    font-weight: 800;
    margin-right: 10px;
    cursor: pointer;
}

.icon-button:hover {
    color: #444;
}

.login-button {
    background-color: white;
    border: 1px solid #b7121f;
    color: black;
}

.login-button:hover {
    background-color: #ccc;
}

.profilePic {
    width: 44px;
    max-height: 44px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.profilePic:hover {
    filter: grayscale(90%);
}

.main-menu-item {
    padding: 10px;
    cursor: pointer;
}

.main-menu-item:hover {
    background-color: #b7121f;
    color: white;
}

.menu-darkener {
    display: block;
    position: fixed;
    top: 60px;
    left: 0;
    background-color: black;
    height: 100%;
    width: 100%;
    z-index: 99;
    opacity: .5;
}

.bottom-bar {
    background-color: #2a3a46;
    color: white;
}

.bottom-bar-sticky {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #2a3a46;
    color: white; 
}

.text-link {
    font-size: 12px;
    color: white;
    cursor: pointer;
}

.text-link:hover {
    text-decoration: underline;
}

.outer-frame {
    text-align: center;
    width: 100%;
}

.inner-frame {
    display: inline-block;
    width: 100%;
    max-width: 1200px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.bottom-title {
    font-size: 20px;
}

.title-highlighted {
    color: rgb(255, 203, 74);
}

.text-small {
    color: #ccc;
    font-size: 12px;
}

.big-icon {
    font-size: 32px;
    margin: 5px;
}

.red-circle {
    display: inline-block;
    border: 1px solid white;
    box-shadow: 1px 1px 3px black;
    cursor: pointer;
    min-width: 18px;
    margin-left: -25px;
    font-size: 12px;
    padding-top: -5px;
    text-align: center;
    color: white;
    border-radius: 50%;
}

.main-menu-popup {
    background-color: white;
    display: inline-block;
    position: fixed;
    top: 60px;
    width: 100%;
    max-width: 220px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid black;
    padding: 0;
    text-align: center;
    z-index: 100;
}

.popup-show {
    opacity: 1;
    right: 10px;
    transition: all 1s ease;
}

.popup-hide {
    opacity: 0;
    right: -220px;
    transition: all 1s ease;
}

@media screen and (min-width: 600px) {
    .hide-md-up {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .product-logo {
        font-size: 30px;
    }

    .icon-button {
        font-size: 24px;
    }
}

@media screen and (max-width: 500px) {
    .icon-button {
        font-size: 18px;
    }
}
