<div class="top-bar" *ngIf="headerObj">
    <table width="100%" border="0" style="margin-top: 5px;">
        <tr>
            <td *ngIf="pageTitle != 'Home'">
                <i (mousedown)="goBack()" class="fa fa-arrow-left back-button"></i>&nbsp;
                <img [routerLink]="['']" [src]="'assets/images/betraLogo.png'" height="50" style="cursor: pointer;">

            </td>
            <td *ngIf="pageTitle == 'Home'" style="position: relative;">
                <img [routerLink]="['']" [src]="'assets/images/betraLogo.png'" height="50" style="cursor: pointer;">

                <div *ngIf="1" style="font-size: 9px; position: absolute; left: 20px; top: 40px; color: gray;">
                    Beta Version {{appVersion}}
                </div>
            </td>
            <td align="center" width="100%">
                <span *ngIf="!userId" [routerLink]="['/blogs']" class="top-link">Blogs</span>
                <span *ngIf="!userId" [routerLink]="['/about']" class="top-link">About</span>
                <span *ngIf="!userId" [routerLink]="['/join-team']" class="top-link hide-xs">Join</span>
                <span *ngIf="!userId" [routerLink]="['/restaurant-promo']" class="top-link hide-xs">Promo</span>
                <span class="hide-xs" *ngIf="userId>0 && pageTitle != 'Home'">{{pageTitle}}</span>
            </td>

            <td align="right" valign="middle" *ngIf="userId==0 || !userId">
                <span *ngIf="!userId" [routerLink]="['']" [queryParams]="{login: 1}" class="top-link">Login</span>
            </td>
            <td *ngIf="(userId==0 || userStatus != 'Active') && pageTitle != 'Home'" width="44">
                <i [routerLink]="['/']" class="fa fa-home icon-button" title="Home"></i>
            </td>
            <td *ngIf="userId>0 && userStatus == 'Active'">
                <span class="menu-circle hide-xxs" [routerLink]="['/user-detail']">
                    <i class="fa fa-search icon-button main-color"></i>
                    <span class="icon-label main-color-bg">Browse</span>
                </span>
                <span class="menu-circle" [routerLink]="['/matches']">
                    <i class="fa fa-users icon-button main-color"></i>
                    <span class="icon-label main-color-bg">My Dating Pool</span>
                </span>
                <span class="menu-circle" [routerLink]="['/notifications']">
                    <i class="fa fa-bell icon-button main-color"></i><span *ngIf="headerObj.notifications>0"
                        class="red-circle">{{headerObj.notifications}}</span>
                    <span class="icon-label main-color-bg">Notifications</span>
                </span>
            </td>
            <td *ngIf="userId>0">
                <span class="menu-circle" [routerLink]="['/user-detail']" [queryParams]="{uid: userId}">
                    <img [src]="imgSrcFile" class="profilePic" alt="Profile Picture">
                    <span *ngIf="headerObj.newReviewBy>0" class="red-circle">{{headerObj.newReviewBy}}</span>
                    <span class="icon-label main-color-bg">My Profile</span>
                </span>

            </td>
            <td *ngIf="userId>0" class="hide-md-up">
                <i (mousedown)="showMainMenuFlg = !showMainMenuFlg" class="fa fa-bars icon-button"></i>
            </td>
        </tr>
    </table>
</div>
<div class="outer-frame">
    <div class="inner-frame" [style.padding-bottom]="stickyBottomFlg?'40px':'0px'">
        <div *ngIf="userId>0 && userStatus != 'Active' && pageTitle != 'Home' && pageTitle != 'Profile'">
            Finish Setting up your profile <button [routerLink]="['']" class="btn btn-danger">Profile</button>
        </div>
        <table width="100%" border="0">
            <tr>
                <td *ngIf="userId>0 && userStatus == 'Active'" class="hide-sm" width="200" style="width: 200px;"
                    valign="top">
                    <div style="position: fixed; top: 60px; left: 0; width: 200px;">
                        <app-side-menu *ngIf="headerObj" [pageTitle]="pageTitle" [messageCount]="headerObj.messageCount"
                            [matchCount]="headerObj.matchCount" [headerObj]="headerObj"></app-side-menu>
                    </div>
                </td>
                <td valign="top" align="center" style="position: relative;">
                    <ng-content></ng-content>

                    <div *ngIf="0" style="text-align: center;">
                        <div style="color: gray;">Google Ads</div>
                        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2626924352662007"
                            data-ad-slot="3410873039" data-ad-format="auto" data-full-width-responsive="true"></ins>
                    </div>

                </td>
                <td *ngIf="userId>0 && userStatus == 'Active'" valign="top" align="center" width="200" class="hide-md"
                    style="width: 200px;">
                    <div style="position: fixed; top: 60px; right: 0; width: 200px;">
                        <div style="color: gray;">Sponsored</div>
                        <!--<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2626924352662007"
                        data-ad-slot="3410873039" data-ad-format="auto" data-full-width-responsive="true"></ins>-->
                    </div>
                </td>
            </tr>
        </table>
    </div>


    <app-bottom-bar *ngIf="pageTitle != 'Profile'" [stickyBottomFlg]="stickyBottomFlg"></app-bottom-bar>
</div>


<div class="menu-darkener" *ngIf="showMainMenuFlg" (mousedown)="showMainMenuFlg=false"></div>
<div [ngClass]="ngClassToggleMenu()" *ngIf="userId>0">
    <div style="padding: 10px;">
        <app-side-menu *ngIf="headerObj" [pageTitle]="pageTitle" [headerObj]="headerObj"></app-side-menu>
    </div>
    <div (mousedown)="logout()" class="main-menu-item">Log Out</div>
</div>