.top-bar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
    padding: 0px 10px;
    color: black;
    vertical-align: middle;
    height: 60px;
    white-space: nowrap;
    overflow: hidden;
    z-index: 500;
    box-shadow: 2px 2px 5px #ccc;
}

.top-link {
    cursor: pointer;
    color: gray;
    font-size: 18px;
    margin: 7px;
    padding: 5px;
    font-weight: 700;
}
.top-link:hover {
    text-decoration: underline;
}

.hamburger-menu {
    font-size: 28px;
    margin: 5px;
    cursor: pointer;
}

.hamburger-menu:hover {
    color: #900;
}

.back-button {
    font-size: 32px;
    color: black;
    cursor: pointer;
}

.back-button:hover {
    color: #900;
}

.product-logo {
    line-height: 36px;
    font-size: 36px;
    font-weight: 800;
    cursor: pointer;
}

.icon-button {
    background-color: #ddd;
    border-radius: 50%;
    padding: 8px;
    font-size: 28px;
    font-weight: 800;
    margin-right: 10px;
    cursor: pointer;
}

.icon-button:hover {
    color: #444;
}

.login-button {
    background-color: white;
    border: 1px solid #b7121f;
    color: black;
}

.login-button:hover {
    background-color: #ccc;
}

.profilePic {
    width: 44px;
    max-height: 44px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.profilePic:hover {
    filter: grayscale(90%);
}

.main-menu-item {
    padding: 10px;
    cursor: pointer;
}

.main-menu-item:hover {
    background-color: #b7121f;
    color: white;
}

.menu-darkener {
    display: block;
    position: fixed;
    top: 60px;
    left: 0;
    background-color: black;
    height: 100%;
    width: 100%;
    z-index: 99;
    opacity: .5;
}

.menu-circle {
    position: relative;
}

.icon-label {
    position: absolute;
    margin: 0;
    top: 18px;
    left: -10px;
    z-index: 101;
}

.outer-frame {
    text-align: center;
    width: 100%;
    padding-top: 60px;
}

.inner-frame {
    display: inline-block;
    width: 100%;
    max-width: 1200px;
    padding-top: 20px;
    margin-bottom: 10px;
}

.red-circle {
    display: inline-block;
    border: 1px solid white;
    box-shadow: 1px 1px 3px black;
    cursor: pointer;
    min-width: 18px;
    margin-left: -25px;
    font-size: 12px;
    padding-top: -5px;
    text-align: center;
    color: white;
    border-radius: 50%;
}

.main-menu-popup {
    background-color: white;
    display: inline-block;
    position: fixed;
    top: 60px;
    width: 100%;
    max-width: 220px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid black;
    padding: 0;
    text-align: center;
    z-index: 500;
}

.popup-show {
    opacity: 1;
    right: 10px;
    transition: all 1s ease;
}

.popup-hide {
    opacity: 0;
    right: -220px;
    transition: all 1s ease;
}

@media screen and (min-width: 600px) {
    .hide-md-up {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .top-link {
        font-size: 14px;
    }
    .icon-button {
        font-size: 24px;
    }
}

@media screen and (max-width: 500px) {
    .icon-button {
        font-size: 18px;
    }
}
