<div [ngClass]="level==1?'matches-card':'reply-card'" *ngIf="journal">
    <table width="100%">
        <tr>
            <td align="right">
                <img [routerLink]="['/user-detail']" [queryParams]="{uid: journal.user_id}" [src]="journal.src"
                    class="profile-circle-small">
            </td>
            <td width="100%">
                <div style="position: relative;">{{journal.firstName}}
                    <span (mousedown)="showOptionsFlg=!showOptionsFlg" class="three-dots"><i
                            class="fa fa-ellipsis-v"></i></span>
                    <span *ngIf="showOptionsFlg" class="three-dots-menu">
                        <div (mousedown)="menuOptionPressed('flag')" class="three-dots-menu-option">Flag</div>
                        <div *ngIf="userId == journal.user_id" (mousedown)="menuOptionPressed('delete')"
                            class="three-dots-menu-option">
                            Delete</div>
                        <div *ngIf="userId == journal.user_id" (mousedown)="menuOptionPressed('edit')"
                            class="three-dots-menu-option">
                            Edit</div>
                    </span>
                </div>
                <div style="font-size: 10px; color: gray;">{{journal.localDt}}</div>
            </td>
        </tr>
    </table>
    <div class="confirmation-popup" *ngIf="showConfirmationFlg">
        <div>Are you sure you want to {{adminAction}} this entry?</div>
        <button (mousedown)="showConfirmationFlg=false" class="btn btn-warning">Cancel</button>&nbsp;
        <button (mousedown)="optionConfirmPressed()" class="btn btn-success">Yes</button>
    </div>
    <div style="text-align: left; font-size: 12px; color: gray;">
        <span *ngIf="journal.likes>0" [title]="journal.likeTitle">
            <i class="fa fa-thumbs-up" style="color: rgb(60, 158, 114);"></i>&nbsp;{{journal.likes}}&nbsp;
        </span>
        <span *ngIf="journal.dislikes>0" [title]="journal.dislikeTitle">
            <i class="fa fa-thumbs-down" 
                style="color: rgb(148, 96, 72);"></i>&nbsp;{{journal.dislikes}}&nbsp;    
        </span>
        <i *ngIf="journal.postFlagged" class="fa fa-flag" style="color: orange;"></i>&nbsp;
        <span *ngIf="journal.region == 'Bug'">
            <span>Status: <span class="red-text">{{journal.status}}</span></span>&nbsp;
            <span>Type: <span class="red-text">{{journal.bugType}}</span></span>&nbsp;
            <span>Device Type: <span class="red-text">{{journal.deviceType}}</span></span>&nbsp;
            <span>Version: <span class="red-text">{{journal.createdVersion}}</span></span>&nbsp;
            <span *ngIf="journal.status == 'Fixed'">Fixed: <span class="red-text">{{journal.fixedVersion}}
                    ({{journal.fixedDate}})</span></span>&nbsp;
        </span>

        <span (mousedown)="toggleReplies()" *ngIf="journal.replies==1" class="text-link"
            style="color: gray; float: right;">{{journal.replies}} comment</span>
        <span (mousedown)="toggleReplies()" *ngIf="journal.replies>1" class="text-link"
            style="color: gray; float: right;">{{journal.replies}} comments</span>
    </div>
    <div [ngClass]="level>1?'reply-post':'main-post'">
        <table width="100%" *ngIf="adminAction=='edit'">
            <tr>
                <td width="100%">
                    <app-text-area-input [id]="'journalEditText'" [value]="journal.messageText"></app-text-area-input>
                </td>
                <td align="center">
                    <button (mousedown)="submitButtonPressed()" class="btn btn-primary">Update</button>
                    <div>&nbsp;</div>
                    <a (mousedown)="adminAction=''" class="text-link">Cancel</a>
                </td>
            </tr>
        </table>
        <div *ngIf="journal.region != 'main'">
            <div *ngIf="adminAction!='edit'" [innerHTML]="journal.message"></div>
        </div>
        <div *ngIf="journal.region == 'main'">
            <div class="small-title">About Me</div>
            <div class="small-gray-box" *ngIf="adminAction!='edit'" [innerHTML]="journal.message"></div>
            <div class="small-title">My Recent Dating Life</div>
            <div class="small-gray-box" *ngIf="adminAction!='edit'" [innerHTML]="journal.history"></div>
            <div class="small-title">What I'm looking for</div>
            <div class="small-gray-box" *ngIf="adminAction!='edit'" [innerHTML]="journal.lookingFor"></div>
        </div>
    </div>
    <div style="text-align: left; font-size: 12px; color: gray;">
        <span *ngIf="!journal.iLikeFlg" (mousedown)="journalApiCall('likePost')" class="text-link">Like</span>&nbsp;
        <span *ngIf="!journal.iDislikeFlg" (mousedown)="journalApiCall('dislikePost')"
            class="text-link">Dislike</span>&nbsp;
        <span (mousedown)="toggleReply();" class="text-link">Reply</span>&nbsp;
        <span *ngIf="journal.imageNum>0" class="text-link" (mousedown)="showImageFlg=!showImageFlg">
            <i class="fa fa-picture-o"></i> Show Attachment</span>&nbsp;
        <span *ngIf="userId == journal.user_id" (mousedown)="toggleAttachment();"
            class="text-link">Attachment</span>&nbsp;
        <span *ngIf="journal.region == 'Bug' && userId == 1">
            <button *ngIf="journal.status != 'Fixed'" (mousedown)="journalApiCall('markAsFixed')"
                class="btn btn-primary">Fixed</button>&nbsp;
            <button *ngIf="journal.status != 'Fixed'" (mousedown)="journalApiCall('markAsBackBurner')"
                class="btn btn-primary">Back Burner</button>&nbsp;
        </span>
        <span *ngIf="journal.region == 'Discus' && userId == 1">
            <button *ngIf="journal.status != 'Closed'" (mousedown)="journalApiCall('markAsClosed')"
                class="btn btn-primary">Close</button>&nbsp;
        </span>

        <img *ngIf="showImageFlg" [src]="journal.imageSrc" width="100%">
    </div>
    <div *ngIf="showAttachmentFlg">
        <div>Note you can only have one attachment at a time. Uploading a new attachment will override the existing one.
        </div>
        <app-upload-image *ngIf="!loadingFlg" [src]="bugImgSrc" (messageEvent)="updateImageButtonClicked()">
        </app-upload-image>
    </div>
    <table *ngIf="replyToFlg" width="100%">
        <tr>
            <td>&nbsp;&nbsp;</td>
            <td valign="top" style="padding-top: 8px;">
                <img [routerLink]="['/user-detail']" [queryParams]="{uid: journal.user_id}" [src]="imgSrc"
                    class="profile-circle-small">
            </td>
            <td width="100%" valign="top">
                <input id="replyInputText" name="replyInputText" type="text" (keyup.enter)="sumbitReply()"
                    (input)="inputValueChanged($event)" maxLength="400">
                <span style="font-size: 8px; color: gray; float: right;">{{strLength}}/400</span>
            </td>
            <td valign="top" style="padding-top: 3px; padding-left: 5px;">
                <button (mousedown)="sumbitReply()" class="btn btn-primary"><i class="fa fa-paper-plane"></i></button>
            </td>
        </tr>
    </table>
    <app-journal-cell *ngFor="let reply of replies; let i = index;" [journal]="reply" [index]="i" [adminFlg]="adminFlg"
        [level]="level" [imgSrc]="imgSrc" [userId]="userId">
    </app-journal-cell>
    <app-spinner [loadingFlg]="loadingFlg" [errorMessage]="errorMessage"></app-spinner>
</div>