<app-page-shell (messageEvent)="loginClicked ($event)" [pageTitle]="'Owner Stats'" [userId]="userId"
    [imgSrcFile]="imgSrcFile" [headerObj]="headerObj" [userStatus]="userStatus" [stickyBottomFlg]="true">
    <div class="matches-card" *ngIf="user && user.ownerFlg">
        <app-top-header [topTitle]="'Stats'"></app-top-header>
        <hr>
        <app-owners-menu [pageTitle]="'Stats'" [page]="1"></app-owners-menu>

        <hr>
        <app-spinner [loadingFlg]="loadingFlg" [errorMessage]="errorMessage"></app-spinner>

        <div class="shaded-border-box">
            <div class="title-bar">Overall Stats</div>
            <div class="inside-box">
                <table width="100%" *ngIf="statsPage && !loadingFlg">
                    <tr>
                        <td valign="top">
                            <div class="border-box" style="font-size: 12px;">
                                <div style="text-align: center;"><b>Accounts</b></div>
                                <div class="red-text">Total</div>
                                <div>Total Created: {{statsPage.accounts}}</div>
                                <div>Total Completed: {{statsPage.activeAccounts}}</div>
                                <hr>
                                <div class="red-text">Recent (Last 7 days)</div>
                                <div>Visited: {{statsPage.recentLogins}} </div>
                                <div>Created: {{statsPage.newThisWeek}}</div>
                                <hr>
                                <div class="red-text">Today</div>
                                <div>Visited: {{statsPage.activeToday}}</div>
                                <div>Created: {{statsPage.newToday}}</div>
                            </div>
                            <div>&nbsp;</div>
                            <div class="border-box">
                                <div style="text-align: center;"><b>Interactions</b></div>
                                <div class="red-text">Total</div>
                                <div class="tiny-text">Likes: {{statsPage.likes}}</div>
                                <div class="tiny-text">Matches: {{statsPage.matches}}</div>
                                <div class="tiny-text">Messages: {{statsPage.messages}}</div>
                                <div class="tiny-text">Reviews: {{statsPage.reviews}}</div>
                                <div class="tiny-text">Journals: {{statsPage.journals}}</div>
                                <hr>
                                <div class="red-text">Recent (Last 7 days)</div>
                                <div class="tiny-text">Likes: {{statsPage.likesRecent}}</div>
                                <div class="tiny-text">Matches: {{statsPage.matchesRecent}}</div>
                                <div class="tiny-text">Messages: {{statsPage.messagesRecent}}</div>
                                <div class="tiny-text">Reviews: {{statsPage.reviewsRecent}}</div>
                                <div class="tiny-text">Journals: {{statsPage.journalsRecent}}</div>
                                <hr>
                                <div class="red-text">Today</div>
                                <div class="tiny-text">Likes Today: {{statsPage.likesToday}}</div>
                                <div class="tiny-text">Matches Today: {{statsPage.matchesToday}}</div>
                                <div class="tiny-text">Messages Today: {{statsPage.messagesToday}}</div>
                                <div class="tiny-text">Reviews Today: {{statsPage.reviewsToday}}</div>
                                <div class="tiny-text">Journals Today: {{statsPage.journalsToday}}</div>
                            </div>
                        </td>
                        <td valign="top">
                            <div class="border-box">
                                <div class="tiny-text">Countries</div>
                                <div *ngFor="let country of statsPage.countryNames">
                                    <div>{{country.countryName}}<sup>{{country.count}}</sup></div>
                                </div>
                            </div>
                            <div class="border-box">
                                <div class="tiny-text">States</div>
                                <div *ngFor="let state of statsPage.stateName">
                                    <div>{{state.stateName}}<sup>{{state.count}}</sup></div>
                                </div>
                            </div>
                        </td>
                        <td valign="top">
                            <div class="border-box" style="font-size: 8px; max-width: 150px;">
                                <div class="tiny-text">Cities</div>
                                <span *ngFor="let city of statsPage.cities">
                                    {{city.name}}<sup>{{city.count}}</sup>
                                </span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</app-page-shell>