<app-page-shell (messageEvent)="loginClicked ($event)" [pageTitle]="'Owner Stats'" [userId]="userId"
    [imgSrcFile]="imgSrcFile" [headerObj]="headerObj" [userStatus]="userStatus" [stickyBottomFlg]="true">
    <div class="matches-card" *ngIf="user && user.ownerFlg">
        <app-top-header [topTitle]="'Stats'"></app-top-header>
        <hr>
        <app-owners-menu [pageTitle]="'Stats'" [page]="1"></app-owners-menu>

        <hr>
        <app-spinner [loadingFlg]="loadingFlg" [errorMessage]="errorMessage"></app-spinner>

        <div class="shaded-border-box">
            <div class="title-bar">Overall Stats</div>
            <div class="inside-box">
                <table width="100%" *ngIf="responseJson && !loadingFlg">
                    <tr>
                        <td valign="top">
                            <div class="border-box" style="font-size: 12px;">
                                <div style="text-align: center;"><b>Accounts</b></div>
                                <div class="red-text">Total</div>
                                <div>Total Created: {{responseJson.accounts}}</div>
                                <div>Total Completed: {{responseJson.activeAccounts}}</div>
                                <hr>
                                <div class="red-text">Recent (Last 7 days)</div>
                                <div>Visited: {{responseJson.recentLogins}} </div>
                                <div>Created: {{responseJson.newThisWeek}}</div>
                                <hr>
                                <div class="red-text">Today</div>
                                <div>Visited: {{responseJson.activeToday}}</div>
                                <div>Created: {{responseJson.newToday}}</div>
                            </div>
                            <div>&nbsp;</div>
                            <div class="border-box">
                                <div style="text-align: center;"><b>Interactions</b></div>
                                <div class="red-text">Total</div>
                                <div class="tiny-text">Likes: {{responseJson.likes}}</div>
                                <div class="tiny-text">Matches: {{responseJson.matches}}</div>
                                <div class="tiny-text">Messages: {{responseJson.messages}}</div>
                                <div class="tiny-text">Reviews: {{responseJson.reviews}}</div>
                                <div class="tiny-text">Journals: {{responseJson.journals}}</div>
                                <hr>
                                <div class="red-text">Recent (Last 7 days)</div>
                                <div class="tiny-text">Likes: {{responseJson.likesRecent}}</div>
                                <div class="tiny-text">Matches: {{responseJson.matchesRecent}}</div>
                                <div class="tiny-text">Messages: {{responseJson.messagesRecent}}</div>
                                <div class="tiny-text">Reviews: {{responseJson.reviewsRecent}}</div>
                                <div class="tiny-text">Journals: {{responseJson.journalsRecent}}</div>
                                <hr>
                                <div class="red-text">Today</div>
                                <div class="tiny-text">Likes Today: {{responseJson.likesToday}}</div>
                                <div class="tiny-text">Matches Today: {{responseJson.matchesToday}}</div>
                                <div class="tiny-text">Messages Today: {{responseJson.messagesToday}}</div>
                                <div class="tiny-text">Reviews Today: {{responseJson.reviewsToday}}</div>
                                <div class="tiny-text">Journals Today: {{responseJson.journalsToday}}</div>
                            </div>
                        </td>
                        <td valign="top">
                            <div class="border-box">
                                <div class="tiny-text">Countries</div>
                                <div *ngFor="let country of responseJson.countryNames">
                                    <div>{{country.countryName}}<sup>{{country.count}}</sup></div>
                                </div>
                            </div>
                            <div class="border-box">
                                <div class="tiny-text">States</div>
                                <div *ngFor="let state of responseJson.stateName">
                                    <div>{{state.stateName}}<sup>{{state.count}}</sup></div>
                                </div>
                            </div>
                        </td>
                        <td valign="top">
                            <div class="border-box" style="font-size: 8px; max-width: 150px;">
                                <div class="tiny-text">Cities</div>
                                <span *ngFor="let city of responseJson.cities">
                                    {{city.name}}<sup>{{city.count}}</sup>
                                </span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</app-page-shell>