<app-page-shell [userId]="userId" [pageTitle]="'Betra Activity'" [headerObj]="headerObj" [userStatus]="userStatus"
    [stickyBottomFlg]="true">

    <div class="matches-card" style="text-align: center;">
        <app-top-header [topTitle]="'Activity'"></app-top-header>
        <div class="tan-box" style="font-size: 12px;">Here is recent activity on Betra. This app works like a reality show allowing
            everyone
            to get a glimpse into the dating world and what people are up to.</div>
        <app-spinner [loadingFlg]="loadingFlg" [errorMessage]="errorMessage"></app-spinner>
        <app-scroll-card (messageEvent)="clearItem(item)" *ngFor="let item of displayItems" [item]="item">
        </app-scroll-card>


    </div>

</app-page-shell>