.match-card {
    display: inline-block;
    background-color: white;
    box-shadow: 1px 1px 10px gray;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
    font-size: 14px;
}
.small-title {
    font-size: 10px;
    text-align: center;
    font-weight: 700;
    color: #770000;
}
.small-box {
    background-color: #f7f7f7;
    border-radius: 5px;
    padding: 3px;
    margin: 2px;
}
.yellow-button {
    width: 100%;
    font-size: 20px;
    padding: 10px;
    background-color: #ffcc00;
}
.yellow-button:hover {
    background-color: #ffff00;
}
.green-button {
    width: 100%;
    font-size: 20px;
    padding: 10px;
    background-color: #77ff77;
}
.green-button:hover {
    background-color: #00ff00;
}
input {
    background-color: #eee;
    border-radius: 10px;
}