.match-user-card {
    display: inline-block;
    background-color: white;
    box-shadow: 1px 1px 10px gray;
    border-radius: 5px;
    width: 100%;
    font-size: 14px;
}
.small-title {
    font-size: 10px;
    text-align: center;
    font-weight: 700;
    color: #770000;
}

.bottom-collpased {
  overflow: hidden;
  min-height: 0;
  transition: ease-in-out all .4s;
  height: 0px;
}

.motto-text {
    font-size: 12px;
    color: #777;
    cursor: pointer;
}

.motto-text:hover {
    color: #b7121f;
}

.bottom-expanded {
  overflow: hidden;
  min-height: 150px;
  transition: ease-in-out all .4s;
}

.yellow-button {
    width: 100%;
    font-size: 20px;
    padding: 10px;
    background-color: #ffcc00;
}
.yellow-button:hover {
    background-color: #ffff00;
}
.green-button {
    width: 100%;
    font-size: 20px;
    padding: 10px;
    background-color: #77ff77;
}
.green-button:hover {
    background-color: #00ff00;
}


input {
    background-color: #eee;
    border-radius: 10px;
}