<app-page-shell (messageEvent)="loginClicked ($event)" [pageTitle]="'Join the Team'" [userId]="userId"
    [imgSrcFile]="imgSrcFile" [headerObj]="headerObj" [userStatus]="userStatus">
    <div class="matches-card" style="max-width: 400px; text-align: left;">
        <p class="red-text"><b>Installing IOS App</b></p>
        <p class="gray-text">Notice: Apple is refusing to approve our app for the app store, claiming they no longer allow ANY new dating apps.
            This is dishonest and illegal and we are fighting to get them to impliment fair business practices.
            In the mean time, you can in fact get Betra installed on your iPhone using the following simple steps:
        </p>
        <ol>
            <li>Open Safari on your phone</li>
            <li>Go to: www.betradating.com</li>
            <li>At the bottom of your phone, click the little blue box with an up-arrow in it.</li>
            <li>Scroll down and click "Add to Home Screen"</li>
            <li>Click "Add"</li>
        </ol>
        <p class="gray-text">That's it! Enjoy Betra!</p>
        <div style="text-align: center;">
            <img src="assets/images/addHome.jpg" width="320" style="box-shadow: 2px 2px 3px gray; border-radius: 5px;">
        </div>
    </div>
</app-page-shell>