<app-page-shell [userId]="userId" [popupNum]="popupNum" [imgSrcFile]="imgSrcFile" [pageTitle]="'Location'"
    [headerObj]="headerObj" [userStatus]="userStatus" [stickyBottomFlg]="true">

    <div class="matches-card" style="text-align: center;">
        <app-top-header [topTitle]="'Location'"></app-top-header>

        <div class="tan-box" style="font-size: 12px; text-align: center;">
            <p>Note: Your GPS location is never shared with anyone, but is needed to find local matches. </p>

            <p class="gray-text">You should have green checkmarks under both
                "Navigator" and "GeoPlugin" sections below. <span style="font-size: 8px; color: white;">{{locDist}}</span></p>
            
        </div>
        <table width="100%" style="font-size: 10px;">
            <tr>
                <td valign="top" width="50%">
                    <div class="red-text">Navigator</div>
                    <div *ngIf="!latitude || locDist>5" style="color: #900; font-size: 16px;"><i
                            class="fa fa-times"></i> Not Synced
                    </div>
                    <div *ngIf="latitude && locDist<=5" style="color: green; font-size: 16px;"><i
                            class="fa fa-check"></i> Synced up
                    </div>
                    <div *ngIf="locationPage" class="border-box">
                        <div><b>Current database values</b></div>
                        <div>Lat: <span class="text-highlight">{{locationPage.navLat}}</span></div>
                        <div>Lng: <span class="text-highlight">{{locationPage.navLng}}</span></div>
                    </div>

                    <div *ngIf="!latitudeFlg" class="border-box">
                        <div>Notice, unable to get gps from navigator</div>
                        <div style="color: gray; text-align: left;">Try pressing "Find Location" button. If gps location
                            doesn't show up,
                            you may need to adjust your browser settings or try logging in with a different
                            browser.</div>
                        <button [disabled]="loadingFlg" (mousedown)="findLocation()"
                            class="btn btn-main-color btn-small">Find Location</button>
                    </div>
                    <div *ngIf="locationPage && latitudeFlg" class="border-box">
                        <div>Current Local GPS</div>
                        <div>Lat: <span class="text-highlight">{{latitude}}</span></div>
                        <div>Lng: <span class="text-highlight">{{longitude}}</span></div>
                        <button [disabled]="loadingFlg" (mousedown)="findLocation()"
                            class="btn btn-main-color btn-small spacer">Find Location</button>
                        <button [disabled]="loadingFlg || !latitudeFlg || latitude == locationPage.navLat"
                            (mousedown)="updateGps()" class="btn btn-primary btn-small spacer">Update</button>
                    </div><div id="geoError" style="background-color: yellow;"></div>
                </td>
                <td valign="top" *ngIf="locationPage">
                    <div class="red-text">GeoPlugin</div>
                    <div *ngIf="!locationPage.latitude || locationPage.latitude != localLat"
                        style="color: #900; font-size: 16px;"><i class="fa fa-times"></i> Not Synced
                    </div>
                    <div *ngIf="locationPage.latitude && locationPage.latitude == localLat"
                        style="color: green; font-size: 16px;"><i class="fa fa-check"></i> Synced up
                    </div>

                    <div class="border-box">
                        <div><b>Current database values</b></div>
                        <div>City: <span class="text-highlight">{{locationPage.city}}</span></div>
                        <div>Lat: <span class="text-highlight">{{locationPage.latitude}}</span></div>
                        <div>Lng: <span class="text-highlight">{{locationPage.longitude}}</span></div>
                        <div>Country: <span class="text-highlight">{{locationPage.countryName}}</span></div>
                        <div>State: <span class="text-highlight">{{locationPage.state}}</span></div>
                        <div>Region: <span class="text-highlight">{{locationPage.region}}</span></div>
                        <div>Continent: <span class="text-highlight">{{locationPage.continentName}}</span></div>
                    </div>

                    <div class="border-box">
                        <div><b>Your current Location</b></div>
                        <div>City: <span class="text-highlight">{{localCity}}</span></div>
                        <div>Lat: <span class="text-highlight">{{localLat}}</span></div>
                        <div>Lng: <span class="text-highlight">{{localLng}}</span></div>
                        <button [disabled]="loadingFlg || localLat == locationPage.latitude"
                            (mousedown)="updateGeoPluginInfo()" class="btn btn-main-color spacer">Click to Update</button>
                    </div>
                </td>
            </tr>
        </table>       
        <app-spinner [loadingFlg]="loadingFlg" [errorMessage]="errorMessage"></app-spinner>

    </div>
</app-page-shell>