<div [ngClass]="stickyBottomFlg?'bottom-bar-sticky':'bottom-bar'">
    <div style="white-space: nowrap; overflow: hidden;">
        <span [routerLink]="['/about']" class="text-link">About us</span> |
        <span [routerLink]="['/blogs']" class="text-link">Blogs</span> |
        <span [routerLink]="['/join-team']" class="text-link">Join Our Team</span> |
        <span [routerLink]="['/terms-conditions']" class="text-link">Terms & Conditions</span> |
        <span [routerLink]="['/privacy-policy']" class="text-link">Privacy Policy</span>
    </div>
    <div>&copy; 2023 Betra</div>
</div>