<div [ngClass]="stickyBottomFlg?'bottom-bar-sticky':'bottom-bar'">
    <div>
        <span [routerLink]="['']" class="text-link">Home</span> |
        <span [routerLink]="['/about']" class="text-link">About us</span> |
        <span [routerLink]="['/contact']" class="text-link">Contact</span> |
        <span [routerLink]="['/blogs']" class="text-link">Blogs</span> |
        <span [routerLink]="['/restaurant-promo']" class="text-link">Promo</span> |
        <span [routerLink]="['/join-team']" class="text-link">Join Our Team</span> |
        <span [routerLink]="['/terms-conditions']" class="text-link">Terms & Conditions</span> |
        <span [routerLink]="['/privacy-policy']" class="text-link">Privacy Policy</span>
    </div>
    <div>&copy; 2023 Betra</div>
</div>