<div [ngClass]="stickyBottomFlg?'bottom-bar-sticky':'bottom-bar'">
    <div>
        <span [routerLink]="['']" class="text-link">Home</span> |
        <span [routerLink]="['/about']" class="text-link">About us</span> |
        <span [routerLink]="['/contact']" class="text-link">Contact</span> |
        <span class="hide-xs"><span [routerLink]="['/safety-features']" class="text-link">Safety</span> |</span>
        <span class="hide-xs"><span [routerLink]="['/join-team']" class="text-link">Blogs</span> |</span>
        <span [routerLink]="['/terms-conditions']" class="text-link">Terms<span class="hide-xs"> & Conditions</span></span> |
        <span [routerLink]="['/privacy-policy']" class="text-link">Privacy <span class="hide-xs">Policy</span></span>
    </div>
    <div style="font-size: 9px;">&copy; 2023 Betra llc</div>
</div>