<app-page-shell (messageEvent)="loginClicked ($event)" [pageTitle]="'My Matches'" [userId]="userId"
    [imgSrcFile]="imgSrcFile" [headerObj]="headerObj">

    <div class="matches-card" style="min-height: 500px; font-size: 14px; color: #444;" *ngIf="user">
        <div class="btn-group" role="group" aria-label="Menu">
            <button *ngFor="let button of menuButtons; let i=index;" (mousedown)="changeMenu(i)" type="button"
                [ngClass]="ngClassButton(i)"><span class="variable-text">{{button}}</span></button>
            <button (mousedown)="changeMenu(3)" *ngIf="user && user.datingPool.length >= 5" class="btn btn-light">
                <img src="assets/images/rose5.png" height="30" alt="Rose" title="Rose">
            </button>
        </div>
        <div *ngIf="showHeartFormFlg && menuNum==0" class="tan-box">
            <table align="center">
                <tr>
                    <td>
                        <img src="assets/images/rose6.png" height="150" alt="Rose" title="Rose">
                    </td>
                    <td>
                        <div style="font-size: 20px;">Give someone a rose!</div>
                        <table align="center" *ngIf="!loadingFlg">
                            <tr>
                                <td>
                                    <select name="assignHeart" id="assignHeart" (change)="disableFormFlg=false">
                                        <option disabled selected>Select</option>
                                        <option *ngFor="let player of user.datingPool" [value]="player.user_id">{{player.name}}
                                        </option>
                                    </select>
                                </td>
                                <td>
                                    <button (mousedown)="assignHeart()" class="btn btn-primary" style="padding: 10px;"
                                        [disabled]="disableFormFlg">Assign</button>
                                </td>
                            </tr>
                        </table>            
                    </td>
                </tr>
            </table>

            <div class="tiny-text">Pick one person to indicate they are someone special. Everyone
                in your dating pool will be able to see who you have chosen.
                Feel free to change this pick at any time.
            </div>
        </div>

        <div>&nbsp;</div>
        <app-spinner [loadingFlg]="loadingFlg" [errorMessage]="errorMessage"></app-spinner>

        <div *ngIf="menuNum==0 && !loadingFlg">
            <div *ngIf="user.datingPool && user.datingPool.length>8" class="error-message">Over your limit! Select
                someone to drop from your dating pool. You are only allowed 8 people at a time in your dating pool.
            </div>
            <div style="font-size: 12px; color: gray;">You can have a maximum of 8 people in your dating pool at any
                time. [<span (mousedown)="showMoreFlg=!showMoreFlg" class="hyper-link">more info</span>]</div>
            <div (mousedown)="showMoreFlg=false" *ngIf="showMoreFlg"
                style="background-color: #ffffc0; border-radius: 5px; padding: 5px;">If you have more than 8 matches,
                you will have to move
                the extras to your back burner. This will help you organize your dating life and concentrate on your
                best prospects.</div>
            <app-dating-pool [user]="user" [largeFlg]="true"></app-dating-pool>

            <div *ngIf="!user.dating_pool">
                <div>&nbsp;</div>
                <button [routerLink]="['/user-detail']" class="btn red-small-button"><i class="fa fa-search"></i> Browse
                    Singles</button>
                <div>&nbsp;</div>
                <div class="small-gray-text">Currently no matches, but don't worry. Start browsing singles and as soon as someone you like indicates they
                    are also interested in you, they will show up here. Click Browse button above to get started!
                </div>
            </div>


        </div>
        <div *ngIf="menuNum==1 && !loadingFlg">
            <div [routerLink]="['/user-detail']" [queryParams]="{uid: person.user_id}" *ngFor="let person of playerList"
                class="person-box">
                <img [src]="person.src" class="small-img">
                <div class="name-title">{{person.name}}</div>
            </div>
            <div *ngIf="playerList && playerList.length>0" class="small-gray-text">
                <p><span *ngIf="playerList.length>1">These people have</span><span *ngIf="playerList.length==1">This
                        person has</span> already been notified of your interest. Check back soon to find out what
                    happens. If they decline your invitation, they will disappear from this list. Cross your fingers!
                </p>
            </div>
            <div *ngIf="playerList && playerList.length==0">You haven't liked anyone yet. Get out there and start
                liking people! That is the best way for others
                to find you. Click Browse to find new singles!
                <p>&nbsp;</p>
                <div><button [routerLink]="['/user-detail']" class="btn red-small-button"><i class="fa fa-search"></i>
                        Browse</button></div>
            </div>
        </div>
        <div *ngIf="menuNum==2 && !loadingFlg">
            <div>
                <div [routerLink]="['/user-detail']" [queryParams]="{uid: person.user_id}"
                    *ngFor="let person of playerList" class="person-box">
                    <div class="name-title">{{person.name}}</div>
                    <img [src]="person.src" class="small-img">
                </div>
                <div *ngIf="playerList.length>0">
                    <p><i class="fa fa-heart" style="color: red;"></i> Someone is very interested in you!</p>
                    <p class="gray-text">Click on the profile(s) above. If you decide you are interested as well, the two of you can begin
                        communicating and see where this goes.</p>
                </div>
                <div *ngIf="playerList.length==0">
                    <p>No admirers at the moment.</p>
                    <div style="text-align: left;" class="small-gray-text">
                        <p>Don't worry. Here are some things you can do to improve your chances of success.</p>
                        <div style="padding-left: 30px;">
                            <li><i class="fa fa-picture-o"></i> Have a nice, well lit photo of your face on your profile.</li>
                            <li><i class="fa fa-bullhorn"></i> Have a fun or interesting motto.</li>
                            <li><i class="fa fa-thumbs-up"></i> Start liking lots of people. That's the fastest way for others to find you.</li>
                            <li><i class="fa fa-arrow-up"></i> <a [routerLink]="['/upgrade-member']">Upgrade</a> in order to maximize your exposure.</li>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</app-page-shell>