<app-page-shell (messageEvent)="loginClicked ($event)" [pageTitle]="'Dating Pool'" [userId]="userId"
    [imgSrcFile]="imgSrcFile" [headerObj]="headerObj" [userStatus]="userStatus" [stickyBottomFlg]="true">

    <div class="matches-card" style="font-size: 14px; color: #444; position: relative; padding-bottom: 50px;"
        *ngIf="user">
        <app-spinner [loadingFlg]="loadingFlg" [errorMessage]="errorMessage"></app-spinner>
        <div class="btn-group" role="group" aria-label="Menu">
            <button *ngFor="let button of menuButtons; let i=index;" (mousedown)="changeMenu(i)" type="button"
                [ngClass]="ngClassButton(i)"><span class="variable-text">{{button}}</span></button>
            <button (mousedown)="changeMenu(3)" *ngIf="user && user.datingPool.length >= 3" class="btn btn-light">
                <img src="assets/images/rose5.png" height="30" alt="Rose" title="Rose">
            </button>
        </div>
       
        <div *ngIf="showHeartFormFlg || menuNum==3" class="light-box" style="padding: 20px; text-align: center;">
            <table align="center">
                <tr>
                    <td>
                        <img src="assets/images/rose6.png" height="150" alt="Rose" title="Rose">
                    </td>
                    <td>
                        <div style="font-size: 20px;">Give someone a rose!</div>
                        <p class="tiny-text">Pick one person to indicate they are someone special. Everyone
                            in your dating pool will be able to see who you have chosen.
                            Feel free to change this pick at any time.
                        </p>
                        <div style="display: inline-block; text-align: center;" *ngFor="let player of user.datingPool">
                            <img (mousedown)="chooseForRose(player)" [src]="player.src" class="small-img" style="height: 40px; width: 40px;" [style.border]="selectedPerson && selectedPerson.user_id==player.user_id?'4px solid #990000':'none'">
                            <div style="font-size: 8px;">{{player.name}}</div>
                        </div>
                        <div>&nbsp;</div>
                        <div *ngIf="selectedPerson && selectedPerson.name != currentRoseHolder" class="important-notice">
                            <div style="font-size: 16px;"><i class="fa fa-exclamation-triangle"></i><b>Warning!</b></div>
                            You ONLY have 1 rose to hand out. Are you sure you want to take your rose back from <b>{{currentRoseHolder}}</b>, and give it to <b>{{selectedPerson.name}}</b>?
                            <div class="gray-text">Keep in mind, everyone in your dating pool will be able to see this action on your part.</div>
                        </div>
                        <div *ngIf="newlyAssignedRoseFlg" class="important-notice">
                            <div style="font-size: 16px;"><i class="fa fa-check"></i><b>Success!</b></div>
                            <div>Your rose has been given to <b>{{currentRoseHolder}}</b>. You are free to change this as often as you like.
                            Just keep in mind you only have one rose to hand out, so it needs to go to your favorite.</div>
                        </div>
                        <button (mousedown)="assignHeart()" class="btn btn-main-color"
                        style="padding: 10px;" [disabled]="disableFormFlg">Assign Rose</button>
                    </td>
                </tr>
            </table>
        </div>

        <div>&nbsp;</div>

        <div *ngIf="menuNum==0">
            <div *ngIf="user.datingPool.length < datingPoolLimit" style="font-size: 12px; color: gray;">You can have a maximum of {{datingPoolLimit}} people in your
                dating pool at any
                time.</div>

            <app-dating-pool [user]="user" [largeFlg]="true" (messageEvent)="loadPopupUser($event)"></app-dating-pool>

            <div *ngIf="!user.dating_pool">
                <div [routerLink]="['/user-detail']" class="red-blob">
                    <p style="font-size: 18px; font-weight: 700;">Your dating pool is empty!</p>
                    <p>Click here to find singles</p>
                </div>
                <div>&nbsp;</div>
                <div class="small-gray-text">Currently no one is in your dating pool, but don't worry. Start browsing
                    singles to get your pool filled up.
                    You can have up to {{datingPoolLimit}} people in your dating pool and that is when the real fun
                    begins!
                </div>
            </div>


        </div>
        <div *ngIf="menuNum==1 && !loadingFlg">
            <div [routerLink]="['/user-detail']" [queryParams]="{uid: person.user_id}" *ngFor="let person of playerList"
                class="person-box">
                <img [src]="person.src" class="small-img">
                <div class="name-title">{{person.name}}</div>
            </div>
            <div *ngIf="playerList && playerList.length>0" class="small-gray-text">
                <p><span *ngIf="playerList.length>1">These people have</span><span *ngIf="playerList.length==1">This
                        person has</span> already been notified of your interest. Check back soon to find out what
                    happens. If they decline your invitation, they will disappear from this list. Cross your fingers!
                </p>
            </div>
            <div *ngIf="playerList && playerList.length==0">You haven't liked anyone yet. Get out there and start
                liking people! That is the best way for others
                to find you. Click Browse to find new singles!
                <p>&nbsp;</p>
                <div><button [routerLink]="['/user-detail']" class="btn btn-main-color"><i class="fa fa-search"></i>
                        Browse</button></div>
            </div>
        </div>
        <div *ngIf="menuNum==2 && !loadingFlg">
            <div>
                <div 
                    *ngFor="let person of playerList" class="person-box" style="position: relative;">
                    <i class="fa fa-plus add-button" (mousedown)="addPersonToDP(person)"></i>
                    <img [routerLink]="['/user-detail']" [queryParams]="{uid: person.user_id}" [src]="person.src" class="small-img">
                    <div class="name-title">{{person.name}}</div>
                </div>
                <div *ngIf="playerList.length>0">
                    <p><i class="fa fa-heart" style="color: red;"></i> These people are very interested in you, but are on your back burner.</p>
                    <p class="gray-text">The above profiles are people who are interested in you. Adding them to your
                        dating pool
                        will allow the two of you to start communicating.</p>
                </div>
                <div *ngIf="playerList.length==0">
                    <p>No admirers at the moment.</p>
                    <div style="text-align: left;" class="small-gray-text">
                        <p>Don't worry. Here are some things you can do to improve your chances of success.</p>
                        <div style="padding-left: 30px;">
                            <li><i class="fa fa-picture-o"></i> Have a nice, well lit photo of your face on your
                                profile.</li>
                            <li><i class="fa fa-bullhorn"></i> Have a fun or interesting motto.</li>
                            <li><i class="fa fa-thumbs-up"></i> Start liking lots of people. That's the fastest way for
                                others to find you.</li>
                            <li><i class="fa fa-arrow-up"></i> <span [routerLink]="['/upgrade-member']"
                                    class="text-link">Upgrade</span> in
                                order to maximize your exposure.</li>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <app-spinner [loadingFlg]="loadingFlg" [errorMessage]="errorMessage"></app-spinner>

        <div *ngIf="menuNum==0"
            [ngClass]="showDetailsNumber>0?'bottom-details-panal-open':'bottom-details-panal-closed'">
            <div *ngIf="showDetailsNumber==1">
                <div class="red-text">Dating Pool</div>
                <div style="font-size: 12px; color: gray; text-align: left">
                    <p>'Dating Pool' is a feature unique to Betra and makes this like no other dating app!</p>
                    <p>You can actively be matched up with no more than 8 people at a time, which allows you to focus on
                        your best prospects and helps you manage your dating life.</p>
                    <p>Once you have 8 people, you can still actively search for new prospects, but as soon as you are
                        matched with a 9th person, you have to move one of your current matches to your back burner.</p>
                    <p>As soon as you have at least 5 people in your dating pool, you will need to indicate one of them
                        as your 'Top Pick' by giving them a virtual rose. Everyone in your dating pool will get to see
                        who you gave your rose to.
                        Yes this creates drama, but it also creates a lot of fun, while at the same time being fully
                        transparent with everyone about your true feelings.
                        We believe Betra to be the most honest dating you will ever use.
                    </p>
                    <p>One final note: Not only do all of your matches get to see who is in your dating pool, you also
                        get to see who each of them is matched up with. Simply click on their profile icon to view their
                        dating pool.
                        Let the fun begin!
                    </p>
                    <p>Good luck to everyone.</p>
                </div>


            </div>
            <div *ngIf="showDetailsNumber==2">
                <div class="red-text">Intimacy Level</div>
                <div style="font-size: 12px; color: gray; text-align: left">
                    <p>Intimacy Level indicates how far into the Betra app features you have made it with this match. It
                        is simply a small indicator, letting everyone know how serious the relationship might be
                        getting.</p>
                    <p>Here are what the levels mean:</p>
                    <ol>
                        <li>One person is interested</li>
                        <li>Match made</li>
                        <li>Initial question asked</li>
                        <li>Question replied to</li>
                        <li>Open text exchange mode</li>
                        <li>Contact Info exchanged</li>
                        <li>Private picture exchanged</li>
                        <li>Went on date</li>
                        <li>Review written</li>
                    </ol>
                </div>
            </div>
            <div *ngIf="showDetailsNumber==3">
                <div class="red-text">FAQ</div>
                <div style="font-size: 12px; color: gray; text-align: left">
                    <div class="red-text">Question: How do I get people added to my date pool?</div>
                    <div class="answer">Answer: Click 'Browse' and begin liking profiles. As soon as one of the people
                        you like, also likes you back, the two of you are matched up and in each other's dating pools.
                    </div>

                    <div class="red-text">Question: How do I drop someone from my dating pool?</div>
                    <div class="answer">Answer: Click on their profile, expand the header window. Click on the "expand"
                        arrow in the black box which says that person "is in your dating pool". Click the "Remove"
                        button.</div>

                    <div class="red-text">Question: How do I send someone a text message?</div>
                    <div class="answer">Answer: You must first be matched with someone in order to communicate with
                        them. From there, the first communication can only be from a drop-down list of prepared
                        questions. Once both people respond to each other's questions, you will be free to openly text
                        back and forth.</div>

                    <div class="red-text">Question: How do I write a review on someone?</div>
                    <div class="answer">Answer: You must first reach intimacy level of 5 and then go on a date with them
                        in order to write a review.</div>

                    <div class="red-text">Question: Why did someone disappear from my dating pool?</div>
                    <div class="answer">Answer: If someone removed you from their dating pool, they will also be removed
                        from yours. Sorry, but they just aren't that into you. But don't worry, there are plenty of
                        great singles still out there hoping to meet you. Get back in the game and fill up that dating
                        pool!</div>

                    <div class="red-text">Question: How do I restore someone to my dating pool?</div>
                    <div class="answer">Answer: Click the 'Back Burner' button at the top of this page. If that person
                        is still interested in you, their profile will show up. Click on it. Expand the top and then
                        click the 'Promote' button to put them back into your dating pool.</div>


                </div>
            </div>
            <div *ngIf="showDetailsNumber==4">
                <div class="red-text">Roses</div>
                <div style="font-size: 12px; color: gray; text-align: left">
                    <p>
                        Once you have at least 5 people in your dating pool, you must assign a rose to your favorite.
                        Everyone in your dating pool will get to see who got your rose.
                    </p>
                    <p>Does this seem scary? Yes! But its also a way of being transparent with everyone in the dating
                        pool.</p>
                    <p>Not only does everyone in your dating pool get to see who you assigned your rose to, but you can
                        view the dating pools of everyone you are interested in to see who they gave roses to. It's fun
                        and it helps everyone know where they stand.</p>
                    <p>Feel free to change who gets your rose as often as you like.</p>
                </div>
            </div>
        </div>
        <div *ngIf="menuNum==0" class="date-pool-bottom-bar">
            <button (mousedown)="toggleShowDetailsNumber(1)" class="btn btn-main-color shrink"><i class="fa fa-info-circle"></i> Dating
                Pool</button>&nbsp;
            <button (mousedown)="toggleShowDetailsNumber(2)" class="btn btn-main-color shrink">Intimacy
                Level</button>&nbsp;
            <button (mousedown)="toggleShowDetailsNumber(3)" class="btn btn-main-color shrink">FAQ</button>&nbsp;
            <button (mousedown)="toggleShowDetailsNumber(4)" class="btn btn-main-color shrink">Roses</button>&nbsp;
        </div>
    </div>

</app-page-shell>

<div (mousedown)="showPopupFlg=false" *ngIf="showPopupFlg" class="over-limit-popup-outer">
    <div class="over-limit-popup">
        <div style="font-size: 22px;">Over your limit!</div>
        <div style="text-align: left;">
            <p>You are only allowed {{datingPoolLimit}} people at a time in your dating pool. Select
                someone to drop. </p>
            <p style="font-size: 12px;">Keep your top {{datingPoolLimit}} interests in your dating pool
                and move the rest to your back burner.
            </p>
            <p *ngIf="!user.memberFlg" style="font-size: 12px;">
                Upgrading to Gold Member allows you to have 12 people in your
                pool!
            </p>
        </div>
        <button class="btn btn-warning">Got it!</button>&nbsp;
        <button *ngIf="!user.memberFlg" [routerLink]="['/upgrade-member']" class="btn btn-primary">Upgrade</button>

    </div>
</div>

<div *ngIf="displayUserPopup" (mousedown)="displayUserPopup=false" class="dark-backdrop">&nbsp;</div>
<div *ngIf="displayUserPopup" class="user-popup-outer" (mousedown)="userClickedOnPage($event)">
    <div class="user-popup" id="user-popup">
        <app-match-snapshot *ngIf="matchUser && user" (messageEvent)="matchSnapshotEvent($event)" [user]="user"
            [matchUser]="matchUser" [loadingFlg]="loadingFlg" [errorMessage]="errorMessage" [snapshotFlg]="true"
            [singleProfileFlg]="true">
        </app-match-snapshot>
    </div>
</div>

<div (mousedown)="showDroppedPopup=false" *ngIf="showDroppedPopup" class="over-limit-popup-outer">
    <div class="over-limit-popup" *ngIf="infoObj">
        <div>Sorry, but you have been dropped from someone's dating pool.</div>
        <app-profile-pic [user_id]="infoObj.droppedBy" [profilePic]="infoObj.profilePic" [size]="120">
        </app-profile-pic>
        <div>{{firstName}}</div>
        <div style="font-size: 12px;">That means you can no longer communicate with this person. 
            The only way to get back into their dating pool is if they add you. But don't worry, this happens to everyone. There are lots of more singles out there.
            Click the "Browse" button to start finding a better match!
        </div>
        <button class="btn btn-warning">Ok</button>
    </div>
</div>
