<app-page-shell [userId]="userId" [popupNum]="popupNum" [imgSrcFile]="imgSrcFile" [pageTitle]="'Home'"
    [headerObj]="headerObj" [userStatus]="userStatus">

    <div class="small-title" style="font-size: 20px; margin-bottom: 20px;">Welcome to</div>
    <div class="big-title" style="font-size: 78px; line-height: 44px;">Betra</div>
    <div class="small-title" style="font-size: 24px;">The newest, safest and funnest way to date.</div>
    <div>
        <app-spinner [loadingFlg]="loadingFlg" [errorMessage]="errorMessage"></app-spinner>
        <div class="gray-text">Single Women</div>
        <app-profile-thumbnail [routerLink]="['/landing']" [queryParams]="{login: 1}" *ngFor="let person of topWomen;" [person]="person"></app-profile-thumbnail>
    </div>
    <div>
        <div class="gray-text">Single Men</div>
        <app-profile-thumbnail [routerLink]="['/landing']" [queryParams]="{login: 1}" *ngFor="let person of topMen;" [person]="person"></app-profile-thumbnail>
    </div>
  
    <div *ngIf="0"
        style="background-color: white; border-radius: 15px; margin: 5px; padding: 10px; box-shadow: 2px 2px 4px gray;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="border-box2">
                        <div class="top-heading">Top Dating Sites</div>
                        <div class="second-title">Most Users</div>
                        <img src="assets/images/landing/apps.jpg" width="100%">
                        <table>
                            <tr *ngFor="let site of topDatingSites; let i = index;" style="font-size: 12px;">
                                <td>{{i+1}}</td>
                                <td><a [href]="site.url" target="new" class="text-link">{{site.name}}</a></td>
                                <td>{{site.amount}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="border-box2">
                        <div class="top-heading">Top Dating Sites</div>
                        <div class="second-title">Highest Revenue</div>
                        <img src="assets/images/landing/apps2.jpeg" width="100%">
                        <table>
                            <tr *ngFor="let site of topRevenueSites; let i = index;" style="font-size: 12px;">
                                <td>{{i+1}}</td>
                                <td><a [href]="site.url" target="new" class="text-link">{{site.name}}</a></td>
                                <td>{{site.amount}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="border-box2">
                        <div class="top-heading">Good Dating</div>
                        <div class="second-title">Do's and Don'ts of Dating</div>
                        <a href="https://www.lifehack.org/articles/featured/first-date-ideas.html" target="new"><img
                                src="assets/images/landing/goodDate.jpg" width="100%" style="cursor: pointer;"></a>
                        <table>
                            <tr *ngFor="let trait of thingsToAvoid; let i = index;" style="font-size: 12px;">
                                <td>{{i+1}}</td>
                                <td>{{trait}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="border-box2">
                        <div class="top-heading">Top Traits</div>
                        <div class="second-title">Men look for in women</div>
                        <a href="https://hackspirit.com/what-guys-like-in-a-woman/" target="new"><img
                                src="assets/images/landing/topWomenTraits.jpg" width="100%" style="cursor: pointer;"></a>
                        <table>
                            <tr *ngFor="let trait of topTraitsOfWomen; let i = index;" style="font-size: 12px;">
                                <td>{{i+1}}</td>
                                <td>{{trait}}</td>
                            </tr>
                        </table>
                    </div>
            
                    <div class="border-box2">
                        <div class="top-heading">Top Traits</div>
                        <div class="second-title">Women look for in men</div>
                        <a href="https://www.powerofpositivity.com/what-women-look-for-in-men/" target="new"><img
                                src="assets/images/landing/topMenTraits.png" width="100%" style="cursor: pointer;"></a>
                        <table>
                            <tr *ngFor="let trait of topTraitsOfMen; let i = index;" style="font-size: 12px;">
                                <td>{{i+1}}</td>
                                <td>{{trait}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>





    </div>

    <div style="text-align: center; background-color: white; padding: 15px;">
        <div class="big-title" style="font-size: 32px;">Betra Blogs</div>
        <app-blog-cell *ngFor="let blog of blogList" [blog]="blog" [shrinkSize]="1"></app-blog-cell>
    </div>


    <div *ngif="0" style="text-align: center;">
        <div style="color: gray;">Google Ads</div>
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2626924352662007"
            data-ad-slot="3410873039" data-ad-format="auto" data-full-width-responsive="true"></ins>
    </div>

    <app-betra-features></app-betra-features>


</app-page-shell>