.form-input input {
    display: none;
}

.form-input label {
    z-index: 15;
    display: inline-block;
    position: absolute;
    left: 57px;
    top: 100px;
    height: 45px;
    width: 200px;
    line-height: 50px;
    text-align: center;
    background: #1172c2;
    color: #fff;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    text-transform: Uppercase;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.form-input label:hover {
    background: #053c69;
    box-shadow: 2px 2px 6px gray;
}

.dashed-line {
    display: inline-block;
    background-color: #ccf;
    position: relative;
    background-size: cover;
    max-height: 488px;
    background-repeat: no-repeat;
    background-position: center center;
    border: 5px dashed gray;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    padding: 0;
    margin: 5px;
    cursor: pointer;
}
.profile-image-upload {
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #999;
    object-fit: cover; 
 }