<app-page-shell [userId]="userId" [imgSrcFile]="imgSrcFile" [pageTitle]="'Top 10'" [headerObj]="headerObj"
    [userStatus]="userStatus" [stickyBottomFlg]="true">

    <app-dating-pool [user]="user" [largeFlg]="false"></app-dating-pool>
    <div class="matches-card">
         <div style="text-align: center;">
            <button style="float: left;" [routerLink]="['']" class="btn btn-main-color btn-small">Home</button>&nbsp;
            <div class="btn-group">
                <button (mousedown)="selectMenu(i)" *ngFor="let button of topButtons; let i = index;"
                    [ngClass]="ngClassMenuButton(i, menuNum)"
                    style="font-size: 12px; margin-right: 2px;">{{button}}</button>
            </div>
            <img src="assets/images/betraLogo.png" height="25" style="float: right;">
        </div>
    </div>

        <app-spinner [loadingFlg]="loadingFlg" [errorMessage]="errorMessage"></app-spinner>
        <table width="100%" *ngIf="topListsPage">
            <tr>
                <td align="center">
                    <div class="tiny-text" style="text-align: center;"><b>Men</b></div>
                    <div *ngFor="let person of topListsPage.topMen; let i =index" style="display: inline-block;">
                        <app-profile-pic2 (mousedown)="showProfile(person.user_id)" [user_id]="person.user_id" [profilePic]="person.profilePic"
                        [size]="100"></app-profile-pic2>
                        <div style="font-size: 12px;"><span> {{person.firstName}} <sup>{{person.usersLiked}}</sup></span></div>
                    </div>
                </td>
                <td align="center">
                    <div class="tiny-text" style="text-align: center;"><b>Women</b></div>
                    <div *ngFor="let person of topListsPage.topWomen; let i =index" style="display: inline-block;">
                        <app-profile-pic2 (mousedown)="showProfile(person.user_id)" [user_id]="person.user_id" [profilePic]="person.profilePic"
                        [size]="100"></app-profile-pic2>
                        <div style="font-size: 12px;"><span> {{person.firstName}} <sup>{{person.usersLiked}}</sup></span></div>
                    </div>
                </td>
            </tr>
        </table>
    

</app-page-shell>
<app-profile-user-popup></app-profile-user-popup>