<app-page-shell [userId]="userId" [imgSrcFile]="imgSrcFile" [pageTitle]="'Top 10'" [headerObj]="headerObj"
    [userStatus]="userStatus" [stickyBottomFlg]="true">

    <app-dating-pool [user]="user" [largeFlg]="false"></app-dating-pool>
    <div class="matches-card">
        <div class="btn-group">
            <button (mousedown)="selectMenu(i)" *ngFor="let button of topButtons; let i = index;"
                [ngClass]="ngClassMenuButton(i, menuNum)"
                style="font-size: 12px; margin-right: 2px;">{{button}}</button>
        </div>
        <app-spinner [loadingFlg]="loadingFlg" [errorMessage]="errorMessage"></app-spinner>
        <table width="100%" *ngIf="responseJson">
            <tr>
                <td align="center">
                    <div class="tiny-text" style="text-align: center;"><b>Men</b></div>
                    <div *ngFor="let person of responseJson.topMen; let i =index" style="display: inline-block;">
                        <app-profile-pic [user_id]="person.user_id" [profilePic]="person.profilePic"
                        [size]="100"></app-profile-pic>
                        <div style="font-size: 12px;"><span style="color: gray;">{{i+1}}:</span><span> {{person.firstName}} <sup>{{person.usersLiked}}</sup></span></div>
                    </div>
                </td>
                <td align="center">
                    <div class="tiny-text" style="text-align: center;"><b>Women</b></div>
                    <div *ngFor="let person of responseJson.topWomen; let i =index" style="display: inline-block;">
                        <app-profile-pic [user_id]="person.user_id" [profilePic]="person.profilePic"
                        [size]="100"></app-profile-pic>
                        <div style="font-size: 12px;"><span style="color: gray;">{{i+1}}:</span><span> {{person.firstName}} <sup>{{person.usersLiked}}</sup></span></div>
                    </div>
                </td>
            </tr>
        </table>
    </div>

</app-page-shell>