.match-card {
    display: inline-block;
    background-color: #fff;
    box-shadow: 1px 1px 10px gray;
    border-radius: 5px;
    width: 100%;
    font-size: 14px;
    overflow: hidden;
    margin-top: 20px;
}

textarea {
    width: 100%;
    border: 2px solid #ccc;
    height: 100px;
}
.bordered-button {
    border: 1px solid gray;
    margin: 5px;
    font-size: 12px;
}
