

<div [ngClass]="openPanelFlg?'match-card open-card':'match-card'" *ngIf="myUser && matchUser && matchUser.matchObj">
    <div class="gray-title" style="position: relative;"> <i class="fa fa-user"></i> User reviews
        <sup>{{matchUser.reviewsCount}}</sup>
        <i (mousedown)="openReviewPanel()"
            [ngClass]="openPanelFlg?'fa fa-chevron-circle-down more-options':'fa fa-chevron-circle-right more-options'"></i>
    </div>

    <app-spinner [loadingFlg]="loadingFlg" [errorMessage]="errorMessage"></app-spinner>
    <div *ngIf="openPanelFlg">
        <button *ngIf="matchUser.matchObj && matchUser.matchObj.match_level>=4" (mousedown)="writeReview()" class="btn btn-light bordered-button">Write a date review</button>
        <div>&nbsp;</div>
        <div *ngIf="reviewList.length==0 && !loadingFlg">No reviews yet.</div>
        <app-review-cell *ngFor="let review of reviewList; let i = index;" [review]="review" [index]="i"></app-review-cell>
    </div>
    <div *ngIf="showDetailsFlg" class="small-box">
        <div><b>Write a review</b></div>
        <div>Overall Experience (select one)</div>
        <div>
            <button (mousedown)="selectRating(1)" [ngClass]="ngClassRating(1)"><i style="font-size: 32px;"
                    class="fa fa-thumbs-o-up"></i></button>&nbsp;
            <button (mousedown)="selectRating(2)" [ngClass]="ngClassRating(2)"><i style="font-size: 32px;"
                    class="fa fa-thumbs-o-down"></i></button>
        </div>


        <div *ngIf="experienceRating>0">
            <div class="gray-text" style="text-align: left;">Describe your expierence meeting {{matchUser.firstName}}. Please do not be too
                critical
                in your review,
                and do not give out any sensitive, personal or embarassing details about the person. Simply mention one
                or
                two things you liked about this
                person and maybe one or two things you think they should work on.
            </div>

            <app-text-area-input [id]="'reviewText'" [value]="reviewText"></app-text-area-input>
            <div>
                <button (mousedown)="cancelReview()" class="btn btn-warning">Cancel</button>&nbsp;
                <button (mousedown)="submitButtonPressed()" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
    <div *ngIf="myUser.user_id != matchUser.user_id && matchUser.matchObj && matchUser.matchObj.match_level < 4" class="purple-text">You must be intimacy level 2 to see reviews and level 4 to write reviews.</div>
</div>