<table width="100%">
    <tr>
        <td width="30" valign="top" style="padding-top: 20px;">
            <app-profile-pic [user_id]="user_id" [profilePic]="profilePic" [size]="30"></app-profile-pic>
        </td>
        <td style="position: relative;">
            <app-message-input [maxLength]="maxLength" [placeHolder]="placeHolder" (messageEvent)="textValueChanged($event)" [value]="value"></app-message-input>
        </td>
        <td valign="top" style="padding: 15px 3px 3px 3px; width: 62px;">&nbsp;
            <button (mousedown)="submitValue()" class="btn btn-primary" [disabled]="submitDisabled"><i
                    class="fa fa-paper-plane"></i></button>
        </td>
    </tr>
</table>
