<div class="small-box">
    <div style="font-size: 12px; color: #b7121f;">{{firstName}}'s Dating Pool</div>
    <div *ngFor="let person of datingPoolList" class="pool-snapshot">
        <img *ngIf="person.user_id>0" [src]="person.src" class="snapshot-img" [title]="person.name" [style.border]="person.heartFlg?'2px solid red':'none'">
        <div class="small-name"><i *ngIf="person.heartFlg" style="color: red;" class="fa fa-heart"></i>{{person.name}}<sup
                style="font-size: 6px; color: #494;">{{person.level}}</sup></div>
    </div>
</div>