select {
    background-color: #ccc;
    margin: 2px;
}

.matches-card2 {
    display: inline-block;
    background-color: white;
    padding: 5px;
    margin: 5px;
    box-shadow: 3px 3px 5px gray;
    border-radius: 10px;
}