.request {
    width: 80px;
    padding: 1px;
    margin-top: 2px;
}
input {
    padding: 15px;
    border: 2px solid #ccc;
    margin: 5px;
    height: 60px;
}

.request-btn {
    border: 1px solid gray;
    background-color: #444;
    margin: 2px;
    color: white;
    height: 30px;
    padding: 2px 10px 2px 10px;
    font-size: 12px;
}

.request-btn:hover {
    background-color: #ccc;
    color: black;
}

.gray-bar {
    background-color: #444;
}

.small-title {
    font-size: 12px;
    font-weight: 700;
}

.gift-cell {
    cursor: pointer;
    display: inline-block; 
    border: 1px solid gray; 
    border-radius: 10px; 
    padding: 5px;
    background-color: #eee;
    margin: 5px;
    text-align: center;
}

.gift-cell:hover {
    box-shadow: 2px 2px 5px black;
}

.gray-box {
    display: inline-block; border: 1px solid gray; border-radius: 10px; padding: 5px;
    background-color: #eee;
    margin: 5px;
    text-align: center;
}
@media screen and (max-width: 540px) {
    .request-btn {
        font-size: 10px;
    }
}
