<app-page-shell (messageEvent)="loginClicked ($event)" [userId]="userId" [notifications]="notifications"
    [imgSrcFile]="imgSrcFile" [pageTitle]="papgeTitle" [profileCompleteFlg]="profileCompleteFlg">
    <img *ngIf="!profileCompleteFlg" class="background-img" src="assets/images/coffeeShop.jpg" alt="Coffee Shop">


    <app-profile-snapshot *ngIf="profileCompleteFlg && user" [user]="user" [responseJson]="responseJson"
        [matchObj]="matchObj" (messageEvent)="snapshotButtonClicked ($event)"></app-profile-snapshot>

    <div (mousedown)="errorMessage=''" *ngIf="errorMessage" style="background-color: yellow;">{{errorMessage}}</div>

    <table width="100%" *ngIf="!profileCompleteFlg">
        <tr>
            <td>
                <div style="height: 400px;">&nbsp;
                </div>
            </td>
            <td width="310">
                <app-sign-up-popup *ngIf="popupNum==1" (messageEvent)="dismisLogin($event)"></app-sign-up-popup>
            </td>
        </tr>
    </table>
    <div>

    </div>


</app-page-shell>


<app-login-popup *ngIf="popupNum==2" (messageEvent)="dismisLogin($event)"></app-login-popup>
<app-welcome-popup *ngIf="popupNum==3"></app-welcome-popup>