<app-page-shell [userId]="userId" [popupNum]="popupNum" [imgSrcFile]="imgSrcFile" [pageTitle]="papgeTitle"
    [headerObj]="headerObj" [userStatus]="userStatus">

    <!--<div *ngIf="userId==0">
        <img *ngIf="!headerObj.profileCompleteFlg" class="background-img hide-md" src="assets/images/landing/loveBG.jpg"
            alt="">

        <div *ngIf="!headerObj.profileCompleteFlg" class="carousel-wrapper show-md">
            <div class="carousel-container">
                <div class="carousel">
                    <img src="assets/images/bachelor1.jpg">
                    <img src="assets/images/bachelor2.jpg">
                    <img src="assets/images/bachelor3.jpg">
                </div>
            </div>
        </div>

        <table width="100%">
            <tr>
                <td>
                    <div style="height: 100vh;">&nbsp;
                    </div>
                </td>
                <td width="310">
                    <app-sign-up-popup *ngIf="login!=1" (messageEvent)="userIsLoggedIn($event)"></app-sign-up-popup>
                </td>
            </tr>
        </table>
    </div>-->

    <div *ngIf="user && userId>0">
        <app-dating-pool *ngIf="headerObj.profileCompleteFlg && user" [user]="user" [largeFlg]="false">
        </app-dating-pool>

        <div *ngIf="userStatus=='Active'" class="match-card">
            <div class="main-color" style="font-size: 18px; font-weight: 700;"><i class="fa fa-heart"></i> Welcome to
                Betra!
            </div>

            <div class="padded-box">
                <p *ngIf="!user.datingPool || user.datingPool.length < 2" style="font-size: 12px; color: black;">Your
                    first step is to find singles that you like. If they like
                    you back, they will show up in your <span class="red-text"><i class="fa fa-users"></i> Dating
                        Pool</span> and chatting can begin!</p>
                <p *ngIf="user.datingPool.length >= 2 && user.datingPool.length < user.maxPoolSize">
                    You still have room for more singles in your dating pool.
                </p>
                <p *ngIf="user.datingPool.length == user.maxPoolSize">
                    Keep in mind you can continue adding people to your dating pool.
                </p>
                <p *ngIf="user.datingPool.length > user.maxPoolSize">
                    You will need to move someone to your back burner before searching for more singles.
                </p>
                <button *ngIf="user.datingPool.length <= user.maxPoolSize" [routerLink]="['/user-detail']" class="btn btn-main-color btn-large"><i
                        class="fa fa-search"></i> Browse Singles</button>
                <button *ngIf="user.datingPool.length > user.maxPoolSize" [routerLink]="['/matches']" class="btn btn-main-color btn-large"><i
                        class="fa fa-users"></i> Dating Pool</button>
            </div>

            <div *ngIf="!user.lat" class="border-box" [routerLink]="['/settings']" style="cursor: pointer;">
                <p class="red-text">Note: Something is not set up properly with your location</p>
                <p>Click here to fix.</p>
            </div>
            <div style="text-align: left;" class="gray-text">
                <p>Betra is designed to be the "next generation" in dating, and guaranteed to be the most fun you will
                    ever
                    have with a dating app.</p>
            </div>
        </div>

        <div *ngFor="let item of displayItems" class="item-card">
            <table width="100%" [id]="item.id">
                <tr>
                    <td style="width: 30%; max-width: 190px; min-width: 100px; padding: 0;">
                        <a [href]="item.url"><img [src]="item.src" class="item-pic" width="100%"></a>
                    </td>
                    <td style="padding: 10px;">
                        <div class="main-color"><i [class]="item.icon"></i> {{item.type}}
                            <span class="local-date">{{item.date}}</span>
                        </div>
                        <div><a [href]="item.url">{{item.name}}</a></div>
                        <div class="gray-text" [innerHtml]="item.description"></div>
                        <a [href]="item.url" class="text-link" style="float: right; font-size: 10px; color: gray;">Read More</a>
                    </td>
                </tr>
            </table>

            
        </div>
    </div>
    <app-spinner [loadingFlg]="loadingFlg" [errorMessage]="errorMessage"></app-spinner>

</app-page-shell>


<app-login-popup *ngIf="login==1" (messageEvent)="userIsLoggedIn($event)"></app-login-popup>
<app-welcome-popup *ngIf="userId > 0 && userStatus != 'Active'" (messageEvent)="userIsLoggedIn($event)">
</app-welcome-popup>