<app-page-shell [userId]="userId" [popupNum]="popupNum" [imgSrcFile]="imgSrcFile" [pageTitle]="papgeTitle"
    [headerObj]="headerObj" [userStatus]="userStatus">

    <div *ngIf="userId==0">
        <img *ngIf="!headerObj.profileCompleteFlg" class="background-img hide-md" src="assets/images/landing/loveBG.jpg"
            alt="">

        ng g c home-page<div *ngIf="!headerObj.profileCompleteFlg" class="carousel-wrapper show-md">
            <div class="carousel-container">
                <div class="carousel">
                    <img src="assets/images/bachelor1.jpg">
                    <img src="assets/images/bachelor2.jpg">
                    <img src="assets/images/bachelor3.jpg">
                </div>
            </div>
        </div>

        <table width="100%">
            <tr>
                <td>
                    <div style="height: 100vh;">&nbsp;
                    </div>
                </td>
                <td width="310">
                    <app-sign-up-popup *ngIf="login!=1" (messageEvent)="userIsLoggedIn($event)"></app-sign-up-popup>
                </td>
            </tr>
        </table>
    </div>

    <div *ngIf="userId>0">
        <app-dating-pool *ngIf="headerObj.profileCompleteFlg && user" [user]="user" [largeFlg]="false">
        </app-dating-pool>

        <div class="match-card" style="padding: 10px; width: 100%; max-width: none;">
            <div class="main-color" style="font-size: 18px; font-weight: 700;"><i class="fa fa-heart"></i> Welcome to
                Betra!
            </div>

            <div *ngIf="!user.datingPool || user.datingPool.length < 2" class="padded-box">
                <p style="font-size: 12px; color: black;">Your first step is to find singles that you like. If they like you back, they will show up in your <span class="red-text">Dating Pool</span> and chatting can begin!</p>
                <button [routerLink]="['/user-detail']" class="btn btn-main-color btn-large">Browse Singles</button>
            </div>

            <div *ngIf="!user.lat" class="border-box" [routerLink]="['/settings']" style="cursor: pointer;">
                <p class="red-text">Note: Something is not set up properly with your location</p>
                <p>Click here to fix.</p>
            </div>
            <div style="text-align: left;" class="gray-text">
                <p>This is designed to be the "next generation" in dating, and guaranteed to be the most fun you will
                    ever
                    have with a dating app.</p>
                <p>Betra means "Better" is Greek and that is exactly what kind of app this is. Fill up your dating pool by indicating which singles you are interested in,
                    then begin narrowing your prospects, giving out roses along the way.
                    Its fun and its exciting.
                </p>
                <p>
                    And here's the real kicker: When you hand out a rose, everyone in your dating pool gets to see who
                    you handed it out to.
                    Is it a little bit scary at first? Yes. But it's also what makes Betra more fun and more transparent
                    than any other dating app. Give it a try.
                </p>
            </div>



            <img src="assets/images/landing/table3.png" style="width: 100%;">
            <hr>
            <p style="font-size: 18px; font-weight: 700;">Officially launches on Feb 14th, 2023!</p>
            <p class="gray-text">This is the fully functioning beta version. Feel free to test it out with other real
                users.
                We currently have
                users in the following countries and states:</p>
            <app-spinner [loadingFlg]="loadingFlg" [errorMessage]="errorMessage"></app-spinner>

            <div *ngIf="states" class="red-text" style="font-size: 10px; padding-bottom: 10px;">
                <div class="gray-box">
                    <div style="color: gray; font-size: 8px;">Countries with active users</div>
                    <span *ngFor="let country of countries">{{country.name}}<sup>{{country.count}}</sup>&nbsp;
                    </span>
                </div>
                <div class="gray-box">
                    <div style="color: gray; font-size: 8px;">States with active users</div>
                    <span *ngFor="let state of states">{{state.stateName}}<sup>{{state.count}}</sup>&nbsp;
                    </span>
                </div>

            </div>
            <p class="gray-text">Help us spread to every city in the world!</p>

        </div>
    </div>
    <app-betra-features *ngIf="userId==0"></app-betra-features>



</app-page-shell>


<app-login-popup *ngIf="login==1" (messageEvent)="userIsLoggedIn($event)"></app-login-popup>
<app-welcome-popup *ngIf="userId > 0 && userStatus != 'Active'" (messageEvent)="userIsLoggedIn($event)">
</app-welcome-popup>