<div [title]="labelText">
    <span *ngIf="label && !icon && !img">{{label}}:&nbsp;</span>
    <img *ngIf="img" [src]="img" height="20" style="margin-right: 4px;">
    <span *ngIf="icon"><i [class]="icon"></i>&nbsp;</span>
    <span style="font-weight: 700;">
        <sup *ngIf="text1==text2"><i class="fa fa-check" style="color: #00cc00;"></i></sup> 
        <span [ngClass]="ngClassText()">{{text1}}</span>
    </span>
    <img *ngIf="cannabis=='Occasional'" src="assets/images/cannabis.png" style="float: right;" title="Occasional Cannabis User" height="20">
    <img *ngIf="cannabis=='Yes'" src="assets/images/cannabis.png" style="float: right;" title="Cannabis User" height="20">
    <img *ngIf="cannabis=='No'" src="assets/images/noDrugs.png" style="float: right;" title="No Drugs" height="20">
    <img *ngIf="smokes=='Occasional'" src="assets/images/smoker.png" style="float: right;" title="Occasional Smokes" height="18">
    <img *ngIf="smokes=='Yes'" src="assets/images/smoker.png" style="float: right;" title="Smokes" height="18">
    <img *ngIf="smokes=='No'" src="assets/images/nonSmoker.png" style="float: right;" title="Non Smoker" height="20">
    <img *ngIf="drinks=='Occasional'" src="assets/images/drinker.png" style="float: right;" title="Occasional Drinks" height="20">
    <img *ngIf="drinks=='Yes'" src="assets/images/drinker.png" style="float: right;" title="Drinks" height="20">
    <img *ngIf="drinks=='No'" src="assets/images/nonDrinker.png" style="float: right;" title="Non Drinker" height="20">
</div>