.red-button {
    background-color: #b7121f;
    color: white;
    width: 100%;
    height: 60px;
}

.red-button:hover {
    background-color: red;
    ;
}

.gray-button {
    background-color: #ddd;
    color: black;
}

.hyper-link {
    text-align: center;
    cursor: pointer;
    padding-top: 10px;
}

.hyper-link:hover {
    text-decoration: underline;
}