<div class="betra-popup">
    <div class="top-title">
        <i class="fa fa-heart"></i> Betra - The better way to meet
    </div>
    <div class="inside-box" *ngIf="user">
        <div style="font-size: 24px; text-align: center;">Welcome {{user.firstName}}!</div>
        <hr>
        <div>You need to finish setting up your profile before you can start meeting people. This only takes a few minutes.</div>
        <hr>
        <button [routerLink]="['/profile']" class="btn red-button">Profile</button>
    
    </div>

</div>