<div class="betra-popup" style="background-color: #fee; color: black;">
    <div class="red-text">
        <i class="fa fa-heart"></i> Betra - The better way to meet
    </div>
    <div class="inside-box" *ngIf="user" style="text-align: center;">
        <div style="font-size: 24px;">Welcome {{user.firstName}}!</div>
        <div>Status: {{user.status}}</div>
        <hr>
        <p>You need to finish setting up your profile.</p>
        <p><span class="text-highlight">{{user.pendingStatusReason}}</span></p>
        <hr>
        <button [routerLink]="['/profile']" [queryParams]="{num: user.pendingStatusPage}" class="btn btn-main-color btn-large">Profile</button>
        <div (mousedown)="logout()" class="hyper-link">logout</div>
    </div>

</div>