<app-page-shell (messageEvent)="loginClicked ($event)" [pageTitle]="'Owner Users'" [userId]="userId"
    [imgSrcFile]="imgSrcFile" [headerObj]="headerObj" [userStatus]="userStatus" [stickyBottomFlg]="true">
    <div class="matches-card2" *ngIf="user && user.ownerFlg">
        <app-owners-menu [pageTitle]="teamName" [page]="2"></app-owners-menu>
        <hr>
        <app-spinner [loadingFlg]="loadingFlg" [errorMessage]="errorMessage"></app-spinner>

        {{teamName}}

        <div *ngIf="team==0">
            Org chart coming soon...
        </div>
        <div *ngIf="team==1">
            <app-owner-cell *ngFor="let player of devTeam" [person]="player" [adminFlg]="user.activityRep>8"></app-owner-cell>
        </div>
        <div *ngIf="team==2">
            <app-owner-cell *ngFor="let player of promotionsTeam" [person]="player" [adminFlg]="user.activityRep>8"></app-owner-cell>
        </div>

        <div *ngIf="team==3">
            <app-owner-cell *ngIf="ownerJames" [person]="ownerJames" [adminFlg]="user.activityRep>8"></app-owner-cell>
            <div *ngFor="let team of teams1" class="team-box">
                <div style="background-color: #444; color: white;">{{team.name}}</div>
                <app-owner-activity-user [owner]="team.lead" [leaderFlg]="true" [adminFlg]="user.activityRep>8"></app-owner-activity-user>
                <app-owner-activity-user *ngFor="let member of team.members" [owner]="member" [adminFlg]="user.activityRep>8"></app-owner-activity-user>
                <div class="gray-text">clicks: {{team.clicks}}</div>
                <div class="gray-text">matches: {{team.matches}}</div>
                <div class="gray-text">messages: {{team.messages}}</div>
                <div class="gray-text">pics: {{team.picVerifiedCount}}</div>
                <div><b>Score: {{team.total}}</b></div>
                <div style="font-size: 8px; color: gray;">
                    <span *ngFor="let email of team.emails">{{email}}; </span>
                </div>
            </div>
        </div>

        <div *ngIf="team==4">
            <app-owner-cell *ngIf="ownerHalle" [person]="ownerHalle" [adminFlg]="user.activityRep>8"></app-owner-cell>
            <div *ngFor="let team of teams2" class="team-box">
                <div style="background-color: #444; color: white;">{{team.name}}</div>
                <app-owner-activity-user [owner]="team.lead" [leaderFlg]="true" [adminFlg]="user.activityRep>8"></app-owner-activity-user>
                <app-owner-activity-user *ngFor="let member of team.members" [owner]="member" [adminFlg]="user.activityRep>8"></app-owner-activity-user>
                <div class="gray-text">clicks: {{team.clicks}}</div>
                <div class="gray-text">matches: {{team.matches}}</div>
                <div class="gray-text">messages: {{team.messages}}</div>
                <div class="gray-text">pics: {{team.picVerifiedCount}}</div>
                <div><b>Score: {{team.total}}</b></div>
                <div style="font-size: 8px; color: gray;">
                    <span *ngFor="let email of team.emails">{{email}}; </span>
                </div>

            </div>
        </div>

    </div>
</app-page-shell>