<div *ngIf="requestNum==2" class="basic-cell">
    <!-- date request-->
    <div>&nbsp;</div>
    <div *ngIf="!messageSentFlg && !dateObjExists">
        <p style="font-size: 12px;">Ask {{matchUser.firstName}} out on a date with one click!</p>
        <app-date-form [dateObj]="matchUser.matchObj.dateObj" [requestObj]="requestObj"></app-date-form>
        <div>&nbsp;</div>
        <div class="gray-text">Keep in mind the person asking the date is expected to pay.</div>
        <div>&nbsp;</div>
        <div>
            <button (mousedown)="sendDateRequest()" class="btn btn-main-color" style="height: 60px;">Send
                Request</button>
        </div>
    </div>

    <div *ngIf="matchUser.matchObj.you_date_request=='X'">
        you_date_request {{matchUser.matchObj.you_date_request}}
    </div>
    <div *ngIf="matchUser.matchObj.you_date_request=='C'">
        Your date has been cancelled and must be removed before starting a new date.
        <div class="gray-text">It can only be removed by the person who did not cancel it. Or once the date has been
            passed, it can be removed by anyone.</div>
    </div>
    <div *ngIf="matchUser.matchObj.match_date_request=='X'">
        <div><i class="fa fa-ban"></i> Sorry, your date offer was declined.</div>
        <div *ngIf="matchUser.matchObj.dateObj">Reason: {{matchUser.matchObj.dateObj.comment}}</div>
        <div class="gray-text">You must wait 14 days before asking this person out again.</div>
    </div>
    <div *ngIf="matchUser.matchObj.match_date_request=='Y'"><i class="fa fa-paper-plane"></i> Date request sent.
        Awaiting reply.</div>
    <div *ngIf="matchUser.matchObj.match_date_request=='A'"><i class="fa fa-calendar" style="color: #900;"></i> You
        already have a date set up.</div>
    <div *ngIf="matchUser.matchObj.you_date_request == 'M'"><i class="fa fa-paper-plane"></i> You have requested a
        modification to your date.</div>
    <app-spinner [loadingFlg]="loadingFlg" [errorMessage]="errorMessage"></app-spinner>
    <div>&nbsp;</div>
    <div *ngIf="messageSentFlg"><i class="fa fa-paper-plane"></i> Message sent!</div>
</div>

<div *ngIf="dateObjExists"
    class="tan-box">
    <div *ngIf="0">
        match_date_request [{{matchUser.matchObj.match_date_request}}]
        you_date_request [{{matchUser.matchObj.you_date_request}}]
        status [{{matchUser.matchObj.dateObj.status}}]
    </div>

    <div *ngIf="matchUser.matchObj.match_date_request == 'A' || matchUser.matchObj.you_date_request == 'A'">
        <i class="fa fa-calendar" style="color: #900;"></i> You have
        a confirmed date with {{matchUser.firstName}}!
    </div>
    <div *ngIf="matchUser.matchObj.match_date_request == 'Y'"><i class="fa fa-exclamation-triangle"
            style="color: #900;"></i> You have requested a date with {{matchUser.firstName}}, awaiting reply
    </div>
    <div *ngIf="matchUser.matchObj.you_date_request == 'Y'"><i class="fa fa-calendar" style="color: #900;"></i> You have
        a new date request from {{matchUser.firstName}}!
    </div>
    <div *ngIf="matchUser.matchObj.you_date_request == 'C' && matchUser.matchObj.dateObj">
        <div><i class="fa fa-ban" style="color: #900;"></i> Your date
            with {{matchUser.firstName}} has been cancelled by
            <span *ngIf="matchUser.matchObj.dateObj.cancelledBy == myUser.user_id">{{myUser.firstName}}</span>
            <span *ngIf="matchUser.matchObj.dateObj.cancelledBy == matchUser.user_id">{{matchUser.firstName}}</span>
        </div>
        <div>Reason: {{matchUser.matchObj.dateObj.comment}}</div>
    </div>
    <div *ngIf="matchUser.matchObj.you_date_request == 'M'"><i class="fa fa-exclamation-triangle"
            style="color: #900;"></i> You have requested a date modification
        (<span class="highlited-text">{{matchUser.matchObj.dateObj.comment}}</span>),
        awaiting response.</div>
    <div *ngIf="matchUser.matchObj.match_date_request == 'M'"><i class="fa fa-exclamation-triangle"
            style="color: #900;"></i> You have a date modification request from {{matchUser.firstName}}:
        <span class="highlited-text">"{{matchUser.matchObj.dateObj.comment}}"</span>
    </div>

    <app-date-display [dateObj]="matchUser.matchObj.dateObj"></app-date-display>

    <div *ngIf="!messageSentFlg && !loadingFlg">
        <div *ngIf="matchUser.matchObj.you_date_request == 'Y'">
            <div *ngIf="!loadingFlg && !modifyFlg && !declineDateFlg">
                <button (mousedown)="declineDateFlg=true" class="btn btn-danger">Decline</button>&nbsp;
                <button (mousedown)="modifyFlg=true" class="btn btn-warning">Modify</button>&nbsp;
                <button (mousedown)="processRequestsRequest('acceptDate')" class="btn btn-success">Accept!</button>
            </div>
            <div *ngIf="!loadingFlg && declineDateFlg">
                <div>What reason for declining?</div>
                <app-text-input [id]="'comment'" [maxLength]="200"></app-text-input>
                <button (mousedown)="declineDateFlg=false" class="btn btn-warning">cancel</button>&nbsp;
                <button (mousedown)="processRequestsRequest('rejectDate')" class="btn btn-success">Send</button>
            </div>
            <div *ngIf="!loadingFlg && modifyFlg">
                <div>What changes would you like to request?</div>
                <app-text-input [id]="'comment'" [maxLength]="200"></app-text-input>
                <button (mousedown)="modifyFlg=false" class="btn btn-warning">cancel</button>&nbsp;
                <button (mousedown)="processRequestsRequest('modifyDate')" class="btn btn-success">Send</button>
            </div>
        </div>
        <div *ngIf="matchUser.matchObj.you_date_request != 'Y'">
            <div *ngIf="modifyDateNum==0">
                <button *ngIf="matchUser.matchObj.you_date_request != 'C' && secondsAgo<=0" (mousedown)="modifyDateNum=1"
                    class="btn btn-warning">cancel</button>&nbsp;
                <button *ngIf="secondsAgo>0" (mousedown)="processRequestsRequest('removeDate')"
                    class="btn btn-primary">Remove Date</button>&nbsp;

                <button (mousedown)="modifyDateNum=2" *ngIf="matchUser.matchObj.match_date_request == 'M'"
                    class="btn btn-primary">Modify</button>&nbsp;
            </div>
            <div *ngIf="modifyDateNum==1">
                <div>Reason:</div>
                <app-text-input [id]="'comment'" [maxLength]="200"></app-text-input>
                <div>
                    <button (mousedown)="modifyDateNum=0" class="btn btn-warning">Keep Date</button>&nbsp;
                    <button (mousedown)="processRequestsRequest('cancelDate')" class="btn btn-danger">Cancel
                        Date</button>&nbsp;
                </div>
            </div>
            <div *ngIf="modifyDateNum==2">
                <app-date-form [dateObj]="matchUser.matchObj.dateObj" [requestObj]="requestObj"></app-date-form>
                <div>
                    <button (mousedown)="processRequestsRequest('cancelDate')" class="btn btn-danger">Cancel
                        Date</button>&nbsp;
                    <button (mousedown)="sendDateRequest()" class="btn btn-success">Send Update</button>
                </div>
            </div>
        </div>
    </div>
    <app-spinner [loadingFlg]="loadingFlg" [errorMessage]="errorMessage"></app-spinner>
    <div *ngIf="!loadingFlg && messageSentFlg"><b>
            <i class="fa fa-check" style="color: #900;"></i> Update successful</b>
    </div>
</div>