<app-page-shell (messageEvent)="loginClicked ($event)" [pageTitle]="'Join the Team'" [userId]="userId"
    [imgSrcFile]="imgSrcFile" [headerObj]="headerObj" [userStatus]="userStatus">
    <div class="matches-card">
        <app-top-header [topTitle]="'Join Team'"></app-top-header>
        <hr>

        <div *ngIf="user && user.ownerFlg">
            <app-owners-menu [pageTitle]="'Overview'" [page]="1"></app-owners-menu>
        </div>

        <p class="gray-text" style="text-align: left;">Join the Betra team and let's try to grow this app into one of
            the top dating sites in the world.
            The most popular dating sites currently generate about $1 million income per day.</p>
        <p class="gray-text" style="text-align: left;">
            Our initial goal is to grow Betra to the point where it is generating $100,000 per month, so this goal is
            very achievable.
            If we reach that goal, entry-level team members will be generating $500 per month.
            Moving up through the ranks will increase your monthly payouts.
        </p>
        <div class="tan-box" [routerLink]="['/owners']" *ngIf="user && user.ownerFlg && user.adminLevel < 2"
            style="color: #900; cursor: pointer;">
            <i class="fa fa-exclamation-triangle"></i> Note: You have not completed your tasks to be an official owner
            yet. Please click here to find out what is needed to reach Level 2.
        </div>
        <div class="shaded-border-box">
            <div class="title-bar">Benefits</div>
            <div class="inside-box">
                <li>Free lifetime gold member</li>
                <li>Site admin</li>
                <li>*monthly cash payments</li>
            </div>
        </div>
        <div></div>
        <div class="shaded-border-box">
            <div class="title-bar">Ownership Positions</div>
            <div class="inside-box">
                <table align="center">
                    <tr>
                        <th>Position</th>
                        <th>Rank</th>
                        <th align="center">%</th>
                        <th>Monthly Income</th>
                    </tr>
                    <tr *ngFor="let row of levels">
                        <td align="center">{{row.number}}</td>
                        <td>{{row.name}}</td>
                        <td align="center">{{row.percent}}</td>
                        <td align="center">{{row.payouts}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="gray-text">* Amounts are based on $100K per month revenue</div>
        <div class="shaded-border-box">
            <div class="title-bar">Your responsibilities</div>
            <div class="inside-box">
                <li>Promote the app</li>
                <li>Test the app and report errors</li>
                <li>Suggest improvements</li>
                <li>Approve user submitted pictures.</li>
            </div>
        </div>
        <p *ngIf="user && user.ownerFlg" class="gray-text" style="text-align: center;">To see what is needed to move up
            level, <a class="text-link" [routerLink]="['/owners']">click here</a>.</p>

        <table *ngIf="1 || !user || !user.ownerFlg" align="center" border="0">
            <tr>
                <td align="center">
                    <div>Spots Remaining</div>
                    <div class="spots-remaining" *ngIf="ownerCount>0"> {{spotsLeft}}</div>
                </td>
            </tr>
        </table>
        <div *ngIf="user && user.ownerFlg">
            You are an owner!
        </div>
        <div *ngIf="!user || !user.ownerFlg">
            <hr>
            <div class="shaded-border-box">
                <div class="title-bar">How to sign up</div>
                <div class="inside-box">
                    <div *ngIf="spotsLeft<=0">Sorry, all the spots are currently filled up.</div>
                    <div *ngIf="spotsLeft > 0 && !loadingFlg"
                        style="border: 1px solid gray; border-radius: 5px; display: inline-block; text-align: left; padding: 10px;">
                        <ol>

                            <li *ngIf="!user"><a [routerLink]="['']">Create a Betra account</a> <i
                                    *ngIf="user && user.user_id > 0" class="fa fa-check"
                                    style="color: green; font-size: 32px;"></i></li>
                            <li *ngIf="user && user.status != 'Active'"> Complete your <a
                                    [routerLink]="'/profile'">profile</a> <i *ngIf="user && user.status == 'Active'"
                                    class="fa fa-check" style="color: green; font-size: 32px;"></i></li>
                            <li *ngIf="(user && !user.emailVerifyFlg)"> Verify your <a [routerLink]="'/profile'"
                                    [queryParams]="{num: 1}">email address</a> <i *ngIf="user && user.emailVerifyFlg"
                                    class="fa fa-check" style="color: green; font-size: 32px;"></i> (check your junk
                                email address)</li>
                            <li *ngIf="!user">Fill up your dating pool</li>
                            <li *ngIf="user">Fill up your <span class="text-link" [routerLink]="['/matches']">dating
                                    pool</span> with at least 4 people</li>
                            <li>Click Join button below</li>
                            <div style="text-align: center">
                                <button (mousedown)="signupPressed()" class="btn btn-primary"
                                    style="padding: 10px; width: 120px;">Join!</button>
                            </div>
                        </ol>
                    </div>
                </div>
            </div>
            <app-spinner [loadingFlg]="loadingFlg" [errorMessage]="errorMessage"></app-spinner>
            <p class="gray-text" style="text-align: left;">That's it! No investment needed. once you press the Join
                button, you will be a 0.5% owner!
                You will then be assigned a region to start promoting.</p>
        </div>
    </div>
</app-page-shell>