<app-page-shell [userId]="userId" [popupNum]="popupNum" [imgSrcFile]="imgSrcFile" [pageTitle]="'Location'"
    [headerObj]="headerObj" [userStatus]="userStatus" [stickyBottomFlg]="true">

    <div class="matches-card" style="text-align: center;">
        <app-top-header [topTitle]="'Latest Users'"></app-top-header>
        <hr>
        <app-owners-menu [pageTitle]="'Latest'" [page]="1"></app-owners-menu>

        <div class="tan-box" style="font-size: 12px; text-align: left;">
            <p>Here are most recently logged in users (non-owners) and how their experience is going</p>
            <p>The rows highlighted in green are active AND in your target gender, so you should have a green
                checkmark
                in the last column indicating you have swiped them. If you haven't, please click on their picture on the
                left and give them a thumbs up.
            </p>
            <div *ngIf="actionCount>0">
                <div># of users you should take action on: <span style="font-size: 24px;"
                        class="text-highlight">{{actionCount}}</span> </div>
                <div class="gray-text">(Click on the profiles in green below and give a thumbs up)</div>
            </div>
        </div>
        <app-spinner [loadingFlg]="loadingFlg" [errorMessage]="errorMessage"></app-spinner>
        <div>Color Legend:</div>
        <table width="100%" style="font-size: 10px;" border="1">
            <tr>
                <td>&nbsp;</td>
                <td style="background-color: #fff;">Not active</td>
                <td style="background-color: #ffffc0;">Not your target gender</td>
                <td style="background-color: #cfc;">Is your target Gender</td>
                <td style="background-color: #ccc;">Photo Club Only</td>
                <td style="background-color: red;">Deleted</td>
            </tr>
        </table>
        <table style="font-size: 12px;">
            <tr>
                <th>Pic</th>
                <th>Name</th>
                <th>Gender</th>
                <th class="hide-sm">Created</th>
                <th>Status</th>
                <th>lastLogin</th>
                <th>Yes</th>
                <th>No</th>
                <th>Matches</th>
                <th>Likes Received</th>
                <th>Swiped by You</th>
                <th class="hide-sm">Rose</th>
            </tr>
            <tr *ngFor="let person of users" [ngStyle]="ngStyleRow(person)">
                <td>
                    <app-profile-pic2 (mousedown)="showProfile(person.user_id)" [user_id]="person.user_id" [profilePic]="person.profilePic" [size]="20">
                    </app-profile-pic2>
                </td>
                <td [title]="person.user_id">{{person.firstName}}
                    <div style="font-size: 6px; color: gray;">{{person.email}}</div>
                </td>
                <td>{{person.gender}}, {{person.age}}</td>
                <td class="hide-sm">
                    {{person.created}}
                    <div style="font-size: 6px; color: gray;">{{person.version}} {{person.platform}}</div>
                </td>
                <td>{{person.status}}</td>
                <td>{{person.lastDay}}</td>
                <td>{{person.statsObj.interestYes}}</td>
                <td>{{person.statsObj.interestNo}}</td>
                <td class="red-text"><b>{{person.statsObj.matchLevel2}}</b></td>
                <td>{{person.statsObj.likesReceived}}</td>
                <td>
                    <i *ngIf="person.matchObj && person.matchObj.you_interested=='Y'" class="fa fa-check"
                        style="font-size: 16px; color: green;"></i>
                    <i *ngIf="person.matchObj && person.matchObj.you_interested=='N'" class="fa fa-times"
                        style="font-size: 16px; color: red;"></i>
                </td>
                <td class="hide-sm"><i class="fa fa-check" *ngIf="person.roseCeremonyDt"></i> {{person.daysTillRoseCeremony}}</td>
            </tr>
        </table>
        <div *ngIf="user.user_id==1" style="font-size: 8px; color: gray;">
            <div>
                <div class="red-text">Not active</div>
                <span *ngFor="let email of notActiveUsers">{{email}}, </span>
            </div>
            <div>
                <div class="red-text">No Rose Ceremony</div>
                <span *ngFor="let email of activeUsersNoRoseCeremony">{{email}}, </span>
            </div>
            <div>
                <div class="red-text">Completed Ceremony</div>
                <span *ngFor="let email of activeUsersCompletedCeremony">{{email}}, </span>
            </div>
        </div>
    </div>
</app-page-shell>
<app-profile-user-popup></app-profile-user-popup>