.blog-title {
    font-size: 36px; 
    font-weight: 700;
    text-align: left;
    cursor: pointer;
}

.blog-title:hover {
    text-decoration: underline;
}

.blog-body {
    color: gray;
    text-align: left;
}