<div
    style="display: inline-flex; border: 1px solid #ddd; border-radius: 10px; margin: 5px; padding: 10px; text-align: center; background-color: white;">
    <div *ngIf="blog" style="display: inline-block; max-width: 500px;">
        <div *ngIf="shrinkSize==2">
            <div [routerLink]="['/blogs']" [queryParams]="{id: blog.row_id}" class="blog-title"
                style="font-size: 24px; height: 50px; line-height: 24px; overflow: hidden;">{{blog.title}}</div>
            <table width="100%">
                <tr [routerLink]="['/blogs']" [queryParams]="{id: blog.row_id}">
                    <td width="50%">
                        <img [src]="blog.src1" width="100%" style="cursor: pointer;">
                    </td>
                    <td>
                        <div class="gray-text"
                            style="padding: 5px; text-align: left; max-height: 98px; overflow: hidden;">{{blog.intro}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="font-size: 11px;">
                        <span class="hide-xs"><i class="fa fa-calendar"></i> {{blog.localDate}}</span>&nbsp;
                        <span style="color: gray;"><i class="fa fa-comments"></i> {{blog.commentCount}} </span>&nbsp;
                        <span style="color: #050;"><i class="fa fa-thumbs-up"></i> {{blog.likes}} </span>&nbsp;
                        <span style="color: #500;"><i class="fa fa-thumbs-down"></i> {{blog.dislikes}} </span>
                    </td>
                </tr>
            </table>

        </div>
        <div *ngIf="shrinkSize==1">
            <div [routerLink]="['/blogs']" [queryParams]="{id: blog.row_id}" class="blog-title">{{blog.title}}</div>
            <table width="100%">
                <tr [routerLink]="['/blogs']" [queryParams]="{id: blog.row_id}">
                    <td width="50%">
                        <img [src]="blog.src1" width="100%" style="cursor: pointer;">
                    </td>
                    <td>
                        <div class="gray-text" style="padding: 5px; text-align: left;">{{blog.intro}}</div>
                    </td>
                </tr>
                <tr>
                    <td *ngIf="blog.author" align="center" style="padding: 20px;">
                        by <a href="{{blog.url}}" target="new">{{blog.author}}</a>
                    </td>
                    <td *ngIf="!blog.author" align="center" style="padding: 20px;">
                        <app-profile-pic [user_id]="blog.user_id" [profilePic]="blog.profilePic" [size]="30">
                        </app-profile-pic>
                        {{blog.firstName}}
                    </td>
                    <td align="center" style="padding: 20px; font-size: 12px;">
                        <i class="fa fa-calendar"></i> {{blog.localDate}}&nbsp;
                        <span style="color: gray; margin: 3px;"><i class="fa fa-comments"></i> {{blog.commentCount}}
                        </span>
                        <span *ngIf="blog.likes>0" style="color: #050; margin: 3px;"><i class="fa fa-thumbs-up"></i>
                            {{blog.likes}} </span>
                        <span *ngIf="blog.dislikes>0" style="color: #500; margin: 3px;"><i
                                class="fa fa-thumbs-down"></i> {{blog.dislikes}} </span>
                    </td>
                </tr>
            </table>
            <div *ngIf="editFlg" class="border-box">
                <div class="red-text">Admin Panel</div>
                <a [routerLink]="['/blog-create']" [queryParams]="{id: blog.row_id}" class="text-link">edit</a>&nbsp;
                Status: <span class="text-highlight">{{blog.status}}</span>
                <div *ngIf="blog.status == 'New'" class="gray-text">Note: Be sure to add 3 pictures before publishing Blog. Click edit to publish</div>
            </div>
        </div>
        <div *ngIf="shrinkSize==0">
            <div [routerLink]="['/blogs']" [queryParams]="{id: 0}" class="text-link">Betra Blogs</div>
            <div class="blog-title">{{blog.title}}</div>
            <table width="100%">
                <tr>
                    <td *ngIf="blog.author" align="center" style="padding: 20px;">
                        by <a href="{{blog.url}}" target="new">{{blog.author}}</a>
                    </td>
                    <td *ngIf="!blog.author">
                        <app-profile-pic [user_id]="blog.user_id" [profilePic]="blog.profilePic" [size]="30">
                        </app-profile-pic>
                        {{blog.firstName}}
                    </td>
                    <td>
                        {{blog.localDate}}
                    </td>
                </tr>
            </table>
            <img *ngIf="blog.pic1" [src]="blog.src1" width="100%">
            <div *ngIf="blog.section1" class="blog-body" [innerHtml]="blog.section1"></div>
            <img *ngIf="blog.pic2" [src]="blog.src2" width="100%">
            <div *ngIf="blog.section2" class="blog-body" [innerHtml]="blog.section2"></div>
            <img *ngIf="blog.pic3" [src]="blog.src3" width="100%">
            <div *ngIf="blog.section3" class="blog-body" [innerHtml]="blog.section3"></div>
            <table width="100%" style="font-size: 16px; font-weight: 700;">
                <tr>
                    <td align="left">
                        <span *ngIf="blog.prevBlogId>0" class="text-link" [routerLink]="['/blogs']"
                            [queryParams]="{id: blog.prevBlogId}">
                            <i class="fa fa-arrow-left"></i> Previous Blog
                        </span>
                    </td>
                    <td align="right">
                        <span *ngIf="blog.nextBlogId>0" class="text-link" [routerLink]="['/blogs']"
                            [queryParams]="{id: blog.nextBlogId}">
                            Next Blog <i class="fa fa-arrow-right"></i>
                        </span>
                    </td>
                </tr>
            </table>
            <app-blog-comments [blog]="blog" [user]="user"></app-blog-comments>
        </div>
    </div>
</div>