<app-page-shell [userId]="userId" [pageTitle]="'Advice'" [headerObj]="headerObj" [userStatus]="userStatus"
    [stickyBottomFlg]="true">

    <div class="matches-card" style="text-align: left;">
        <div style="text-align: center;">
            <button style="float: left; margin: 2px;" [routerLink]="['']" class="btn btn-main-color btn-small">Home</button>&nbsp;
            <button style="float: left; margin: 2px;" [routerLink]="['/advice']" class="btn btn-main-color btn-small">Advice</button>
            <span class="main-title">Advice</span>
            <img src="assets/images/betraLogo.png" height="25" style="float: right;">
        </div>
 
        <h2>MUST-KNOW BEST DATING ADVICE & RULES OF DATING</h2>
        <img [routerLink]="['/advice1']" src="assets/images/buttons/DatingTips.jpg" align="left" style="width: 300px; margin: 5px;">
        

<div class="gray-text">Dating Tips by Team SEEMA</div>

<p>It’s pretty safe to say that most of us don’t know what we’re doing when it comes to dating. While we likely realize that there is no one way to pursue and maintain a relationship, there are some dating tips advice to keep in mind that will make the process of finding that special someone a little easier.
</p>
<p>It’s also no secret that most of us have made more mistakes than we care to admit when it comes to finding the right relationship or even practicing proper dating etiquette. However, when we make mistakes in relationships and dating, we also create an opportunity to learn from those mistakes to improve our behaviors for ourselves and our future partners. There are even instances when you can look at your friends or family members and learn from their dating mishaps so you won’t have to make as many mistakes on your own.
</p>
<p>Here is some of the dating advice you can benefit from as you grow in maturity and figure out what you truly want from a relationship.
</p>
<h4>Don’t Fall in Love with Potential</h4>

<p>One of the most important aspects of successful dating is not to fall in love with someone’s potential. While we all have our flaws and will hopefully work on improving ourselves whether we’re single or in a relationship. However, there are certain goals and aspirations that people should have already reached or be actively striving for before entering into a relationship. This applies to both personal and professional pursuits.
</p>
<h4>Believe People When They Show You Who They Are</h4>

<p>As the saying goes, if it looks, acts, and quacks like a duck, it’s a duck. When people show you that they are inconsiderate of your time, inattentive, or controlling, believe them. Even though you may be attracted to them, they are not the best candidate for a relationship. It’s best to cut ties before you get too emotionally invested.
</p>
<h4>Avoid Being Manipulated</h4>

<p>While there are some negative personality traits you should avoid, we all have to remember that no one is perfect. When someone apologizes for something they’ve done to you but doesn’t change their behavior, they are manipulating you. It’s also important to protect yourself from being manipulated by keeping your emotions in check. Invest in the person you’re interested in based on how much they are mutually investing in you. If you simply let your feelings lead you, you could be taken advantage of. Remember, no matter how much you like someone or how much you think they like you, they don’t like you that much if they have not actively tried to pursue a relationship with you.
</p>
<p>People can also take advantage of one another financially and this is a a significant problem to avoid in relationships. One of the best dating tips to live by is that the person who asks the other person out to dinner should pay for the meal. This keeps you from feeling obligated to pay if you didn’t initiate the date.
</p>
<h4>Be Vocal About Social Issues</h4>

<p>Some of the best dating tips/advice to adhere to is to be outspoken when it comes to social justice issues you are passionate about. In many cases, women feel pressure to be quiet and pleasant when it comes to matters of sexism or racism. Society has taught women that they are not as desirable if they show visible anger or outspokenness about these issues and will be pegged as being angry or difficult. However, when a woman notices that her date is being discriminatory, it’s important to speak out and make it clear that this behavior will not be tolerated. Being silent could lead to more problems in the future.
</p>
<h4>Take Care of Yourself</h4>

<p>Remember that people won’t see the value in you if you don’t see the value in yourself. When you care for yourself physically, mentally, and emotionally, you are demonstrating how you expect to be treated from others. Being well-rounded, ambitious, physically healthy, friendly, and confident will draw people to you who are attracted to these qualities. Be with someone who celebrates these character traits in you and reciprocates this energy. You should also look for someone who has healthy self-esteem so that resentment and insecurity can’t infest your relationship.
</p>
<h4>Be Available</h4>

<p>After a few unpleasant dates or failed relationships, you may be a little jaded when it comes to making yourself available again. Find out about social events in your area and attend them looking your best. If your friends invite you to dinner or to a bar, make time to attend these outings since this increases the chances that you’ll meet someone new. Make yourself mentally available when you go on work trips or networking events. While you probably won’t find a potential date every time you leave your home, you have to make sure you’re open-minded and welcoming the possibility of finding that special someone.
</p>
<p>When you do go to social events, make sure that you stay safe while you’re searching for a potential mate. Park your car in a well-lit area, let your friends know your whereabouts, and don’t go anywhere alone with a potential date until you can trust them.
</p>
<h4>Take Your Time</h4>

Whether you’re dating someone new or looking to get into a new relationship after a long stint of being single, you should take your time. You may be excited about a person you’ve just met but you shouldn’t rush the relationship. Take the time to get to know someone and determine if the two of you are a match in terms of interests, character, and future goals before you decide to make a commitment. You should also take it slow when it comes to intimacy. Don’t let anyone rush you into the physical part of a relationship; only do what you feel comfortable with.

<h4>Maintain a Positive Mindset</h4>

<p>It’s not realistic to be positive all the time. However, you should try your best to have a positive mindset when it comes to dating. Don’t take your negative experiences from the past into your present relationship and don’t give your date the impression that you are guarded or overly skeptical. Remember to have fun, maintain your boundaries, but show off your fun and friendly side while you’re on your search for “the one.”
</p>
    </div>

</app-page-shell>