<app-page-shell [userId]="userId" [popupNum]="popupNum" [imgSrcFile]="imgSrcFile" [headerObj]="headerObj"
    [pageTitle]="'Photo Class'" [userStatus]="userStatus">

    <div class="matches-card2" *ngIf="user" style="padding: 0;">

        <app-top-header2 [topTitle]="'Photo Class'"></app-top-header2>
        <div class="tan-box">
            This is your chance to improve your photography skills in a fun and exciting way. Or help others with their
            skills. Here's how it works:
            <ul style="font-size: 12px; color: gray; text-align: left; margin-left: 30px; margin-bottom: 0;">
                <li>Anyone can create a class.</li>
                <li>Anyone can join a class.</li>
                <li>The instructor picks the topic and gives advice.</li>
                <li>Everyone in the class submits a photo.</li>
                <li>The class votes on the best picture and instructor gives feedback.</li>
            </ul>
            <div>Note: Everything is done online in your own spare time. You don't actually meet up at any specific
                time. Once the class starts, you will have 1 week to take your photo and turn it in.</div>
            <div>&nbsp;</div>
            <button *ngIf="createClassNum==0" (mousedown)="createClassNum=1" class="btn btn-main-color btn-large">Create
                Class</button>
            <div *ngIf="createClassNum>0" class="border-box">
                <div>Create a new class</div>
                <div class="gray-text">This is your chance to create a photography class, help others become better
                    photographers, or just have fun learning together. No expierience needed. The class will officially
                    start 1 week after you create it, and then participants will have another week to submit their
                    photos.</div>
                <hr>
                <div style="font-size: 10px;">Choose an overall type for your class</div>
                Category: <select id="classType" (change)="selectCategory()">
                    <option disabled selected>select</option>
                    <option>People</option>
                    <option>Nature</option>
                    <option>Objects</option>
                </select>
                <div *ngIf="createClassNum>=2">
                    <div>&nbsp;</div>
                    Genre:
                    <select *ngIf="classType == 'People'" id="classGenre" (change)="createClassNum=3">
                        <option disabled selected>select</option>
                        <option>Fashion</option>
                        <option>Studio</option>
                        <option>Portrait</option>
                        <option>Sports</option>
                        <option>Other</option>
                    </select>
                    <select *ngIf="classType == 'Nature'" id="classGenre" (change)="createClassNum=3">
                        <option disabled selected>select</option>
                        <option>Landscapes</option>
                        <option>Outdoors</option>
                        <option>Animals</option>
                        <option>Other</option>
                    </select>
                    <select *ngIf="classType == 'Objects'" id="classGenre" (change)="createClassNum=3">
                        <option disabled selected>select</option>
                        <option>Still Life</option>
                        <option>Buildings</option>
                        <option>Technology</option>
                        <option>Food</option>
                        <option>Other</option>
                    </select>
                </div>
                <div *ngIf="createClassNum>=3">
                    <div>&nbsp;</div>
                    <div style="font-size: 10px;">What will it cost people to attend your class?</div>
                    Cost (in coins): <select id="cost" (change)="createClassNum=4">
                        <option disabled selected>select</option>
                        <option>5</option>
                        <option>10</option>
                        <option>25</option>
                        <option>50</option>
                        <option>100</option>
                    </select>
                </div>
                <div *ngIf="createClassNum>=4">
                    <div>&nbsp;</div>
                    <div style="font-size: 10px;">Brief introduction of yourself.</div>
                    <textarea [id]="'instructor'" style="width: 100%;"></textarea>

                    <div style="font-size: 10px;">Describe your class in one sentence.</div>
                    <app-text-input [id]="'intro'"></app-text-input>
                    <div style="font-size: 10px;">What is the assignment for this class? Give some specific instructions
                        for students to follow so they know what type of photo to turn in.
                        (These will not be visible until the class begins).</div>
                    <textarea [id]="'description'" style="width: 100%;"></textarea>
                    <div style="font-size: 10px;">Special hints and strategies for making it a great photo.</div>
                    <textarea [id]="'tips'" style="width: 100%;"></textarea>
                    <div>&nbsp;</div>
                    <button [disabled]="loadingFlg" (mousedown)="createClass()"
                        class="btn btn-main-color spacer">Create!</button>
                </div>
                <div>&nbsp;</div>
                <div (mousedown)="createClassNum=0" class="text-link">Cancel</div>
            </div>
        </div>
        <app-spinner [loadingFlg]="loadingFlg" [errorMessage]="errorMessage"></app-spinner>

        <div *ngIf="page">
            <div *ngFor="let class of page.classes" class="class-box">
                <div style="background-color: #444; color: white;">{{class.name}}</div>
                <div style="padding: 10px;">
                    <app-profile-pic2 (mousedown)="showProfile(class.user_id)" [user_id]="class.user_id"
                        [profilePic]="class.profilePic" [size]="90">
                    </app-profile-pic2>
                    <div style="font-size: 12px; text-align: left;">
                        <div><b>Instructor:</b> {{class.firstName}}</div>
                        <div><b>Subject:</b> {{class.name}}</div>
                        <div><b>Description:</b> {{class.intro}}</div>
                    </div>
                    <div class="gray-text"></div>
                    <hr>
                    <div *ngIf="class.students.length>0">
                        <div>Enrolled</div>
                        <app-profile-pic2 (mousedown)="showProfile(student.user_id)"
                            *ngFor="let student of class.students" [user_id]="student.user_id"
                            [profilePic]="student.profilePic" [size]="30">
                        </app-profile-pic2>
                        <div *ngIf="class.students.length<5" style="font-size: 8px; color: red;">Note: Class must have
                            at least 5 people to start</div>
                        <hr>
                    </div>
                    <div *ngIf="class.status == 'Open'">
                        <div style="font-size: 10px;">Starts {{class.startDay}}</div>
                        <div>Days until start: <span class="text-highlight">{{class.daysTillStart}}</span></div>
                        <div>Cost: <span class="text-highlight">{{class.cost}}</span> coins</div>
                    </div>
                    <div *ngIf="class.status == 'Started'">
                        <div class="red-text">In progress!</div>
                        <div>Remaining days: <span class="text-highlight">{{class.daysTillEnd}}</span></div>
 
                        
                    </div>
                    <div *ngIf="class.workTodo>0"
                        style="background-color: yellow; font-size: 12px; color: #900; padding: 5px; border-radius: 5px;">
                        You have work to do!
                    </div>
                    <div *ngIf="class.status == 'Completed'">
                        This class is completed
                    </div>
                    <button [routerLink]="['/photo-class']" [queryParams]="{id: class.row_id}"
                        *ngIf="user.user_id==1 || class.isInstructor || (class.isEnrolled>0 && class.status != 'Open')"
                        class="btn btn-main-color btn-large spacer">View</button>
                    <button (mousedown)="editThisClass(class)" *ngIf="user.user_id==1 || class.isInstructor"
                        class="btn btn-primary spacer">Edit</button>

                    <div *ngIf="class.status == 'Open'">
                        <button (mousedown)="startThisClass(class)"
                            *ngIf="class.students.length>=5 && user.user_id==1 && class.daysTillStart<=0"
                            class="btn btn-success spacer">Start!</button>
                        <button *ngIf="class.daysTillStart <= 0 && user.user_id==1" (mousedown)="deleteClass(class)"
                            class="btn btn-danger spacer">Delete</button>
                        <button *ngIf="class.daysTillStart <= 0 && user.user_id==1" (mousedown)="extendClass(class)"
                            class="btn btn-warning spacer">Extend</button>
                        <button *ngIf="class.isEnrolled==0 && class.status == 'Open' && !class.isInstructor"
                            (mousedown)="joinClass(class)" class="btn btn-success spacer">Join</button>
                        <button *ngIf="class.isEnrolled>0 && class.status == 'Open'" (mousedown)="dropClass(class)"
                            class="btn btn-danger spacer">Drop</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-page-shell>
<div *ngIf="selectedClass" class="outter-div">
    <div class="inner-div" style="font-size: 10px;">
        <div style="font-size: 14px;">Edit Class</div>
        <div>&nbsp;</div>
        <div style="font-size: 10px;">Brief statement about yourself.</div>
        <textarea [id]="'instructorEdit'" style="width: 100%;">{{selectedClass.instructor}}</textarea>
        <div>Describe your class in one sentence.</div>
        <app-text-input [id]="'introEdit'" [value]="selectedClass.intro"></app-text-input>
        <div style="font-size: 10px;">Details for the picture submitted. Give some specific instructions so
            we
            know the photos were taken specifically for this class (These will not be visible until the
            class
            begins).</div>
        <textarea [id]="'descriptionEdit'" style="width: 100%;">{{selectedClass.description}}</textarea>
        <div style="font-size: 10px;">Special hints and strategies for making it a great photo.</div>
        <textarea [id]="'tipsEdit'" style="width: 100%;">{{selectedClass.tips}}</textarea>
        <div>&nbsp;</div>
        <button (mousedown)="selectedClass=null" class="btn btn-warning spacer">Cancel</button>
        <button (mousedown)="editClass()" class="btn btn-success spacer">Save</button>
    </div>
</div>
<app-picture-popup></app-picture-popup>
<app-profile-user-popup></app-profile-user-popup>
<app-betra-popup></app-betra-popup>