.class-box {
    display: inline-block;
    margin: 3px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: #eee;
    overflow: hidden;
    box-shadow: 2px 2px 3px black;
    max-width: 220px;
}