<app-page-shell [userId]="userId" [pageTitle]="'Advice'" [headerObj]="headerObj" [userStatus]="userStatus"
    [stickyBottomFlg]="true">

    <div class="matches-card" style="text-align: left;">

        <div style="text-align: left;">
            <button [routerLink]="['']" class="btn btn-main-color btn-small">Home</button>&nbsp;
            <button [routerLink]="['/advice']" class="btn btn-main-color btn-small">Advice</button>
            <img src="assets/images/betraLogo.png" height="25" style="float: right;">
        </div>
        <h2>8 Online Dating Tips from an Expert</h2>
        <img [routerLink]="['/advice1']" src="assets/images/buttons/advice3.jpg" align="left"
            style="width: 300px; margin: 5px;">


        <div class="gray-text">By By Ariel Scotti at Purewow</div>

        <h4>1. Don’t Post Overly Filtered Photos</h4>

        <p>When it comes to a dating app profile, photos are truly worth a thousand words—or more. They’ll give a
            potential match an idea of what you look like and your personality, so choose your images wisely. Ury
            advises ditching accessories that’ll put guesswork into the game. Say goodbye to filters, sunglasses and
            group shots—at least when it comes to the lead photo. “For the all-important first photo, start with a clear
            headshot,” she says. “Include a mixture of different types of photos, including at least one full-body shot,
            one that shows you doing an activity you love and one with your friends or family.”
        </p>
        <h4>2. Make It Easy to Start a Conversation</h4>

        <p>“Your Hinge profile is a chance to show who you are. You want to use this space to tell your story,” Ury
            tells us. If you don’t put in much effort, you’re not giving prospective matches much to work with in terms
            of starting a conversation. “Think of your profile as your opening line—something your match can respond to
            or ask a follow-up question about. For example, if you include pictures of you kayaking or [information]
            about cooking, that’s a great entry point for someone to get into a conversation with you.”
        </p>
        <h4>3. Skip the Small Talk</h4>

        <p>We get it—small talk feels easy and safe. But that’s not how you’re going to make a meaningful connection
            with someone. To do that, you’ll have to be comfortable with the idea of vulnerability. Ury recommends
            sharing information that’ll help a potential match really get to know the whole you. "Your profile should be
            an extension of your personality, so lean in to both your silly side and your more serious one. You’re not
            just one thing. Regularly refreshing you profile with new information about yourself will help you get more
            matches and likes.”
        </p>

        <h4>4. Avoid the “Beige Flags”</h4>

        <p>Red flags, green flags...in Seussical fashion, there are also beige flags, which, according to Ury, are the
            cliché answers that guarantee you won’t stand out. "A great profile includes unique, personal responses that
            will help you catch someone’s attention. For example, don’t respond to the prompt ‘I’m overly competitive
            about…’ with ‘everything.’ Or for the prompt ‘You’ll know I like you if…’ don’t give the overused answer:
            ‘If I invite you to meet my dog.’ Use this precious real estate to stand out and make a great first
            impression.”
        </p>
        <h4>5. Know the Red Flags</h4>

        <p>Some red flags are obvious, but others are more subtle, making them hard to catch when you’re trying to
            convince yourself that someone might be the one. But, as Ury reminds us, anyone who is treating you like an
            option (not a priority), making you question their interest and who thinks they aren’t ready for a serious
            relationship is probably not a good fit. “Instead, go for green flags—someone who’s a great communicator,
            honest about their intentions and makes you feel your best,” she says.
        </p>
        <h4>6. Ask Questions</h4>

        <p>Witty banter and one-liners are fun, but hardly anything of substance. “Great connections start with great
            conversations. The best way to establish a powerful connection is to ask questions,” Ury notes. "To get past
            the small talk, you can ask questions like ‘What’s something that makes you lose track of time?’ or ‘What’s
            your go-to pump-up song?’ Research shows asking personal and thoughtful questions is the best way to get to
            know someone.”
        </p>

        <h4>7. Know How to Unmatch Without Ruffling Feathers</h4>

        <p>Have a feeling the match isn’t going to work out? That’s OK—not everything does. But it can feel awkward when
            you want to end the conversation. How do you do it without ruffling feathers? Ury suggests being
            straightforward and not leaving them hanging. “People will appreciate it if you’re upfront and honest about
            how you feel. One way to make this easier is to have a go-to message you can send when needed. Go to the
            notes folder on your phone and save this template that can be customized to the person: ‘Hey [name], I
            enjoyed meeting you, but I don’t think we’re a romantic match.’ Commit to sending this as soon as you know
            you’re not interested in someone. Be firm but kind, and most of all, don’t ghost!”
        </p>

        <h4>8. Give It Some Time (Even If it Feels Like There’s Not a Ton of Spark)</h4>

        <p>Have a feeling the match isn’t going to work out? That’s OK—not everything does. But it can feel awkward when
            you want to end the conversation. How do you do it without ruffling feathers? Ury suggests being
            straightforward and not leaving them hanging. “People will appreciate it if you’re upfront and honest about
            how you feel. One way to make this easier is to have a go-to message you can send when needed. Go to the
            notes folder on your phone and save this template that can be customized to the person: ‘Hey [name], I
            enjoyed meeting you, but I don’t think we’re a romantic match.’ Commit to sending this as soon as you know
            you’re not interested in someone. Be firm but kind, and most of all, don’t ghost!”
        </p>
    </div>

</app-page-shell>