<app-page-shell [userId]="userId" [pageTitle]="'Polls'" [headerObj]="headerObj" [userStatus]="userStatus">
    <div class="matches-card" style="text-align: left; padding: 0;">

        <app-top-header2 [topTitle]="'Polls'"></app-top-header2>
        <button [routerLink]="['/poll-edit']" *ngIf="0 && userId==1" class="btn btn-main-color">Edit</button>

        <div style="text-align: center;">
            <button (mousedown)="loadPolls(1)" class="btn btn-main-color btn-small spacer">Betra Polls</button>
            <button (mousedown)="loadPolls(2)" class="btn btn-main-color btn-small spacer">User Polls</button>
            <button *ngIf="menuNum==2" [routerLink]="['/poll-edit']" class="btn btn-main-color btn-small spacer">Create
                Poll</button>
        </div>
        <div *ngIf="noVotesYet" style="text-align: center;"><i class="fa fa-check"></i> Cast your vote to see results
        </div>
        <div *ngFor="let poll of polls" class="purple-box">
            <div><b>{{poll.name}}</b> <button *ngIf="userId==1 && menuNum==2" (mousedown)="deletePoll(poll)"
                    class="btn btn-main-color btn-small"><i class="fa fa-trash"></i></button></div>
            <table>
                <tr *ngFor="let question of poll.questions">
                    <td valign="middle">
                        <i *ngIf="poll.iVoted && question.votes == poll.highestVoteCount" class="fa fa-asterisk"
                            style="color: red; font-size: 18px;"></i>
                        <i *ngIf="poll.iVoted && question.number == poll.myVote" class="fa fa-check"
                            style="color: green; font-size: 18px;"></i>
                        <input *ngIf="!poll.iVoted" (mousedown)="selectPoll(poll, question.number)" type="radio"
                            name="poll{{poll.poll_id}}" style="width: auto;">
                    </td>
                    <td valign="middle">
                        <div class="gray-text" style="margin-bottom: 3px;"> &nbsp;{{question.name}} <span
                                *ngIf="poll.iVoted">(votes: {{question.votes}})
                            </span></div>
                        <div *ngIf="selectedPoll && selectedPoll.poll_id == poll.poll_id">
                            <app-profile-pic2 (mousedown)="showProfile(person.user_id)" *ngFor="let person of question.responses" [user_id]="person.user_id"
                                [profilePic]="person.profilePic" [size]="30">
                            </app-profile-pic2>
                        </div>
                    </td>
                </tr>
            </table>
            <table width="100%">
                <tr>
                    <td align="center">
                        <app-profile-pic2 (mousedown)="showProfile(poll.user_id)" *ngIf="poll.user_id>1" [user_id]="poll.user_id" [profilePic]="poll.profilePic"
                            [size]="30">
                        </app-profile-pic2>
                        <div *ngIf="poll.user_id>1" style="font-size: 10px; color: gray;">Created by</div>
                    </td>
                    <td align="center" style="font-size: 12px;">
                        <span>Votes: <span class="text-highlight">{{poll.votes}}</span></span>
                        <span *ngIf="poll.iVoted && (!selectedPoll || selectedPoll.poll_id != poll.poll_id)"
                            style="float: right" class="text-link" (mousedown)="showResultsOfPoll(poll)">View
                            Results</span>
                        <span *ngIf="selectedPoll && selectedPoll.poll_id == poll.poll_id"
                            style="float: right" class="text-link" (mousedown)="selectedPoll=null">Hide
                            Results</span>

                    </td>
                    <td align="right">
                        <button *ngIf="!poll.iVoted" (mousedown)="voteForItem(poll)" class="btn btn-main-color"
                            [disabled]="!poll.selected">Vote</button>
                    </td>
                </tr>
            </table>
        </div>
        <div style="font-size: 12px;">
            <i class="fa fa-asterisk" style="color: red; font-size: 18px;"></i> = highest vote,
            <i class="fa fa-check" style="color: green; font-size: 18px;"></i> = my vote
        </div>

        <app-spinner [loadingFlg]="loadingFlg" [errorMessage]="errorMessage"></app-spinner>

    </div>
</app-page-shell>
<app-profile-user-popup></app-profile-user-popup>