<app-page-shell [userId]="userId" [pageTitle]="'Advice'" [headerObj]="headerObj" [userStatus]="userStatus"
    [stickyBottomFlg]="true">

    <div class="matches-card" style="text-align: left;">
        <div style="text-align: left;">
            <button [routerLink]="['']" class="btn btn-main-color btn-small">Home</button>&nbsp;
            <button [routerLink]="['/advice']" class="btn btn-main-color btn-small">Advice</button>
            <img src="assets/images/betraLogo.png" height="25" style="float: right;">
        </div>
        <h2>The best dating tips, from flirting with your eyes to planning the perfect first date</h2>
        <img [routerLink]="['/advice1']" src="assets/images/buttons/advice2.png" align="left" style="width: 300px; margin: 5px;">
        

<div class="gray-text">By Julia Naftulin at Insider</div>

<p>This year, singles invested in their dating lives through self-reflection, exploration, and intentionality.
</p>
<p>In 2022, they spent an average of $130 each month on dating services, dates, and grooming, according to Match Group's annual Singles in America survey. The results come from dating attitude- and behavior-related questions researchers asked a demographically representative sample of 5,000 U.S. singles between 18 to 98.
</p>
<p>Singles' dating investments went farther than money, according to evolutionary biologist Helen Fisher.
</p>
<p>"Singles have emerged post-pandemic as transformed daters. They've sobered up," Fisher, who is also chief scientific advisor at Match, said in a press statement. According to Fisher, the survey findings show that today's singles are seeking partners who prioritize mental health, emotional attunement, and social responsibility.
</p>

<h4>Freshen up your dating profile with eye-catching photos and a better bio.</h4>
<p>
Incorporate your hobbies and favorite outfits into your photos, dating profile photographer German Marin said. German Marin
Spruce up your dating app profile with clear photos that show you in a variety of places wearing different outfits, New York City-based photographer German Marin told Insider. 
</p>
<p>Marin focuses his business on photos for singles' dating app profiles. He said understanding showcasing hobbies and interests can make for eye-catching shots.
</p>
<p>Dating coach Amy Nobile, singles often make the mistake of obscuring their faces with sunglasses and hats, or blurry or far-away shots, turning off potential matches.
</p>
<p>When updating your written bio, think about your quirks, unique interests, and how friends would describe you, men's dating coach Blaine Anderson said. She said adding a call to action, like "What's your favorite trip you took this year?" can jump start a conversation with a match.
</p>
<p>Common mistakes in a written bio include leading with negativity and being too generic, dating experts say.
</p>
 


<h4>Before you start swiping, get into a playful mood.</h4>
<p>
You should be in the right mindset before seeking out matches. filadendron/Getty Images
According to New York City-based dating coach Amy Nobile of Love, Amy, the best flirts have a warm, positive, and playful vibe.
</p>
<p>"Connecting on a deep level is the new flirting — energy, vibing, all that stuff. Flirting is about connecting on an energetic level, in my mind," Nobile said.
</p>
<p>To get yourself into that mindset before you start swiping, be mindful of and savor the joys in your daily life, said Nobile.
</p>

<h4>Always ask a match, 'What keeps you busy?'</h4>
<p>First impressions count. Getty Images/Luis Alvarez
Nobile always tells her clients to start a conversation by asking "What keeps you busy?"
</p>
<p>This framing allows someone to talk about their career, but also leaves room for discussion about hobbies and passions.
</p>
<p>How a match responds to this question will clue you into whether they're self-sufficient, and if they're excited about their day-to-day life, two important qualities in a long-term partner, said Nobile.
</p>

<h4>Practice flirting with your eyes, says Nobile.</h4>
<p>Having a warm vibe can help you score dates, Nobile said. Crystal Cox/Insider
According to Nobile, flirting with your eyes, or what she calls "flies," is a great way to get into a playful mood.
</p>
<p>To practice your "flies," hold eye contact for three seconds with someone walking by in the opposite direction, said Nobile. As you're about to pass each other, offer a smirk or brief smile, depending on your audience.
</p>

<h4>When using dating apps, reference a match's profile to keep the conversation flowing.</h4>
<p>A match's profile could be filled with conversation starters. Getty Images/urbazon
To keep the conversation flowing, pick something you haven't yet discussed from their profile, and ask a question about it, said Nobile.
</p>
<p>If a match said they've run four marathons, you could write, "Wow! Four marathons?! Does running run in the family?"
</p>

<h4>If you're looking to approach a cute stranger, make eye contact first.</h4>
<p>Prolonged eye contact and a smile is a great way to see if someone is into you. Crystal Cox/Insider
Striking up conversation with a complete stranger can feel unnatural, so try making eye contact with someone you find interesting or attractive first, psychologist and founder of The Relationship Place Dana McNeil told Insider.
</p>
<p>Once you make eye contact, flash a smile and see if they reciprocate.
</p>
<p>If they don't return the smile, or turn away, it could mean they're not interested, according to McNeil. But if they do, it could mean they're open to chatting.
</p>
 


<h4>To start the conversation, give a compliment or ask for advice.</h4>
<p>Compliments make for good opening lines. recep-bg/Getty Images
Instead of using a cheesy pick-up line or asking which vaccine your date got, try a compliment, ask for advice, or offer both, said McNeil.
</p>
<p>She gave the example of seeing a cute stranger at a clothing store, or even the bar. You could approach him, say you like how his shirt looks on him, and then ask where he got it from, with the intention of buying it for your friend or brother.
</p>
<p>This way, you're not only complimenting their appearance, but also hinting at your single status, according to McNeil.
</p>

<h4>Suggest plans if you want to keep in touch.</h4>
<p>Sometimes, thinking of the worst-case scenario can push you to take a risk, a therapist said. monkeybusinessimages/Getty Images
If you want to see the person you met again, ask if they're open to meet for drinks or coffee soon.
</p>
<p>"I know this might feel scary in the moment, but when you consider you may never see this person again if you don't take action, then you'll really kick yourself in the butt if you don't at least try," said McNeil.
</p>
<p>If you're really nervous, she suggested thinking of the worst-case scenario: "On the flip side, if it doesn't go well or they reject you, then you will never see them again. So what does it really matter in the scope of the big picture?"
</p>

    </div>

</app-page-shell>