<div style="text-align: center;">
    <button *ngIf="showLoginButtonFlg" class="btn btn-primary" (click)="facebookSignin()"><i
            class="fa fa-facebook-square"></i> Continue with Facebook</button>
</div>
<div class="tiny-text">First Name</div>
<app-first-name-input (messageEvent)="valueChanged()">
</app-first-name-input>
<div class="tiny-text">Email Address</div>
<input name="email" id="email" type="email" placeholder="Email Address" (input)="valueChanged()">
<div class="tiny-text">Password</div>
<input name="password" id="password" type="password" placeholder="Password" (input)="valueChanged()">

<hr>
<div style="color: black;" (mousedown)="errorMessage=''">
    <app-spinner [loadingFlg]="loadingFlg" [errorMessage]="errorMessage"></app-spinner>
</div>
<table width="100%" *ngIf="!loadingFlg && !errorMessage">
    <tr>
        <td>
            <span [routerLink]="['']" [queryParams]="{login: 0}" class="hyper-link">Back</span>
        </td>
        <td>
            <button (mousedown)="signupPressed()" class="btn red-button" [disabled]="submitDisabled">Sign
                Up!</button>
        </td>
    </tr>
</table>
<div style="text-align: center;">
    <span [routerLink]="['']" [queryParams]="{login: 1}" class="hyper-link">Already have an account?</span>
</div>