<div style="text-align: center;">
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    new code here
    <table align="center">
        <tr>
            <td>
                <i (click)="facebookSignin()" class="fa fa-facebook facebook-btn login-button"
                    title="Continue with Facebook"></i>
            </td>
            <td>
                <img *ngIf="1" (click)="loginWithGoogle2()" src="assets/images/google-logo.png" height="37"
                    class="google-btn" title="Continue with Google">
            </td>
            <td>
                <div id="g_id_onload"
                    data-client_id="859791760375-osmm35erl5lvdbisu2ofd8rfgk343vac.apps.googleusercontent.com"
                    data-context="signin" data-ux_mode="popup" data-callback="loginWithGoogle()"
                    data-auto_prompt="false">
                </div>

                <div class="g_id_signin" data-type="standard" data-shape="pill" data-theme="filled_blue"
                    data-text="signin" data-size="medium" data-logo_alignment="left">
                </div>
            </td>
        </tr>
    </table>

    <!--<i (click)="facebookSignin()" class="fa fa-facebook facebook-btn login-button" title="Continue with Facebook"></i>

    <i *ngIf="0" (click)="googleSignin()" class="fa fa-google-plus google-btn login-button"
        title="Continue with Google+"></i>

    <img (click)="googleSignin()" src="assets/images/google-signin.png" height="44"
        style="cursor: pointer; margin-top: -5px;" title="Continue with Google">

    <div id="g_id_onload" data-client_id="859791760375-osmm35erl5lvdbisu2ofd8rfgk343vac.apps.googleusercontent.com"
        data-context="signin" data-ux_mode="popup" data-callback="loginWithGoogle()" data-auto_prompt="false">
    </div>

    <div class="g_id_signin" data-type="standard" data-shape="pill" data-theme="filled_blue" data-text="signin"
        data-size="medium" data-logo_alignment="left">
    </div>-->

</div>
<div *ngIf="0" class="tiny-text">First Name</div>
<app-first-name-input (messageEvent)="valueChanged()">
</app-first-name-input>
<div *ngIf="0" class="tiny-text">Email Address</div>
<input name="email" id="email" type="email" placeholder="Email Address" (input)="valueChanged()">
<div *ngIf="0" class="tiny-text">Password</div>
<input name="password" id="password" type="password" placeholder="Password" (input)="valueChanged()">




<div>&nbsp;</div>
<div style="color: black; text-align: center; padding: 5px;" (mousedown)="errorMessage=''">
    <app-spinner [loadingFlg]="loadingFlg" [errorMessage]="errorMessage"></app-spinner>
</div>
<button (mousedown)="signupPressed()" class="btn btn-main-color btn-large">Sign Up!</button>

<div style="text-align: center; margin-top: 10px;">
    <span [routerLink]="['']" [queryParams]="{login: 1}" class="hyper-link">Already have an account?</span>
</div>
<table width="100%" border="0" style="margin-top: 10px;">
    <tr style="font-size: 10px;">
        <td width="50%" align="center"><span [routerLink]="['/privacy-policy']" class="hyper-link">Privacy Policy</span>
        </td>
        <td align="center"><span [routerLink]="['/terms-conditions']" class="hyper-link">Terms</span></td>
    </tr>
</table>