<div style="text-align: center;">
    <i (click)="facebookSignin()" class="fa fa-facebook facebook-btn login-button"
    title="Continue with Facebook"></i>

    <i (click)="googleSignin()" class="fa fa-google-plus google-btn login-button"
    title="Continue with Google+"></i>

</div>
<div class="tiny-text">First Name</div>
<app-first-name-input (messageEvent)="valueChanged()">
</app-first-name-input>
<div class="tiny-text">Email Address</div>
<input name="email" id="email" type="email" placeholder="Email Address" (input)="valueChanged()">
<div class="tiny-text">Password</div>
<input name="password" id="password" type="password" placeholder="Password" (input)="valueChanged()">




<div>&nbsp;</div>
<div style="color: black; text-align: center; padding: 5px;" (mousedown)="errorMessage=''">
    <app-spinner [loadingFlg]="loadingFlg" [errorMessage]="errorMessage"></app-spinner>
</div>
<button (mousedown)="signupPressed()" class="btn btn-main-color btn-large">Sign Up!</button>

<div>&nbsp;</div>
<div style="text-align: center;">
    <span [routerLink]="['']" [queryParams]="{login: 1}" class="hyper-link">Already have an account?</span>
</div>