<app-page-shell (messageEvent)="loginClicked ($event)" [pageTitle]="'Owners'" [userId]="userId"
    [imgSrcFile]="imgSrcFile" [headerObj]="headerObj" [userStatus]="userStatus" [stickyBottomFlg]="true">
    <div class="matches-card" *ngIf="user && user.ownerFlg">
        <app-top-header [topTitle]="'Owners'"></app-top-header>
        <hr>

        <app-owners-menu [pageTitle]="'Details'" [page]="1"></app-owners-menu>
        <hr>
        <div>Your current details:</div>
        <table align="center" style="font-size: 12px;">
            <tr>
                <th>Name</th>
                <th>Level</th>
                <th>Title</th>
                <th>ownership %</th>
                <th>*monthly payout</th>
            </tr>
            <tr>
                <td>{{user.firstName}}</td>
                <td>{{yourLevel.level}}</td>
                <td>{{yourLevel.name}}</td>
                <td>{{yourLevel.percentage}}</td>
                <td>*{{yourLevel.payouts}}</td>
            </tr>
        </table>
        <div class="gray-text">*Note payouts start once we reach 10,000 app users. Actual payout will be based on
            revenue generated.
        </div>

        <div *ngIf="showCongratulationsFlg" style="color: green; font-size: 22px; font-weight: 700;">Congratulations!
            Promotion Achieved</div>

        <div *ngIf="yourLevel.level==1 && !loadingFlg">
            <div class="border-box">
                <div class="red-text">How to get Promoted?</div>
                <div>To get promoted to level <b class="text-highlight">2</b>, complete the following:</div>
                <li>Fill up your dating pool with 12 people</li>
            </div>
            <div class="border-box">
                <p>Currently in your dating pool: <b class="text-highlight">{{user.datingPool.length}}</b></p>
                <div *ngIf="!goalReachedFlg">
                    <div class="gray-text">In order to grow your dating pool, click thumbs up to as many people as
                        possible. Once they give you a thumbs up back, they will show up in your dating pool.</div>
                </div>
            </div>
        </div>

        <div *ngIf="yourLevel.level==2 && !loadingFlg">
            <div class="border-box">
                <div class="red-text">How to get Promoted?</div>
                <div>To get promoted to level <b class="text-highlight">3</b>, complete the following:</div>
                <ul style="text-align: left; padding-left: 40px;">
                    <li>At least 2 Blog comments</li>
                    <li>At least 40 messages sent</li>
                    <li>At least 3 user reviews</li>
                    <li>At least 2 owner bugs and/or discussions</li>
                    <li>At least 2 Poll Votes</li>
                </ul>
            </div>
            <div class="border-box">
                <div class="red-text">Progress</div>
                <div>Blog Comments: <b class="text-highlight">{{ownersPage.blogComments}}</b> <i *ngIf="ownersPage.blogComments > 1" style="color: green;" class="fa fa-check"></i></div>
                <div>Messages: <b class="text-highlight">{{ownersPage.messageCount}}</b><i *ngIf="ownersPage.messageCount > 39" style="color: green;" class="fa fa-check"></i></div>
                <div>User Reviews: <b class="text-highlight">{{ownersPage.reviewCount}}</b><i *ngIf="ownersPage.reviewCount > 2" style="color: green;" class="fa fa-check"></i></div>
                <div>Bugs/Discussion: <b class="text-highlight">{{ownersPage.bugsCount}}</b><i *ngIf="ownersPage.bugsCount > 1" style="color: green;" class="fa fa-check"></i></div>
                <div>Poll Votes: <b class="text-highlight">{{ownersPage.voteCount}}</b><i *ngIf="ownersPage.voteCount > 1" style="color: green;" class="fa fa-check"></i></div>
                <div *ngIf="!goalReachedFlg" class="gray-text">Complete above items to get promoted.</div>
            </div>
        </div>

        <div *ngIf="yourLevel.level==3 && !loadingFlg">
            <div class="border-box">
                <div class="red-text">How to get Promoted?</div>
                <div>To get promoted to level <b class="text-highlight">4</b>, complete the following:</div>
                <ul style="text-align: left; padding-left: 40px;">
                    <li>Messages with at least 20 different people</li>
                    <li>At least 100 messages sent</li>
                    <li>At least 25 profiles swiped yes</li>
                    <li>At least 6 user reviews</li>
                    <li>At least 4 blog comments</li>
                </ul>
            </div>
            <div class="border-box">
                <div class="red-text">Progress</div>
                <div>People Messaged: <b class="text-highlight">{{ownersPage.peopleMessaged}}</b> <i *ngIf="ownersPage.peopleMessaged > 19" style="color: green;" class="fa fa-check"></i></div>
                <div>Messages: <b class="text-highlight">{{ownersPage.messageCount}}</b><i *ngIf="ownersPage.messageCount > 99" style="color: green;" class="fa fa-check"></i></div>
                <div>Profiles Swiped: <b class="text-highlight">{{ownersPage.profilesSwiped}}</b><i *ngIf="ownersPage.profilesSwiped > 24" style="color: green;" class="fa fa-check"></i></div>
                <div>User Reviews: <b class="text-highlight">{{ownersPage.reviewCount}}</b><i *ngIf="ownersPage.reviewCount > 5" style="color: green;" class="fa fa-check"></i></div>
                <div>Blog Comments: <b class="text-highlight">{{ownersPage.blogComments}}</b> <i *ngIf="ownersPage.blogComments > 3" style="color: green;" class="fa fa-check"></i></div>
                <div *ngIf="!goalReachedFlg" class="gray-text">Complete above items to get promoted.</div>
            </div>
        </div>

        <div *ngIf="yourLevel.level==4 && !loadingFlg">
            <div class="border-box">
                <div class="red-text">How to get Promoted?</div>
                <div>To get promoted to level <b class="text-highlight">5</b>, complete the following:</div>
                <ul style="text-align: left; padding-left: 40px;">
                    <li>Requirements not yet figured out. coming soon.</li>
                </ul>
            </div>

        </div>


        <div *ngIf="goalReachedFlg">
            <div style="color: green;"><i class="fa fa-check"></i> Goal Reached!</div>
            <button (mousedown)="acceptPromotion()" class="btn btn-main-color">Accept Promotion</button>
        </div>

        <hr>

 
        Topic: Betra Planning Meeting<br>
        Time: Thursdays 10:00 AM Pacific Time (US and Canada)<br>

        <div class="border-box">
            Join Zoom Meeting<br>
            <a href="https://us04web.zoom.us/j/74715638462?pwd=ab0NozuvLVISbIXKOvUpsFogM4hKIq.1">https://us04web.zoom.us/j/74715638462?pwd=ab0NozuvLVISbIXKOvUpsFogM4hKIq.1</a><br>    
        </div>
        
        Meeting ID: 747 1563 8462<br>
        Passcode: 1234<br>
        
        
        

        <app-spinner [loadingFlg]="loadingFlg" [errorMessage]="errorMessage"></app-spinner>


    </div>
</app-page-shell>