<app-page-shell (messageEvent)="loginClicked ($event)" [pageTitle]="'Owners'" [userId]="userId"
    [imgSrcFile]="imgSrcFile" [headerObj]="headerObj" [userStatus]="userStatus">
    <div class="matches-card" *ngIf="user && user.ownerFlg">
        <app-spinner [loadingFlg]="loadingFlg" [errorMessage]="errorMessage"></app-spinner>
        <app-owners-menu [pageTitle]="'Details'"></app-owners-menu>
        <p>Welcome to the Betra owner's team!</p>
        <p>Our goal is to grow this app into one of the top dating sites in the world!</p>
        Your current details:
        <table align="center" style="font-size: 12px;">
            <tr>
                <th>Name</th>
                <th>Level</th>
                <th>ownership %</th>
                <th>*monthly payout</th>
                <th>Region</th>
                <th>Division</th>
                <th>Zone</th>
            </tr>
            <tr>
                <td>{{user.firstName}}</td>
                <td>{{user.ownerLevel}}</td>
                <td>{{user.ownerPercent}}</td>
                <td>*{{user.monthlyPayout}}</td>
                <td>{{user.adminRegionCode}}</td>
                <td>{{user.adminDivision}}</td>
                <td>{{user.adminZone}}</td>
            </tr>
        </table>
        <div class="gray-text">*Note payouts start once we reach 100,000 app users. Actual payout will be based on
            revenue generated.
            The figure listed is our estimate based on 500,000 users.</div>
        <hr>
        <div class="shaded-border-box">
            <div class="title-bar">What do you can do to help</div>
            <div class="inside-box">
                <li>Click 'Broswe' button and click Yes to as many people as possible. Even if you aren't single, feel free to test out the features.</li>
                <li>Click 'Verify Pic' button to verify user profile pics.</li>
                <li>Invite friends and family to try out the site.</li>
                <li>Report any bugs or suggestions that might make the app better.</li>
            </div>
        </div>
        <div class="shaded-border-box">
            <div class="title-bar">How do you get promoted?</div>
            <div class="inside-box">
                <div class="gray-text">Those who are interacting the most with the app and generating the most new users will be promoted to "Supervisor",
                    which
                    comes with a double percentage of ownership. You can further be promoted from there.</div>
            </div>
        </div>

    </div>
</app-page-shell>