td {
    background-color: #fcc;
    border: 1px solid black;
}

th {
    background-color: #ccc;
    border: 1px solid black;
}

.small-box {
    border: 1px solid gray; 
    border-radius: 5px; 
    display: inline-block; 
    text-align: left; 
    padding: 10px;
}