td {
    background-color: #ccf;
    border: 1px solid white;
}

.small-box {
    border: 1px solid gray; 
    border-radius: 5px; 
    display: inline-block; 
    text-align: left; 
    padding: 10px;
}