<app-page-shell (messageEvent)="loginClicked ($event)" [pageTitle]="'Owners'" [userId]="userId"
    [imgSrcFile]="imgSrcFile" [headerObj]="headerObj" [userStatus]="userStatus" [stickyBottomFlg]="true">
    <div class="matches-card" *ngIf="user && user.ownerFlg">
        <app-spinner [loadingFlg]="loadingFlg" [errorMessage]="errorMessage"></app-spinner>
        <app-owners-menu [pageTitle]="'Details'"></app-owners-menu>
        <p>Welcome to the Betra owner's team!</p>
        <p>Our goal is to grow this app into one of the top dating sites in the world!</p>
        Your current details:
        <table align="center" style="font-size: 12px;">
            <tr>
                <th>Name</th>
                <th>Level</th>
                <th>ownership %</th>
                <th>*monthly payout</th>
            </tr>
            <tr>
                <td>{{user.firstName}}</td>
                <td>{{user.ownerLevel}}</td>
                <td>{{user.ownerPercent}}</td>
                <td>*{{user.monthlyPayout}}</td>
            </tr>
        </table>
        <div class="gray-text">*Note payouts start once we reach 100,000 app users. Actual payout will be based on
            revenue generated.
            The figure listed is our estimate based on 500,000 users.</div>
        <hr>
        <p>Our plan is to start having 30-minute weekly zoom meetings, every Thursday at 9:30am Pacific Time.</p>
        <p>Join Zoom Meeting<br>
            <a href="https://us04web.zoom.us/j/79642780270?pwd=EbQ8wn7aDP2Hww04X7UCQadYRaPvfd.1">https://us04web.zoom.us/j/79642780270?pwd=EbQ8wn7aDP2Hww04X7UCQadYRaPvfd.1</a>
            <br>
            
            Meeting ID: 796 4278 0270<br>
            Passcode: 1234</p>
        <hr>
        <div class="shaded-border-box">
            <div class="title-bar">Phase 1: Pre-launch</div>
            <div class="inside-box" style="font-size: 12px;">
                <p>
                    From now through Feb 13th will be our pre-launch phase. There will be no compensation for time
                    during this phase. Do as much or as little work as you have time for. Things you can do to help:
                </p>
                <li>Click 'Broswe' button and click Yes to as many people as possible. Even if you aren't single, feel
                    free to test out the features.</li>
                <li>Get a feel for the "Dating Pool" concept and provide feedback. This is a unique concept that no
                    other app has ever tried so we want to find out if it wil be popular.</li>
                <li>Click 'Verify Pic' button to verify user profile pics.</li>
                <li>Invite friends and family to try out the site.</li>
                <li>Report any bugs or suggestions that might make the app better.</li>
            </div>
        </div>
        <div class="shaded-border-box">
            <div class="title-bar">Phase 2: Launch</div>
            <div class="inside-box" style="font-size: 12px;">
                <p>Starting Feb 14th we will have a 90-day push to try to reach 100,000 users. Again there will be no
                    compensation during this period, as all revenue generated will go back into advertising. We will do
                    everything we can to generate new users.</p>
                <p>Again do as much or as little as you have time for to try to promote the app and generate new
                    customers.</p>
            </div>
        </div>
        <div class="shaded-border-box">
            <div class="title-bar">Phase 3: Post-launch</div>
            <div class="inside-box" style="font-size: 12px;">
                <p>Starting May 14th we will transition to our normal business plan, provided we have reached at least
                    100,000 users. Additional features of this phase include:</p>
                <li>Monthly payouts to all owners, based on income.</li>
                <li>We may transition some of our owners to employees.</li>
                <li>Continue to improve and grow the business.</li>
            </div>
        </div>

    </div>
</app-page-shell>