.red-small-button {
    background-color: #b7121f;
    color: white;
}
.red-small-button:hover {
    background-color: red;
}
.large-button {
    padding: 15px;
    min-width: 80px;
    margin: 5px;
}