<app-page-shell (messageEvent)="loginClicked ($event)" [userId]="userId" [imgSrcFile]="imgSrcFile"
    [pageTitle]="pageTitle" [headerObj]="headerObj" [userStatus]="userStatus">

    <app-dating-pool [user]="user" [largeFlg]="false"></app-dating-pool>
    
    <div class="matches-card" *ngIf="user && !matchUser">
        <app-spinner [loadingFlg]="loadingFlg" [errorMessage]="errorMessage"></app-spinner>

        <div *ngIf="exceededPoolSizeFlg">
            <div><i class="fa fa-exclamation-triangle red-text" style="font-size: 60px; padding: 40px;"></i></div>
            <p>Note: You are over your limit in your dating pool. Please drop someone.</p>
            <button [routerLink]="['/matches']" class="btn red-small-button"><i class="fa fa-users"></i>
                Dating Pool</button>
        </div>
        <div *ngIf="user && user.showHeartFormFlg">
            <div><img src="assets/images/rose1.png" width="100"></div>
            <p>Note: You need to give someone a rose before proceeding.</p>
            <button [routerLink]="['/matches']" class="btn red-small-button"><i class="fa fa-users"></i>
                Dating Pool</button>
        </div>

        <div *ngIf="!loadingFlg && id != 4 && !exceededPoolSizeFlg && !user.showHeartFormFlg">
            <div *ngIf="user.datingPool.length<=8">
                <div><i class="fa fa-ban red-text" style="font-size: 60px; padding: 10px;"></i></div>
                <p>Sorry, no more profiles. This is a new app and people are just starting to sign up. Check back soon.
                </p>
            </div>
        </div>
        <div *ngIf="!loadingFlg && id == 4 && !exceededPoolSizeFlg && !user.showHeartFormFlg">
            <p>No admirers at the moment.</p>
            <div style="text-align: left;" class="small-gray-text">
                <p>Don't worry. Here are some things you can do to improve your chances of success.</p>
                <div style="padding-left: 30px;">
                    <li><i class="fa fa-picture-o"></i> Have a nice, well lit photo of your face on your profile.</li>
                    <li><i class="fa fa-bullhorn"></i> Have a fun or interesting motto.</li>
                    <li><i class="fa fa-thumbs-up"></i> Start liking lots of people. That's the fastest way for others to
                        find you.</li>
                    <li><i class="fa fa-arrow-up"></i> <a [routerLink]="['/upgrade-member']">Upgrade</a> in order to
                        maximize your exposure.</li>
                </div>
            </div>
        </div>
    </div>

    <app-match-snapshot *ngIf="matchUser && user" (messageEvent)="matchSnapshotEvent($event)" [user]="user" [id]="id"
        [matchUser]="matchUser" [loadingFlg]="loadingFlg" [errorMessage]="errorMessage" [returnFlg]="true"
        [singleProfileFlg]="uid>0">
    </app-match-snapshot>

    <div *ngIf="id==7 && matchUser && user" class="match-card">
        <div>Does the main profile image look legit?</div>
        <div *ngIf="!showFakePicOptionsFlg">
            <button (mousedown)="confirmPic()" class="btn btn-success large-button"><i class="fa fa-check"></i>
                Yes</button>
            <button (mousedown)="showFakePicOptionsFlg=!showFakePicOptionsFlg" class="btn btn-danger large-button"><i
                    class="fa fa-times"></i> No</button>
        </div>
        <div *ngIf="showFakePicOptionsFlg">
            <div>Choose Reason</div>
            <button (mousedown)="showFakePicOptionsFlg=false" class="btn btn-warning">Cancel</button>&nbsp;
            <select name="picOption" id="picOption">
                <option value="0" disabled selected>Select</option>
                <option value="1">Nudity</option>
                <option value="2">Can't see face</option>
                <option value="3">Looks fake</option>
            </select>
            <button (mousedown)="rejectPic()" class="btn btn-danger large-button">Submit</button>

        </div>
    </div>

    <div *ngIf="matchUser && matchUser.matchObj">

        <app-user-reviews *ngIf="matchUser.numReviews>0 || matchUser.matchObj.match_level>3" [myUser]="user" [matchUser]="matchUser">
        </app-user-reviews>

        <app-user-private-pics *ngIf="matchUser.matchObj.numPics > 0" [myUser]="user" [matchUser]="matchUser">
        </app-user-private-pics>

        <app-user-requests *ngIf="matchUser.matchObj.match_level>=5" [myUser]="user" [matchUser]="matchUser">
        </app-user-requests>

        <app-user-communication *ngIf="matchUser.matchObj.match_level>=2" [myUser]="user" [matchUser]="matchUser">
        </app-user-communication>

    </div>



</app-page-shell>