<app-page-shell (messageEvent)="loginClicked ($event)" [userId]="userId" [imgSrcFile]="imgSrcFile"
    [pageTitle]="pageTitle" [headerObj]="headerObj" [notifications]="notifications">

    <div class="matches-card" *ngIf="user && !matchUser">
        <app-spinner [loadingFlg]="loadingFlg" [errorMessage]="errorMessage"></app-spinner>
        <div *ngIf="exceededPoolSizeFlg">
            <div><i class="fa fa-exclamation-triangle red-text" style="font-size: 60px; padding: 40px;"></i></div>
            <p>Note: You are over your limit in your dating pool. Please drop someone.</p>
            <button [routerLink]="['/matches']" class="btn red-small-button"><i class="fa fa-users"></i>
                My Matches</button>
        </div>
        <div *ngIf="user && user.showHeartFormFlg">
            <div><i class="fa fa-heart red-text" style="font-size: 60px; padding: 40px;"></i></div>
            <p>Note: You need to assign a heart to someone before proceeding.</p>
            <button [routerLink]="['/matches']" class="btn red-small-button"><i class="fa fa-users"></i>
                My Matches</button>
        </div>

        <div *ngIf="!loadingFlg && id != 4 && !exceededPoolSizeFlg && !user.showHeartFormFlg">
            <div *ngIf="user.datingPool.length<=8">
                <div><i class="fa fa-ban red-text" style="font-size: 60px; padding: 40px;"></i></div>
                <p>Sorry, no more profiles found.</p>
                <p>This is a new app and people are just starting to sign up. Check back soon.</p>
            </div>
            <button [routerLink]="['/matches']" class="btn red-small-button"><i class="fa fa-users"></i>
                My Matches</button>
            <p class="small-gray-text">Click My Matches button to see what your dating situation looks like.</p>
        </div>
        <div *ngIf="!loadingFlg && id == 4 && !exceededPoolSizeFlg && !user.showHeartFormFlg">
            <p>&nbsp;</p>
            <p>No admirers at the moment.</p>
            <div style="text-align: left;" class="small-gray-text">
                <p>Don't worry. Here are some things you can do to improve your chances of success.</p>
                <div style="padding-left: 30px;">
                    <li>Have a nice, well lit photo of your face on your profile.</li>
                    <li>Have a fun or interesting motto.</li>
                    <li>Start liking lots of people. That's the fastest way for others to find you.</li>
                    <li>Boost your profile.</li>
                </div>

            </div>
            <div>&nbsp;</div>
            <div>Click <button [routerLink]="['/user-detail']" class="btn red-small-button"><i class="fa fa-search"></i>
                    Browse</button>
                to find new singles!
            </div>
        </div>

    </div>

    <app-match-snapshot *ngIf="matchUser && user" (messageEvent)="matchSnapshotEvent($event)" [user]="user"
        [matchUser]="matchUser" [loadingFlg]="loadingFlg" [errorMessage]="errorMessage" [returnFlg]="true">
    </app-match-snapshot>

    <!--<div (mousedown)="showMatchLevelInfoFlg = !showMatchLevelInfoFlg">.</div>
    <div class="tan-box" *ngIf="matchUser && showMatchLevelInfoFlg">
        <div>match_level: <b>{{matchUser.match_level}}</b></div>
        <div style="text-align: left;">0 = no connection</div>

        <ol style="text-align: left;">
            <li *ngFor="let level of levels">{{level}}</li>
        </ol>
    </div>-->

    <app-user-reviews *ngIf="matchUser && matchUser.matchObj && matchUser.matchObj.match_level>=2" [myUser]="user" [matchUser]="matchUser"></app-user-reviews>

    <app-user-communication [myUser]="user" [matchUser]="matchUser" *ngIf="matchUser && matchUser.matchObj && matchUser.matchObj.match_level>=2">
    </app-user-communication>

    <app-spinner [loadingFlg]="loadingFlg" [errorMessage]="errorMessage"></app-spinner>

</app-page-shell>