.large-button {
    padding: 15px;
    min-width: 80px;
    margin: 5px;
}
.warning-search-popup {
    display: inline-block;
    padding: 20px;
    margin: 10px;
    box-shadow: 5px 5px 10px gray;
    background-color: white;
    font-size: 12px;
    border-radius: 5px;
}
