<app-page-shell (messageEvent)="loginClicked ($event)" [userId]="userId" [imgSrcFile]="imgSrcFile"
    [pageTitle]="pageTitle" [headerObj]="headerObj" [userStatus]="userStatus" [stickyBottomFlg]="true">


    <div style="max-width: 600px;">
        <app-dating-pool *ngIf="!showFilter && !commentsOnlyFlg" [user]="user" [largeFlg]="false"></app-dating-pool>

        <app-profile-pic *ngIf="commentsOnlyFlg" [user_id]="matchUser.user_id" [profilePic]="matchUser.profilePic"
            [size]="30"></app-profile-pic>

        <div *ngIf="!loadingFlg && searchStarted && id == 2 && profileViews>0" class="match-card">
            <!--<div *ngIf="showEmptyDatingPoolFlg" class="special-box" (mousedown)="showEmptyDatingPoolFlg=false">
                <i class="fa fa-times" style="float: right"></i>
                <p style="font-size: 16px" class="red-text">Your <b><i class="fa fa-users"></i> Dating Pool</b> is
                    currently
                    empty.</p>
                <p style="text-align: left;">Let's change that!
                    Begin to fill it with interesting singles. You get to swipe through 12
                    profiles per day. Click thumbs up <i class="fa fa-thumbs-up"></i> if you are interested.
                    They will instantly be notified, and if they click "Yes" back, the two of you can begin
                    communicating.
                </p>
            </div>
            <div *ngIf="user.datingPool.length==1" class="important-notice">Congratulations! You now have 1 person in
                your
                <b>Dating Pool</b>! This is very exciting
                as you can now start communicating with that person. Click on the profile circle above to meet them, or
                continue clicking thumbs up to
                anyone who catches your eye.
            </div>
            <div *ngIf="user.datingPool.length==2" class="important-notice">Great work! You are now have 2 people in
                your
                <b>Dating Pool</b>! Who's the new popular
                kid on the block? You are! Keep clicking through profiles and get your dating pool filled up.
            </div>
            <div *ngIf="user.datingPool.length==3" class="important-notice">Your <b>Dating Pool</b> gets maxed out when
                you
                have 8 people in it. Until then keep viewing profiles and clicking thumbs up!
            </div>-->
            <div style="text-align: center; padding: 5px;">
                <button style="float: left;" [routerLink]="['']"
                    class="btn btn-main-color btn-small">Home</button>&nbsp;
                <span *ngIf="playerList.length < 10 && playerList.length>0">Few profiles found
                    &nbsp; <span (mousedown)="showProfileViewDetailsFlg=!showProfileViewDetailsFlg"
                        class="text-link">What's
                        this?</span>
                </span>
                <span *ngIf="playerList.length >= 10">Swipes remaining: <span class="text-highlight"
                        style="font-size: 18px;">{{profileViews}}</span>
                    &nbsp; <span (mousedown)="showProfileViewDetailsFlg=!showProfileViewDetailsFlg"
                        class="text-link">What's
                        this?</span>
                </span>
                <img src="assets/images/betraLogo.png" height="25" style="float: right;">
            </div>

            <div *ngIf="showProfileViewDetailsFlg" class="gray-text" style="padding-left: 10px; padding-right: 10px;">
                <hr>
                <div *ngIf="playerList.length < 10">
                    Very few profiles found that match your requirements. This is a new app but people are signing up
                    every day. Support Betra by telling your friends about it.
                </div>
                <div *ngIf="playerList.length >= 10">
                    You can swipe up to 12 profiles per day. Say yes to as many as you like. If you get through your
                    entire
                    batch
                    of 12, you will need to wait until tomorrow to get a new batch.
                </div>
            </div>
        </div>
        <app-advanced-filters *ngIf="showFilter" [user]="user" (messageEvent)="advancedSearch($event)">
        </app-advanced-filters>
        <div *ngIf="matchesCount>0 && playerList && playerList.length>0">Matches Found: {{matchesCount}}</div>

        <!--<div *ngIf="0 && profileViews > 0 && showExpandedSearchPopupFlg && !loadingFlg && matchUser"
            class="warning-search-popup">
            <p>
                Note: This is a new dating app that has just launched.
                Your initial search returned very few potential matches so we expanded the search parameters to ignore
                location.
            </p>
            <button (mousedown)="showExpandedSearchPopupFlg=false" class="btn btn-main-color">That's ok</button>&nbsp;
            <button (mousedown)="browseSingles('findMatches')" class="btn btn-warning">Show locals only</button>&nbsp;
        </div>-->

        <app-spinner [loadingFlg]="loadingFlg" [errorMessage]="errorMessage"></app-spinner>

        <div *ngIf="id == 4 && !matchUser" class="matches-card">
            <p>No admirers at the moment.</p>
            <div style="text-align: left;" class="small-gray-text">
                <p>Don't worry. Here are some things you can do to improve your chances of success.</p>
                <div style="padding-left: 30px;">
                    <li><i class="fa fa-picture-o"></i> Have a nice, well lit photo of your face on your
                        profile.
                    </li>
                    <li><i class="fa fa-bullhorn"></i> Have a fun or interesting motto.</li>
                    <li><i class="fa fa-thumbs-up"></i> Start liking lots of people. That's the fastest way
                        for
                        others to find you.</li>
                    <li><i class="fa fa-arrow-up"></i> <span [routerLink]="['/upgrade-member']"
                            class="text-link">Upgrade</span> in order to
                        maximize your exposure.</li>
                </div>
            </div>
        </div>
        <div *ngIf="searchStarted && profileViews == 0 && user && !loadingFlg && !uid && !matchUser && id != 4"
            class="matches-card">
            <div style="font-size: 64px;">🥲</div>
            <div>Swipes used up!</div>
            <div style="text-align: left;">
                <p class="gray-text">Sorry, you have used up all your swipes for today. You get to view 12 new
                    singles
                    each day and have already gone through your batch.
                    But don't worry, check back tomorrow and you will have a new batch of 12 singles waiting for
                    you!
                </p>
                <div style="text-align: center;">
                    <div *ngIf="user.points > 0" class="tan-box">
                        <div>Would you like to buy a swipe for 1 coin?</div>
                        <button (mousedown)="buySwipe()" class="btn btn-success btn-large">Yes!</button>
                    </div>

                    <p>In the mean time, check out these other Betra features</p>
                    <button [routerLink]="['/poll']" class="btn btn-main-color spacer">Polls</button>
                    <button [routerLink]="['/activity']" class="btn btn-main-color spacer">Activity</button>
                    <button [routerLink]="['/blogs']" class="btn btn-main-color spacer">Blogs</button>
                    <button [routerLink]="['/chat-room']" class="btn btn-main-color spacer">Chat</button>
                </div>
                <hr>
                <p *ngIf="!user.memberFlg" class="gray-text">Note: <span [routerLink]="['/upgrade-member']"
                        class="text-link">Upgrading</span> to
                    Gold Member boosts your total number of singles to 20 per day, along with a bunch of
                    other benfits.</p>
            </div>
        </div>
        <div *ngIf="user && !loadingFlg && !uid">
            <div class="matches-card" *ngIf="noLocationInfoFoundFlg" [routerLink]="['/location']" style="cursor: pointer;">
                <p class="red-text">Note: Something is not set up properly with your location</p>
                <p>Click here to fix.</p>
            </div>
            <div class="matches-card" *ngIf="user.exceededPoolSizeFlg">
                <div><i class="fa fa-exclamation-triangle red-text" style="font-size: 60px; padding: 40px;"></i></div>
                <p>Note: Visit your Dating Pool. You are over your limit and need to drop someone.</p>
                <button [routerLink]="['/matches']" class="btn btn-main-color"><i class="fa fa-users"></i>
                    Dating Pool</button>
            </div>
            <div class="matches-card" *ngIf="user.showHeartFormFlg">
                <div><img src="assets/images/rose1.png" width="100"></div>
                <p>Note: Visit your Dating Pool. You need to give someone a rose before proceeding.</p>
                <button [routerLink]="['/matches']" class="btn btn-main-color"><i class="fa fa-users"></i>
                    Dating Pool</button>
            </div>
            <div *ngIf="searchStarted">
                <div class="matches-card" *ngIf="profileViews>0 && !matchUser && id != 4">
                    <div>
                        <div><i class="fa fa-ban red-text" style="font-size: 60px; padding: 10px;"></i></div>
                        <p>Sorry, no more profiles found.</p>
                        <p *ngIf="0 && !showExpandedSearchPopupFlg" class="gray-text">This is a new app and people are
                            joining
                            constantly. Check back soon.</p>
                        <div *ngIf="id == 2 && !advancedSearchFlg && profileViews>0">
                            <p class="gray-text">You have already said "Yes" or "No" to everyone in the database.
                                This
                                is a
                                new
                                app and people are just starting to sign up. Check back soon. If you would like to
                                reset
                                your
                                "No" matches and revisit the people you declined, visit the "<span
                                    [routerLink]="['/settings']" class="text-link">Settings</span>" tab.</p>
                        </div>
                        <div *ngIf="advancedSearchFlg && profileViews>0">
                            <p>Try expanding your search or simply
                                press
                                the "Browse" button to bring back possible matches.</p>
                            <p class="gray-text" style="text-align: left;">Note: The "Browse" button has some AI
                                that
                                continueously expands your search options until matches are returned.
                                If you are getting no results after pressing that button, it means you have already
                                viewed
                                every
                                person in the database meeting your gender requirements.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--- match card user && !matchUser -->



        <app-match-snapshot *ngIf="matchUser && user" (messageEvent)="matchSnapshotEvent($event)" [user]="user"
            [id]="id" [matchUser]="matchUser" [loadingFlg]="loadingFlg" [errorMessage]="errorMessage"
            [singleProfileFlg]="uid>0">
        </app-match-snapshot>

        <div *ngIf="matchUser && matchUser.matchObj && uid>0">

            <app-user-private-pics *ngIf="!commentsOnlyFlg && matchUser.matchObj.numPics > 0" [myUser]="user"
                [matchUser]="matchUser">
            </app-user-private-pics>

        </div>
        <app-user-requests
            [myUser]="user" [matchUser]="matchUser" [dateObj]="dateObj">
        </app-user-requests>

        <app-user-communication [myUser]="user" [matchUser]="matchUser" (messageEvent)="messagesEvent($event)">
        </app-user-communication>

        <div (mousedown)="showNewReviewPopup=false" *ngIf="showNewReviewPopup" class="betra-popup">
            <div style="font-size: 18px;"><b>New Review!</b></div>
            <app-profile-pic [user_id]="matchUser.newReviewBy" [profilePic]="matchUser.newReviewProfilePic" [size]="80">
            </app-profile-pic>
            <p style="font-size: 12px;">You have a new review. Click the "Reviews" button below to see what they said.
            </p>
            <button class="btn btn-light">Ok</button>
        </div>
    </div>

</app-page-shell>

<div *ngIf="profileViews > 0 && showBigPopupFlg && matchUser" class="image-popup hide-big">
    <img [src]="matchUser.imgSrc" class="big-image">

    <div style="position: fixed; top: 0; left: 0; width: 100%; height: 30px; background-color: white; opacity: .7;">
    </div>
    <div style="position: fixed; top: 0; left: 0; width: 100%; height: 30px; text-align: center;">
        Swipes remaining: <span class="text-highlight" style="font-size: 18px;">{{profileViews}}</span>
    </div>
    <i (mousedown)="showBigPopupFlg=false" class="fa fa-times times-button"
        style="position: fixed; top: 5px; right: 5px; font-size: 16px; text-shadow: 3px 3px 4px pink; cursor: pointer;"></i>

    <div style="position: fixed; bottom: 0; left: 0; width: 100%; height: 100px; background-color: white; opacity: .7;">
    </div>
    <div style="position: fixed; bottom: 0; left: 0; width: 100%; height: 100px; padding: 10px;">
        <table width="100%">
            <tr>
                <td>
                    <div><b>{{matchUser.firstName}}</b>, {{matchUser.age}}</div>
                    <div style="font-size: 12px;">{{matchUser.location}}</div>
                    <div style="font-size: 12px;">{{matchUser.distanceText}}</div>
                </td>
                <td *ngIf="showYesNoButtonsFlg" align="center" width="200">
                    <i (mousedown)="likeButtonClicked(false)"
                        class="fa fa-thumbs-o-down circle-button no-button"></i>&nbsp;
                    <i (mousedown)="likeButtonClicked(true)"
                        class="fa fa-thumbs-o-up circle-button yes-button glow-button"></i>
                </td>
                <td>
                    <button (mousedown)="showBigPopupFlg=false" class="btn btn-main-color btn-small"
                        style="float: right;">More Info</button>
                </td>
            </tr>
        </table>
    </div>
</div>