.picture {
    width: 100%;
    object-fit: cover;
    max-height: 800px;
}
.picture-tiny {
    width: 50px;
    height: 50px;
    display: inline-block;
    object-fit: cover;
    margin: 5px;
    box-shadow: 2px 2px 5px gray;
    cursor: pointer;
    border: 1px solid white;
}
.picture-tiny:hover {
    border: 1px solid blue;
}
.basic-cell {
    padding: 0;
}