<div *ngIf="showBetraPopup">
    <div [ngClass]="ngClassScreen()"></div>
    <div [ngClass]="ngClassPopup()">
        <div (mousedown)="hidePopup()" class="bg-clickable"></div>
        <div class="popup-inner">
            <p style="font-size: 18px;">{{title}}</p>
            <img *ngIf="type==5" src="assets/images/rose1.png" height="120">
            <p *ngIf="type != 4" style="font-size: 12px;">{{message}}</p>
            <div *ngIf="type == 4">
                <div *ngIf="data.emailVerifyFlg"><i class="fa fa-envelope"></i> <i class="fa fa-check"
                        style="color: #0f0;"></i> Email verified</div>
                <div *ngIf="data.facebookUrlFlg"><i class="fa fa-facebook"></i> <i class="fa fa-check"
                        style="color: #0f0;"></i> Facebook verified</div>
                <div *ngIf="data.instragramUrlFlg"><i class="fa fa-instagram"></i> <i class="fa fa-check"
                        style="color: #0f0;"></i> Instagram verified</div>
                <div *ngIf="data.linkedInUrlFlg"><i class="fa fa-linkedin-square"></i> <i class="fa fa-check"
                        style="color: #0f0;"></i> Linked-In verified</div>
                <div *ngIf="data.picCertificateFlg"><i class="fa fa-picture-o"></i> <i class="fa fa-check"
                        style="color: #0f0;"></i> Photo verified</div>
                <div *ngIf="data.navLat"><i class="fa fa-globe"></i> <i class="fa fa-check" style="color: #0f0;"></i>
                    GPS located</div>
                <div>&nbsp;</div>
            </div>
            <button *ngIf="type==0 || type==4 || type==5" (mousedown)="hidePopup()"
                class="btn btn-main-color btn-large">Ok</button>
            <button *ngIf="type==2" [routerLink]="['/matches']" class="btn btn-main-color btn-large">Dating
                Pool</button>
            <div *ngIf="type==99">
                <button [routerLink]="['/intro']" class="btn btn-main-color btn-large">Rose
                    Ceremony</button>
                <div>&nbsp;</div>
                <span class="text-link" [routerLink]="['/rose-ceremony']" [queryParams]="{skip: 'Y'}">Skip Ceremony</span>
            </div>
            <div *ngIf="type==3">
                <button (mousedown)="hidePopup()" class="btn btn-warning spacer">Cancel</button>
                <button (mousedown)="specialButtonClicked('end')" class="btn btn-main-color spacer">End Rose
                    Ceremony</button>
            </div>
        </div>
    </div>
</div>