<div style="position: relative;">
    <img src="assets/images/landing/roseHome.png"
        style="width: 100%; height: 100vh; object-fit: cover; object-position: 50% 100%;">

    <table width="100%" style="color: white; font-size: 16px; top: 0; left: 0; position: absolute;">
        <tr>
            <td align="center" style="padding-top: 20px;">
                <app-login-popup [login]="login" [referralId]="referralId" (messageEvent)="userIsLoggedIn($event)">
                </app-login-popup>
            </td>
        </tr>
    </table>

    <span *ngIf="login!=1" (mousedown)="login=1" [routerLink]="['']" [queryParams]="{login: 1}"
        class="main-color-bg login-round">
        Log<br>
        In
    </span>
    <img (mousedown)="login=0" [routerLink]="['']" [queryParams]="{login: 0}" [src]="logo" height="60"
        style="top: 10px; left: 10px; position: absolute; cursor: pointer;">

</div>

<div *ngIf="login != 1" style="position: relative; font-family: now; background-color: #555;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md" style="text-align: left; padding: 0; color: white;">
                <div style="padding: 20px; ">
                    <p style="font-size: 22px;">Welcome to <span class="red-text">Betra</span>, the newest and
                        most exciting way to meet people.
                        This is the hottest dating app and
                        guaranteed to be the most
                        fun you will ever have online.</p>
                    <p>This is a unique dating concept that mimics the experience of the Bachelor /
                        Bachelorette,
                        and turns you into the star of the show.</p>
                    <p *ngIf="0">You begin the journey with a "rose ceremony" to choose the people you are most
                        interested in. Get
                        to
                        know them,
                        send texts and pics, go on dates, hand out roses to your favorites, and finally narrow it down
                        to
                        the person you want to start seeing.</p>
                    <p>Not only is it the safest way to date, it's also fun, it's exciting and it's free. Get started
                        today!</p>
                </div>
                <div style="text-align: center;">
                    <img src="assets/images/rose1.png" height="100">
                    <img [src]="logo" height="80">
                    <div class="carousel-wrapper">
                        <div class="carousel-container">
                            <div class="carousel">
                                <img src="assets/images/reviews/review1.png">
                                <img src="assets/images/reviews/review2.png">
                                <img src="assets/images/reviews/review3.png">
                                <img src="assets/images/reviews/review4.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md" style="text-align: center; padding: 20px; color: white;">
                <img src="assets/images/landing/cell-phone.png" height="500" style="margin: 10px;">
            </div>
        </div>
    </div>
</div>

<div *ngIf="login != 1" class="container-fluid"
    style="width: 100%; background-color: #eee; text-align: center; font-family: now; padding: 0;">
    <div class="row" style="padding: 0; margin: 0;">
        <div class="col-md" style="padding: 0; margin: 0;">
            <img src="assets/images/landing/table3.webp" style="width: 100%; height: 100%; object-fit: cover;">
        </div>
        <div class="col-md" style="text-align: left; padding: 40px;">
            <div style="font-size: 32px; font-weight: 700;">A unique dating experience.</div>
            <p style="font-size: 18px;"><span class="red-text">Betra</span> is unlike any dating site you have ever
                tried. There's no swiping and no browsing for singles. Instead we match you up with a group of singles.
                Talk, text, send roses and go on dates until you narrow down to just one true love interest.
            </p>
            <p>Ever wanted to be the star of your own reality dating show? This is your chance!</p>
        </div>
    </div>
</div>
<div *ngIf="login != 1" style="position: relative;">
    <img src="assets/images/landing/girlRose.webp" style="width: 100%; object-fit: cover; object-position: 40% 100%;">
    <div style="position: absolute; left: 20px; bottom: 20px; color: white; font-size: 24px;">
        <img [src]="logo" height="100">
        <div>Start your adventure today</div>
    </div>
</div>

<div *ngIf="login != 1" class="container-fluid" style="background-color: #fff; text-align: center; font-family: now;">
    <div class="row">
        <div class="col-md" style="text-align: left; padding: 40px;">
            <div style="font-size: 32px; font-weight: 700; margin-top: 20px; line-height: 40px;">Real people<br>
                Real dates<br>No Swiping!</div>
            <div>&nbsp;</div>
            <p style="font-size: 18px;">Get ready for an experience like none other.
            </p>
            <div>🌹 <span class="red-text">No bots</span> and no fake accounts</div>
            <div>🌹 Unique <span class="red-text">Dating Pool</span> concept</div>
            <div>🌹 Best <span class="red-text">safety features</span> in the business</div>
            <div>🌹 Most <span class="red-text">scam-proof</span> dating app ever created</div>
            <div>🌹 User <span class="red-text">Reviews</span></div>
            <div>🌹 No <span class="red-text">Swiping</span></div>
            <img [src]="logo" height="100">

        </div>
        <div class="col-md">
            <img src="assets/images/landing/picCollage.png"
                style="width: 100%; max-width: 700px; height: 100%; max-height: 500px; object-fit: contain;">
        </div>
    </div>
</div>

<div *ngIf="login != 1" style="position: relative; font-family: now;">
    <img src="assets/images/landing/bottomImage.png" style="width: 100%; object-fit: cover; object-position: 40% 100%;">
    <div class="bottom-container">
        <div class="big-white-text">The buzz is real</div>
        <div class="medium-white-text">Start your adventure today!</div>
        <img [src]="logo" class="logo-betra">
    </div>
</div>

<app-bottom-links *ngIf="login != 1"></app-bottom-links>