.background-img {
    width: 100%;
    object-fit: cover;
    object-position: 80% 10%;
}

.large-text {
    font-size: 32px;
    line-height: 32px;
    text-align: left;
    font-weight: 700;
}

.large-text2 {
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
}

.header-link {
    color: black;
    padding: 10px;
    text-decoration: none;
}

h3 {
    margin-top: 20px;
}
.header-link:hover {
    color: #900;
}

.top-bar {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

h3 {
    font-size: 24px;
    font-weight: 100;
}

.signup-popup {
    position: absolute;
    top: 140px;
    left: 40px;
    width: 320px;
    height: 380px;
    padding: 20px;
    text-align: center;
    color: white;
}

.login-round {
    position: absolute;
    top: 10px;
    right: 20px;
    border-radius: 50%;
    font-size: 12px;
    height: 50px;
    width: 50px;
    padding: 15px 10px 15px 10px;
    text-align: center;
    line-height: 13px;
    cursor: pointer;
}

.login-round:hover {
    font-size: 13px;
    background-color: red;
}

.outer-layer {
    text-align: left;
    padding-left: 80px;
    padding-top: 100px; 
    height: 100vh;
}

.testimony-popup {
    position: absolute;
    top: 0;
    right: auto;
    left: 120px;
    padding: 10px;
    padding-left: 40px;
    background-color: #ddd;
    border-radius: 40px;
    text-align: center;
    font-size: 14px;
    width: 250px;
    height: 150px;
}

.savonne {
    position: absolute;
    top: 0;
    right: auto;
    left: 0;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.large-screen {
    opacity: 0;
    display: none;
}

.small-screen {
    opacity: .5;
    border-radius: 15px;
}

.name-text {
    font-size: 28px;
    font-weight: 200;
}

.bottom-bar {
    text-align: center;
    background-color: #2a3a46;
    color: white;
}

.text-link {
    font-size: 12px;
    color: white;
    cursor: pointer;
}

.white-link {
    color: white;
    padding: 10px;
    cursor: pointer;
}

.white-link2 {
    width: 120px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 20px;
    color: white;
    padding: 10px;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
}
.white-link2:hover {
    border: 1px solid red;
}

@media screen and (max-width: 800px) {
    .signup-popup {
        top: 100px;
    }
}
@media screen and (max-width: 600px) {
    .white-link2 {
        display: none;
    }
    .outer-layer {
        text-align: center;
        padding-left: 0;
    }
    .large-screen {
        opacity: .3;
    }
    .small-screen {
        opacity: 0;
    }

    .testimony-popup {
        font-size: 11px;
     }
    .signup-popup {
        left: 10px;
    }

}