<!--<img class="background-img hide-xs" src="assets/images/landing/roseHome.png" alt="">-->
<img class="background-img hide-xs" [src]="backgroundImg" alt="">
<img class="background-img show-xs" src="assets/images/landing/couple2.png" alt="">
<div class="gray-screen large-screen"></div>
<div *ngIf="login > 0" class="gray-screen large-screen"></div>

<span *ngIf="1" [routerLink]="['']" [queryParams]="{login: 1}" class="main-color-bg login-round">
    Log<br>
    In
</span>
<img [routerLink]="['']" [queryParams]="{login: 0}" [src]="logo" height="60"
    style="top: 10px; left: 10px; position: absolute; cursor: pointer;">

<table width="100%" style="color: white; font-size: 16px; margin-top: 15px;">
    <tr>
        <td align="center">
            <i (mousedown)="toggleBackground()" class="fa fa-picture-o"></i>
            <span [routerLink]="['']" class="white-link2">Home</span>
            <span [routerLink]="['/about']" class="white-link2">About</span>
            <span [routerLink]="['/blogs']" class="white-link2">Blog</span>
        </td>
    </tr>
</table>
<div class="container-fluid" style="height: 100vh; padding-top: 80px; text-align: center;">
        <app-login-popup [login]="login" (messageEvent)="userIsLoggedIn($event)">
        </app-login-popup>
</div>

<div style="color: white; background-image: url('assets/images/landing/roseBottom.png'); padding-top: 20px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md">
                <div style="padding: 20px;">
                    <div class="large-text2">How we're changing</div>
                    <div class="large-text2">the game.</div>
                    <div>You asked. We delivered.</div>
                    <div>&nbsp;</div>
                    <h3>MOST SAFETY FEATURES EVER</h3>
                    <div>We have set out to make the most scam-proof, most reliable and safest way to date online.</div>
                    <h3>USER REVIEWS</h3>
                    <div>Betra allows you to read and review your dates before your meet them, so you actually know who
                        you are going to meet.</div>
                    <h3>HIGER QUALITY MATCHES</h3>
                    <div>Completed profiles, quality pictures and cutting out the scammers means you get the highest
                        quality matches of any app.</div>
                    <div>&nbsp;</div>
                    <div style="text-align: center"><img [src]="logo" height="80"></div>
                </div>
            </div>
            <div class="col-md" style="text-align: center;">
                <div style="padding: 2px;">
                    <img src="assets/images/landing/cell-phone.png" height="500">
                    <div style="display: block; height: 150px; text-align: center;">
                        <div style="display: inline-block; position: relative; width: 370px; height: 150px;">
                            <div class="testimony-popup" style="color: black;">
                                <div class="name-text">Savonne</div>
                                <i class="fa fa-quote-left"></i>Being able to review my dates is a game changer! It's
                                nice
                                knowing who I am actually going to meet.<i class="fa fa-quote-right"></i>
                            </div>
                            <img src="assets/images/landing/dana.png" class="savonne">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div style="text-align: center;">
        <span [routerLink]="['/blogs']" class="white-link">Blog</span> |
        <span [routerLink]="['/about']" class="white-link">About</span> |
        <span [routerLink]="['/terms-conditions']" class="white-link">Terms & Conditions</span> |
        <span [routerLink]="['/privacy-policy']" class="white-link">Privacy Policy</span>
    </div>
</div>