
.login-round {
    position: absolute;
    top: 10px;
    right: 20px;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 700;
    height: 50px;
    width: 50px;
    padding: 15px 10px 15px 10px;
    text-align: center;
    line-height: 11px;
    cursor: pointer;
}

.login-round:hover {
    background-color: white;
    color: black;
}

.app-store {
    cursor: pointer;
    padding-bottom: 5px;
}

.text-link {
    font-size: 12px;
    color: white;
    cursor: pointer;
}

.big-white-text {
    font-size: 60px;
    line-height: 60px;
    color: white;
    font-weight: 400;
    text-shadow: 1px 1px 2px black;
}

.medium-white-text {
    font-size: 32px;
    color: white;
    font-weight: 400;
    text-shadow: 1px 1px 2px black;
}

.logo-betra {
    height: 130px;
    padding-bottom: 25px;
}

$size-width: 400px;
$size-height: 110px;

.carousel-wrapper {
  width: 100%;
  height: $size-height;
  left: 0;
  justify-content: left;
  align-items: left;
  margin: 0 0 20px 0;
}

.bottom-container {
    position: absolute;
    bottom: 20px; 
    left: 0; 
    text-align: center; 
    width: 100%;
}

.carousel-container {
  width: $size-width;
  height: $size-height;
  overflow: hidden;
  margin: 0 auto;
}

.carousel {
  display: flex;
  width: $size-width * 3;
  animation: sliding 12s infinite;
  img {
    width: $size-width;
    height: $size-height;
    background-size: cover;
    background-position: center;
  }
}

@keyframes sliding {
  30% {
    transform: translateX(0);
  }
  35% {
    transform: translateX(-$size-width);
  }
  65% {
    transform: translateX(-$size-width);
  }
  70% {
    transform: translateX(-$size-width * 2);
  }
  98% {
    transform: translateX(-$size-width * 2);
  }
  100% {
    transform: translateX(0);
  }
}

@media screen and (max-width: 800px) {
    .bottom-container {
        top: auto;
        bottom: 0;
    }
    .big-white-text {
        font-size: 48px;
    }
    .medium-white-text {
        font-size: 28px;
    }
    .signup-popup {
        top: 100px;
    }
    .logo-betra {
        height: 100px;
        padding-bottom: 20px;
    }
}
@media screen and (max-width: 600px) {
    .logo-betra {
        height: 80px;
        padding-bottom: 15px;
    }
    .big-white-text {
        font-size: 32px;
    }
    .medium-white-text {
        font-size: 20px;
    }
    .white-link {
        font-size: 14px;
    }
}
@media screen and (max-width: 400px) {
    .big-white-text {
        font-size: 28px;
    }
    .medium-white-text {
        font-size: 14px;
    }
    .carousel-wrapper {
        display: none;
    }
}