<app-page-shell [userId]="userId" [pageTitle]="'Chat Room'" [headerObj]="headerObj" [userStatus]="userStatus"
    [stickyBottomFlg]="true">

    <div *ngIf="user && chatRoom" id="chat-room" class="matches-card" style="text-align: left; padding: 0;">
        <app-top-header2 [topTitle]="'Chat Room'"></app-top-header2>
        <div style="text-align: center;">
            <button [routerLink]="['/game-room']" class="btn btn-main-color btn-large spacer">Game Room!</button>
        </div>
        <div class="happy-hour" *ngIf="0">
            <div>Happy Hour: 5pm PST
                <span style="float: right; color: aquamarine;">{{happyHourNotice}}</span>
            </div>
            <div style="color: #999; font-size: 10px; text-align: center;">Join us for an hour of chatting with other
                members of Betra!</div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div *ngIf="chatRoom" class="border-box" style="text-align: center;">
                        <div class="gray-text">People in the chat room</div>
                        <app-profile-pic2 (mousedown)="showProfile(person.user_id)" [title]="person.firstName" *ngFor="let person of chatRoom.users"
                            [user_id]="person.user_id" [profilePic]="person.profilePic" [size]="30">
                        </app-profile-pic2>
                    </div>
                    <div *ngIf="lotsOfMessagesFlg" (mousedown)="showMoreFlg = !showMoreFlg" style="font-size: 12px;">
                        <span *ngIf="0 && showMoreFlg" class="text-link">Show Less</span>
                        <span *ngIf="0 && !showMoreFlg" class="text-link">Show More</span>
                    </div>
                    <div
                        style="background-color: pink; color: white; padding: 5px; margin: 5px; border-radius: 5px; min-height: 200px;">
                        <div *ngFor="let message of messages" (mousedown)="messageClicked(message)" style="display: block;">
                            <div *ngIf="!message.olderFlg || showMoreFlg" style="position: relative; ">
                                <div *ngIf="message.type" style="color: #777;">**{{message.message}}**</div>
                                <div *ngIf="!message.type">
                                    <div class="chat-bubble" [style.background-color]="message.user_id == user.user_id?'#bcf':'white'">{{message.message}} <span *ngIf="message.user_id != user.user_id" style="font-size: 8px; color: gray;">({{message.firstName}})</span></div>
                                    <app-profile-pic2 style="position: absolute; left: 0; top: 2px;" (mousedown)="showProfile(message.user_id)" [user_id]="message.user_id" [profilePic]="message.profilePic"
                                        [size]="25">
                                    </app-profile-pic2> 
                                    <!--<span
                                        [style.color]="message.gender=='M'?'cyan':'pink'">&nbsp;{{message.firstName}}</span>:-->
                                    
                                </div>
                            </div>

                        </div>
                    </div>
                    <app-spinner *ngIf="errorMessage" [loadingFlg]="loadingFlg" [errorMessage]="errorMessage">
                    </app-spinner>
                    <app-text-with-emoji (messageEvent)="sumbitReply($event)" [user_id]="user.user_id"
                        [value]="textValue" [profilePic]="user.profilePic" [maxLength]="300"></app-text-with-emoji>
                    <div class="tan-box" *ngIf="0 && chatRoom.users.length<2">Sorry, no one else is in the chat room
                        right now. Try
                        back during happy hour!</div>
                </div>
                <div class="col-md-4" style="text-align: center;">
                    <div class="border-box">
                        <div class="gray-text">Betra activity logs</div>
                        <app-profile-pic2 (mousedown)="showProfile(person.user_id)" *ngFor="let person of chatRoom.usersOnline" [user_id]="person.user_id"
                            [profilePic]="person.profilePic" [size]="30">
                        </app-profile-pic2>
                    </div>
                    <div
                        style="display: inline-block; text-align: left; background-color: black; color: white; padding: 5px; margin: 5px; border-radius: 5px; width: 100%; max-width: 300px; min-height: 260px; font-size: 10px;">
                        <div *ngFor="let message of chatRoom.activity">
                            <div *ngIf="!message.olderFlg || showMoreFlg">
                                <div *ngIf="message.type" class="gray-text">**{{message.message}}**</div>
                                <div *ngIf="!message.type">
                                    <app-profile-pic2 (mousedown)="showProfile(message.user_id)" [user_id]="message.user_id" [profilePic]="message.profilePic"
                                        [size]="25">
                                    </app-profile-pic2> <span
                                        [style.color]="message.gender=='M'?'cyan':'pink'">&nbsp;{{message.firstName}}</span>:
                                    {{message.message}}
                                    <app-profile-pic2 (mousedown)="showProfile(message.uid)" *ngIf="message.uid>0" [user_id]="message.uid"
                                        [profilePic]="message.profilePic2" [size]="25">
                                    </app-profile-pic2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</app-page-shell>
<app-profile-user-popup></app-profile-user-popup>