.green-value {
    background-color: #ccc;
    border-bottom: 1px solid green;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 700;
}
.yellow-value {
    background-color: #ccc;
    border-bottom: 1px solid rgb(163, 106, 2);
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 700;
}
.red-value {
    background-color: #ccc;
    border-bottom: 1px solid red;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 700;
}