.green-value {
    color: green;
    background-color: #ccffcc;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 700;
}
.yellow-value {
    color: orange;
    background-color: #ffffc0;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 700;
}
.red-value {
    color: red;
    background-color: #ffcccc;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 700;
}