<app-page-shell (messageEvent)="loginClicked ($event)" [userId]="userId" [pageTitle]="'Profile'"
    [imgSrcFile]="imgSrcFile" [headerObj]="headerObj" [userStatus]="userStatus" [stickyBottomFlg]="true">

    <div class="btn-group" *ngIf="user && user.status == 'Active'">
        <button *ngFor="let title of menuTitles2; let i = index;" (mousedown)="menuNum=i" type="button"
            [ngClass]="menuNum==i?'btn btn-main-color small-btn-group':'btn btn-secondary small-btn-group'">{{title}}</button>
    </div>
    <div *ngIf="1" style="text-align: center;">
        <div class="profile-popup">
            <div class="inside-box2">

                <div class="profile-main-menu main-color-bg">
                    <button *ngIf="user && user.status == 'Active'" class="btn" style="float: right;"
                        [routerLink]="['']"><i class="fa fa-times"></i></button>

                    <i [ngClass]="profileItemStatusClass(user.profileFlags[menuNum])"
                        [style.color]="user.profileFlags[menuNum]?'#7f7':'yellow'"></i>
                    {{menuTitles[menuNum]}}
                    <div style="font-size: 12px; color: #eee;">{{menuDesc[menuNum]}}</div>
                    <div *ngIf="menuNum<8" style="font-size: 10px;">{{menuNum+1}} of {{NUM_ITEMS}}</div>
                </div>
                <div *ngIf="!email">Error! No email: {{email}}</div>
                <div *ngIf="!code" style="background-color: yellow;">App is out of sync. Try logging out and logging
                    back in.</div>
                <!-------------------------0------------------------->
                <div class="menu-section" *ngIf="menuNum==0">
                    <div>
                        <div *ngIf="platform != 'IOS'">
                            <div class="red-text">What features are you interested in?</div>
                            <i (mousedown)="toggleFindLoveFlg()" [ngClass]="findLoveFlg?'fa fa-check-square-o input-box':'fa fa-square-o input-box'"></i> Finding love
                            <i class="fa fa-check-square-o input-box"></i> Photo Club
                            <i class="fa fa-check-square-o input-box"></i> Entertainment    
                            <hr>
                        </div>

                         <div class="container-fluid" style="padding: 0;">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="tiny-text">First Name</div>
                                    <app-first-name-input (messageEvent)="menuValueChanged2()"
                                        [firstName]="user.firstName">
                                    </app-first-name-input>
                                    <div class="tiny-text"><i class="fa fa-asterisk" style="color: red;"></i> Phone</div>
                                    <app-phone-input (messageEvent)="menuValueChanged2()" [phone]="user.phone">
                                    </app-phone-input>
                                </div>
                                <div class="col-sm-6">
                                    <div class="tiny-text">Email: </div>
                                    <div><span class="text-highlight">{{user.email}}</span></div>
                                    <div>&nbsp;</div>

                                    <div class="tiny-text"><i class="fa fa-asterisk" style="color: red;"></i> Birthdate</div>
                                    <app-birthday-input (messageEvent)="menuValueChanged2()"
                                        [birthdate]="user.birthdate"></app-birthday-input>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid" style="padding: 0;">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="tiny-text"><i class="fa fa-asterisk" style="color: red;"></i> My Gender</div>
                                    <table>
                                        <tr>
                                            <td>
                                                <button (mousedown)="selectGender('M')"
                                                    [ngClass]="ngClassButton(user.gender=='M')">Male</button>
                                            </td>
                                            <td>
                                                <button (mousedown)="selectGender('F')"
                                                    [ngClass]="ngClassButton(user.gender=='F')">Female</button>
                                            </td>
                                        </tr>
                                    </table>
                                    <div *ngIf="!user.gender && errorMessage" style="background-color: yellow;">
                                        Select an
                                        gender
                                    </div>
                                </div>
                                <div class="col-sm-6" *ngIf="findLoveFlg">
                                    <div>
                                        <div class="tiny-text"><i class="fa fa-asterisk" style="color: red;"></i> Show Me (I want to date)</div>
                                        <table>
                                            <tr>
                                                <td>
                                                    <button (mousedown)="selectMatches('M')"
                                                        [ngClass]="ngClassButton(user.matchPreference=='M')">Men</button>
                                                </td>
                                                <td>
                                                    <button (mousedown)="selectMatches('F')"
                                                        [ngClass]="ngClassButton(user.matchPreference=='F')">Women</button>
                                                </td>
                                                <td>
                                                    <button (mousedown)="selectMatches('A')"
                                                        [ngClass]="ngClassButton(user.matchPreference=='A')">All</button>
                                                </td>
                                            </tr>
                                        </table>
                                        <div *ngIf="!user.matchPreference && errorMessage"
                                            style="background-color: yellow;">Select an
                                            option
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>

                <!--------------------------7------------------->
                <div class="menu-section" *ngIf="menuNum==1">
                    <div *ngIf="user.emailVerifyFlg">Your email address has been verified!</div>
                    <div *ngIf="!user.emailVerifyFlg">
                        <div>Check your email & spam folder to verify your email address, or click 'Continue' to
                            skip
                            for now.</div>
                        <div *ngIf="user.status=='Active'"
                            style="background-color: #ffffc0; padding: 5px; border: 1px solid #ccc; border-radius: 5px;">
                            Your email address:
                            <span class="highlited-field">{{user.email}}</span>
                            <button class="btn btn-primary" (mousedown)="sendCode()" *ngIf="menuDisableFlg">Send
                                New
                                Code</button>&nbsp;
                            <button class="btn btn-primary" (mousedown)="refreshUser()">Refresh
                                Profile</button>
                        </div>
                        <div *ngIf="0">
                            <div>Click on the link in your email, or enter the code here:</div>
                            <table align="center">
                                <tr>
                                    <td>
                                        <input name="emailCode" id="emailCode" type="text" maxlength="4">
                                    </td>
                                    <td>
                                        <button class="btn btn-primary" [routerLink]="['']"
                                            *ngIf="menuDisableFlg">Verify
                                            Code</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div *ngIf="!menuDisableFlg && apiSuccessFlg">Code has been sent! Check your email.
                        </div>
                    </div>
                </div>


                <!-----------------------------1-------------------------->
                <div class="menu-section" *ngIf="menuNum==2 && !liteModeFlg">
                    <div style="font-size: 22px;">Tell us about yourself</div>
                    <div *ngIf="!user.city" style="background-color: yellow;">Note: your location information is
                        not
                        making it through. You may want to log in with another browser or adjust your settings.
                    </div>
                    <div class="container-fluid" style="padding: 0;">
                        <div class="row">
                            <div class="col-md" style="text-align: center;">
                                <div style="text-align: left; display: inline-block;">
                                    <div class="tiny-text"><i *ngIf="showRequiredFieldsFlg" class="fa fa-asterisk"
                                            style="color: red;"></i> Marital Status</div>
                                    <select name="maritalStatus" id="maritalStatus" (change)="menuValueChanged()"
                                        [style.background-color]="user.maritalStatus?'#eee':requiredFieldColor">
                                        <option disabled selected>Select</option>
                                        <option *ngFor="let option of maritalStatus"
                                            [selected]="option == user.maritalStatus">{{option}}
                                        </option>
                                    </select>
                                    <div *ngIf="user.findLoveFlg">
                                        <div class="tiny-text"><i *ngIf="showRequiredFieldsFlg" class="fa fa-asterisk"
                                                style="color: red;"></i> Race</div>
                                        <select name="race" id="race" (change)="menuValueChanged()"
                                            [style.background-color]="user.race?'#eee':requiredFieldColor">
                                            <option disabled selected>Select</option>
                                            <option *ngFor="let option of raceOptions" [selected]="option == user.race">
                                                {{option}}</option>
                                        </select>
                                        <div class="tiny-text"><i *ngIf="showRequiredFieldsFlg" class="fa fa-asterisk"
                                                style="color: red;"></i> Education Level</div>
                                        <select name="educationLevel" id="educationLevel" (change)="menuValueChanged()"
                                            [style.background-color]="user.educationLevel?'#eee':requiredFieldColor">
                                            <option disabled selected>Select</option>
                                            <option *ngFor="let option of educationLevels"
                                                [selected]="option == user.educationLevel">{{option}}</option>
                                        </select>
                                        <div class="tiny-text"><i *ngIf="showRequiredFieldsFlg" class="fa fa-asterisk"
                                                style="color: red;"></i> Income</div>
                                        <select name="income" id="income" (change)="menuValueChanged()"
                                            [style.background-color]="user.income?'#eee':requiredFieldColor">
                                            <option disabled selected>Select</option>
                                            <option *ngFor="let option of incomes" [selected]="option == user.income">
                                                {{option}}
                                            </option>
                                        </select>
                                        <div class="tiny-text"><i *ngIf="showRequiredFieldsFlg" class="fa fa-asterisk"
                                                style="color: red;"></i> Religion</div>
                                        <select name="religion" id="religion" (change)="menuValueChanged()"
                                            [style.background-color]="user.religion?'#eee':requiredFieldColor">
                                            <option disabled selected>Select</option>
                                            <option *ngFor="let option of religions"
                                                [selected]="option == user.religion">
                                                {{option}}
                                            </option>
                                        </select>
                                        <table>
                                            <tr>
                                                <td>
                                                    <div class="tiny-text"><i *ngIf="showRequiredFieldsFlg"
                                                            class="fa fa-asterisk" style="color: red;"></i> Body Type
                                                    </div>
                                                    <select name="bodyType" id="bodyType" (change)="menuValueChanged()"
                                                        [style.background-color]="user.bodyType?'#eee':requiredFieldColor">
                                                        <option disabled selected>Select</option>
                                                        <option *ngFor="let option of bodyTypes"
                                                            [selected]="option == user.bodyType">
                                                            {{option}}
                                                        </option>
                                                    </select>

                                                </td>
                                                <td>
                                                    <div class="tiny-text"><i *ngIf="showRequiredFieldsFlg"
                                                            class="fa fa-asterisk" style="color: red;"></i> Height</div>
                                                    <select name="bodyHeight" id="bodyHeight"
                                                        (change)="menuValueChanged()"
                                                        [style.background-color]="user.bodyHeight?'#eee':requiredFieldColor">
                                                        <option disabled selected>Select</option>
                                                        <option *ngFor="let option of bodyHeights"
                                                            [selected]="option == user.bodyHeight">
                                                            {{option}}
                                                        </option>
                                                    </select>

                                                </td>
                                            </tr>
                                        </table>


                                    </div>
                                </div>

                            </div>
                            <div class="col-md" style="text-align: left;">
                                <div
                                    style="border: 1px solid #ccc; border-radius: 10px; margin: 5px; padding: 5px; background-color: #eee;">

                                    <div class="gray-text">Note: This info set by GPS. If you are not seeing your
                                        location info, continue setting up your profile and fix it later under
                                        "Settings" tab.</div>
                                    <table>
                                        <tr>
                                            <td *ngIf="user.countryName != 'United States'" valign="top"
                                                style="padding-right: 10px;">
                                                <div class="tiny-text">Country</div>
                                                <div>
                                                    <span class="text-highlight">{{user.countryName}}</span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="tiny-text">City</div>
                                                <app-text-input [placeHolder]="'City'" [id]="'city'" [value]="user.city"
                                                    [highlightFlg]="user.city==''" [maxLength]="25"
                                                    [disabled]="cityDisabledFlg" (messageEvent)="menuValueChanged()">
                                                </app-text-input>
                                            </td>
                                            <td *ngIf="user.countryName == 'United States'" valign="top"
                                                style="padding-left: 10px;">
                                                <div class="tiny-text">State</div>
                                                <select name="state" id="state" [disabled]="!!user.stateName"
                                                    [style.background-color]="user.stateName?'#eee':requiredFieldColor"
                                                    (change)="menuValueChanged()">
                                                    <option disabled selected>Select</option>
                                                    <option *ngFor="let option of stateOptions"
                                                        [selected]="option == user.stateName">{{option}}
                                                    </option>
                                                </select>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                                <div *ngIf="user.findLoveFlg">
                                    <table>
                                        <tr>
                                            <td>
                                                <div class="tiny-text">Longest relationship (years)</div>
                                                <input name="longestRelationship"
                                                    [style.background-color]="user.longestRelationship?'#eee':requiredFieldColor"
                                                    id="longestRelationship" type="number"
                                                    [value]="user.longestRelationship" (input)="menuValueChanged()">
                                            </td>
                                            <td>
                                                <div class="tiny-text"># kids living with you</div>
                                                <input name="numKids" id="numKids" type="number" [value]="user.numKids"
                                                    (input)="menuValueChanged()">
                                            </td>
                                        </tr>
                                    </table>
                                    <table>
                                        <tr>
                                            <td>
                                                <div class="tiny-text">Number of tattoos</div>
                                                <input name="numTattoos" id="numTattoos" type="number"
                                                    [value]="user.numTattoos" (input)="menuValueChanged()">
                                            </td>
                                            <td>
                                                <div class="tiny-text">Number of piercings</div>
                                                <input name="numPiercings" id="numPiercings" type="number"
                                                    [value]="user.numPiercings" (input)="menuValueChanged()">
                                            </td>
                                        </tr>
                                    </table>
                                    <table width="100%">
                                        <tr>
                                            <td>
                                                <div class="tiny-text"><i *ngIf="showRequiredFieldsFlg"
                                                        class="fa fa-asterisk" style="color: red;"></i> Desired
                                                    Relationship</div>
                                                <select name="desiredRelationship" id="desiredRelationship"
                                                    [style.background-color]="user.desiredRelationship?'#eee':requiredFieldColor"
                                                    (change)="menuValueChanged()">
                                                    <option disabled selected>Select</option>
                                                    <option *ngFor="let option of desiredRelationships"
                                                        [selected]="option == user.desiredRelationship">
                                                        {{option}}
                                                    </option>
                                                </select>
                                            </td>
                                            <td>
                                                <div class="tiny-text"><i *ngIf="showRequiredFieldsFlg"
                                                        class="fa fa-asterisk" style="color: red;"></i> View of Marriage
                                                </div>
                                                <select name="marriageView" id="marriageView"
                                                    [style.background-color]="user.marriageView?'#eee':requiredFieldColor"
                                                    (change)="menuValueChanged()">
                                                    <option disabled selected>Select</option>
                                                    <option *ngFor="let option of marriageOptions"
                                                        [selected]="option == user.marriageView">{{option}}
                                                    </option>
                                                </select>
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="tiny-text"><i *ngIf="showRequiredFieldsFlg" class="fa fa-asterisk"
                                            style="color: red;"></i> Wants Kids? (more than you already have)</div>
                                    <select name="wantsKids" id="wantsKids"
                                        [style.background-color]="user.wantsKids?'#eee':requiredFieldColor"
                                        (change)="menuValueChanged()">
                                        <option disabled selected>Select</option>
                                        <option *ngFor="let option of kidsOptions"
                                            [selected]="option == user.wantsKids">{{option}}
                                        </option>
                                    </select>

                                    <table width="100%">
                                        <tr>
                                            <td>
                                                <div class="tiny-text"><i *ngIf="showRequiredFieldsFlg"
                                                        class="fa fa-asterisk" style="color: red;"></i> Smokes?</div>
                                                <select name="smokes" id="smokes" style="font-size: 12px;"
                                                    [style.background-color]="user.smokes?'#eee':requiredFieldColor"
                                                    (change)="menuValueChanged()">
                                                    <option disabled selected>Select</option>
                                                    <option *ngFor="let option of smokingOptions"
                                                        [selected]="option == user.smokes">{{option}}
                                                    </option>
                                                </select>
                                            </td>
                                            <td>
                                                <div class="tiny-text"><i *ngIf="showRequiredFieldsFlg"
                                                        class="fa fa-asterisk" style="color: red;"></i> Drinks?</div>
                                                <select name="drinks" id="drinks" style="font-size: 12px;"
                                                    [style.background-color]="user.drinks?'#eee':requiredFieldColor"
                                                    (change)="menuValueChanged()">
                                                    <option disabled selected>Select</option>
                                                    <option *ngFor="let option of smokingOptions"
                                                        [selected]="option == user.drinks">{{option}}
                                                    </option>
                                                </select>
                                            </td>
                                            <td>
                                                <div class="tiny-text"><i *ngIf="showRequiredFieldsFlg"
                                                        class="fa fa-asterisk" style="color: red;"></i> Cannabis User?
                                                </div>
                                                <select name="cannabis" id="cannabis" style="font-size: 12px;"
                                                    [style.background-color]="user.cannabis?'#eee':requiredFieldColor"
                                                    (change)="menuValueChanged()">
                                                    <option disabled selected>Select</option>
                                                    <option *ngFor="let option of smokingOptions"
                                                        [selected]="option == user.cannabis">{{option}}
                                                    </option>
                                                </select>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tiny-text"><i *ngIf="showRequiredFieldsFlg" class="fa fa-asterisk"
                            style="color: red;"></i> Your motto</div>
                    <app-text-input [placeHolder]="'Motto'" [id]="'motto'" [value]="user.motto"
                        [highlightFlg]="user.motto==''" [maxLength]="128" (messageEvent)="menuValueChanged()">
                    </app-text-input>

                </div>

                <!-----------------------------2--personality quiz------------------------>
                <div class="menu-section" *ngIf="menuNum==3 && findLoveFlg">
                    <div *ngIf="!user.findLoveFlg">Note, you did not select the "Find Love" option, so skip this
                        step
                    </div>
                    <div *ngIf="user.findLoveFlg">

                        <div class="box-card" *ngFor="let quiz of personalityQuiz; let i = index">
                            <div>{{i+1}}. {{quiz.question}}</div>
                            <button (mousedown)="answerPersonalityQuiz(i, 1)"
                                [ngClass]="ngClassButton(personalityQuiz[i].answer=='1')"
                                [style.background-color]="showRequiredFieldsFlg && personalityQuiz[i].answer==''?'yellow':'white'">{{quiz.option1}}</button>
                            <button (mousedown)="answerPersonalityQuiz(i, 2)"
                                [ngClass]="ngClassButton(personalityQuiz[i].answer=='2')"
                                [style.background-color]="showRequiredFieldsFlg && personalityQuiz[i].answer==''?'yellow':'white'">{{quiz.option2}}</button>
                        </div>
                    </div>
                </div>

                <!-----------------------------3--Political Assessment------------------------>
                <div class="menu-section" *ngIf="user && menuNum==4">
                    <div *ngIf="!user.findLoveFlg">Note, you did not select the "Find Love" option, so skip this
                        step
                    </div>
                    <div *ngIf="user.findLoveFlg">
                        <div style="font-size: 18px;">Answer these questions by selecting the answer you most
                            agree
                            with.</div>
                        <div class="box-card" *ngFor="let quiz of politicalQuiz; let i = index">
                            <div><b>{{i+1}}. {{quiz.subject}}</b></div>
                            <div (mousedown)="answerPoliticalQuiz(i, 1)"
                                [ngClass]="ngClassAnswer(politicalQuiz[i].answer=='1')"
                                [style.background-color]="showRequiredFieldsFlg && politicalQuiz[i].answer==''?'yellow':'white'">
                                {{quiz.option1}}</div>
                            <div (mousedown)="answerPoliticalQuiz(i, 2)"
                                [ngClass]="ngClassAnswer(politicalQuiz[i].answer=='2')"
                                [style.background-color]="showRequiredFieldsFlg && politicalQuiz[i].answer==''?'yellow':'white'">
                                {{quiz.option2}}</div>
                            <div (mousedown)="answerPoliticalQuiz(i, 3)"
                                [ngClass]="ngClassAnswer(politicalQuiz[i].answer=='3')"
                                [style.background-color]="showRequiredFieldsFlg && politicalQuiz[i].answer==''?'yellow':'white'">
                                {{quiz.option3}}</div>
                        </div>
                    </div>
                </div>


                <!-----------------------------5-------------------------->
                <div class="menu-section" *ngIf="menuNum==5 || menuNum==2 && liteModeFlg">

                    <p>Upload a photo of yourself.</p>
                    <app-upload-image-crop [loadingFlg]="loadingFlg" [src]="user.imgSrc"
                        (messageEvent)="updateImageButton2Clicked()"></app-upload-image-crop>

                    <!--<app-upload-image *ngIf="!loadingFlg" [src]="user.imgSrc"
                        (messageEvent)="updateImageButtonClicked()">
                    </app-upload-image>-->

                    <div *ngIf="apiSuccessFlg" style="background-color: #cfc; height: 44px;">
                        Press 'Upload' button</div>
                </div>

                <!--------------------------6------------------->
                <div class="menu-section" *ngIf="menuNum==6">
                    <p>Optionally, you can upload up to 4 additional photos of yourself.</p>
                    <div class="gray-text">Having additional photos increases the chances of people being
                        interested in
                        you.</div>
                    <app-upload-image [fileId]="'file1'" [loadingFlg]="loadingFlg" [id]="'Image1'" [src]="user.pic1"
                        (messageEvent)="uploadPicButtonClicked(0)"></app-upload-image>
                    <app-upload-image [fileId]="'file2'" [loadingFlg]="loadingFlg" [id]="'Image2'" [src]="user.pic2"
                        (messageEvent)="uploadPicButtonClicked(1)"></app-upload-image>
                    <app-upload-image [fileId]="'file3'" [loadingFlg]="loadingFlg" [id]="'Image3'" [src]="user.pic3"
                        (messageEvent)="uploadPicButtonClicked(2)"></app-upload-image>
                    <app-upload-image [fileId]="'file4'" [loadingFlg]="loadingFlg" [id]="'Image4'" [src]="user.pic4"
                        (messageEvent)="uploadPicButtonClicked(3)"></app-upload-image>
                </div>

                <!--------------------------Bio------------------>
                <div class="menu-section" *ngIf="menuNum==7" style="text-align: left; font-size: 12px;">

                    <div class="red-text">Tell us a little about yourself:</div>
                    <app-text-area-input [id]="'aboutme'" (messageEvent)="menuValueChanged()" [value]="user.aboutme">
                    </app-text-area-input>
                    <div class="red-text">Tell us a little about your recent dating situation:</div>
                    <app-text-area-input [id]="'history'" (messageEvent)="menuValueChanged()" [value]="user.history">
                    </app-text-area-input>
                    <div class="red-text">What are you hoping to find:</div>
                    <app-text-area-input [id]="'lookingFor'" (messageEvent)="menuValueChanged()"
                        [value]="user.lookingFor"></app-text-area-input>

                </div>
                <!-------------------------------Your match------------------------>
                <div class="menu-section" *ngIf="user && menuNum==8">
                    <div *ngIf="!user.findLoveFlg">Note, you did not select the "Find Love" option, so skip this
                        step
                    </div>
                    <div *ngIf="user.findLoveFlg">

                        <div class="tiny-text"><i *ngIf="showRequiredFieldsFlg" class="fa fa-asterisk"
                                style="color: red;"></i> What are you looking for? (One sentence)</div>
                        <app-text-input [placeHolder]="'What are you looking for?'" [id]="'story'" [value]="user.story"
                            [highlightFlg]="user.story==''" [maxLength]="128" (messageEvent)="menuValueChanged()">
                        </app-text-input>
                        <table>
                            <tr>
                                <td width="50%">
                                    <div class="tiny-text">Ideal match age</div>
                                    <input name="matchAge" id="matchAge" type="number" [value]="user.matchAge"
                                        (input)="menuValueChanged()">
                                </td>
                                <td width="50%" valign="middle">
                                    <button (mousedown)="moreMatchOptionsFlg=!moreMatchOptionsFlg"
                                    class="btn btn-main-color btn-small">More Options</button>        
                                </td>
                            </tr>
                        </table>



 
                        <div *ngIf="moreMatchOptionsFlg">
                            <hr>
                            <div style="font-size: 22px;">What is your ideal match?</div>

                            <div style="font-size: 10px; color: gray;">Note you will get
                                lots of matches that don't
                                have
                                your
                                "Ideal" settings, but these are simply used to tell you how close to ideal the
                                person is.
                            </div>
                        </div>
                        <div *ngIf="moreMatchOptionsFlg" class="container-fluid" style="padding: 0;">
                            <div class="row">
                                <div class="col-md" style="text-align: left;">

                                    <div class="tiny-text">Body Type</div>
                                    <select name="matchBody" id="matchBody" (change)="menuValueChanged()"
                                        [style.background-color]="user.matchBody?'#eee':requiredFieldColor">
                                        <option>No preference</option>
                                        <option *ngFor="let option of bodyTypes" [selected]="option == user.matchBody">
                                            {{option}}
                                        </option>
                                    </select>
                                    <div class="tiny-text">Height</div>
                                    <select name="matchHeight" id="matchHeight" (change)="menuValueChanged()"
                                        [style.background-color]="user.matchHeight?'#eee':requiredFieldColor">
                                        <option>No preference</option>
                                        <option *ngFor="let option of bodyHeights"
                                            [selected]="option == user.matchHeight">
                                            {{option}}
                                        </option>
                                    </select>
                                    <div class="tiny-text">View of Marriage</div>
                                    <select name="matchMarriage" id="matchMarriage"
                                        [style.background-color]="user.matchMarriage?'#eee':requiredFieldColor"
                                        (change)="menuValueChanged()">
                                        <option>No preference</option>
                                        <option *ngFor="let option of marriageOptions"
                                            [selected]="option == user.matchMarriage">{{option}}
                                        </option>
                                    </select>
                                    <div class="tiny-text">Desired Relationship</div>
                                    <select name="matchRelationship" id="matchRelationship"
                                        [style.background-color]="user.matchRelationship?'#eee':requiredFieldColor"
                                        (change)="menuValueChanged()">
                                        <option>No preference</option>
                                        <option *ngFor="let option of desiredRelationships"
                                            [selected]="option == user.matchRelationship">{{option}}
                                        </option>
                                    </select>


                                </div>
                                <div class="col-md" style="text-align: left;">
                                    <div class="tiny-text">Education Level</div>
                                    <select name="matchEducation" id="matchEducation" (change)="menuValueChanged()"
                                        [style.background-color]="user.matchEducation?'#eee':requiredFieldColor">
                                        <option>No preference</option>
                                        <option *ngFor="let option of educationLevels"
                                            [selected]="option == user.matchEducation">{{option}}</option>
                                    </select>
                                    <div class="tiny-text">Income</div>
                                    <select name="matchIncome" id="matchIncome" (change)="menuValueChanged()"
                                        [style.background-color]="user.matchIncome?'#eee':requiredFieldColor">
                                        <option>No preference</option>
                                        <option *ngFor="let option of incomes" [selected]="option == user.matchIncome">
                                            {{option}}
                                        </option>
                                    </select>
                                    <div class="tiny-text">Religion</div>
                                    <select name="matchReligion" id="matchReligion" (change)="menuValueChanged()"
                                        [style.background-color]="user.matchReligion?'#eee':requiredFieldColor">
                                        <option>No preference</option>
                                        <option *ngFor="let option of religions"
                                            [selected]="option == user.matchReligion">
                                            {{option}}
                                        </option>
                                    </select>
                                    <div class="tiny-text">Has Kids?</div>
                                    <select name="matchHasKids" id="matchHasKids"
                                        [style.background-color]="user.matchHasKids?'#eee':requiredFieldColor"
                                        (change)="menuValueChanged()">
                                        <option disabled selected>Select</option>
                                        <option *ngFor="let option of kidsOptions"
                                            [selected]="option == user.matchHasKids">
                                            {{option}}
                                        </option>
                                    </select>
                                    <div class="tiny-text">Wants Kids?</div>
                                    <select name="matchWantsKids" id="matchWantsKids"
                                        [style.background-color]="user.matchWantsKids?'#eee':requiredFieldColor"
                                        (change)="menuValueChanged()">
                                        <option disabled selected>Select</option>
                                        <option *ngFor="let option of kidsOptions"
                                            [selected]="option == user.matchWantsKids">{{option}}
                                        </option>
                                    </select>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <!--------------------------9------------------>
                <div class="menu-section" *ngIf="menuNum==3 && !findLoveFlg">
                    <h1>Congratulations!</h1>
                    <div> Your profile is now active. Enjoy the app.</div>
                    <button [routerLink]="['']" class="btn red-button">Get
                        Started!</button>

                </div>
                <div class="menu-section" *ngIf="menuNum==9">
                    <h1>Congratulations!</h1>
                    <div> Your profile is now active. Enjoy your journey.</div>
                    <button [routerLink]="['/intro']" class="btn red-button">Get
                        Started!</button>

                </div>
            </div>
            <div *ngIf="!code" style="background-color: yellow;">App is out of sync. Try logging out and logging
                back
                in.</div>

            <app-spinner [loadingFlg]="loadingFlg" [successFlg]="apiSuccessFlg" [errorMessage]="errorMessage">
            </app-spinner>
            <table width="100%" *ngIf="!loadingFlg && !showSubmitButtonFlg">
                <tr>
                    <td *ngIf="menuNum>0 && menuNum<8">
                        <button (mousedown)="profileSectionBack()" class="btn gray-button">Back</button>
                    </td>
                    <td>
                        <button *ngIf="menuNum==5" class="btn red-button btn-main-color"
                            (mousedown)="continueUploadButtonPressed()">Contine</button>
                        <button *ngIf="menuNum!=5 && menuNum < menuTitles.length-1"
                            (mousedown)="profileSectionAdvance()" class="btn red-button btn-main-color"><span
                                *ngIf="changesMadeFlg">Save &</span>
                            Continue</button>
                    </td>
                </tr>
            </table>

        </div>
    </div>

</app-page-shell>