

<app-user-request-info *ngIf="matchUser && matchUser.matchObj && matchUser.matchObj.match_level>=5" [myUser]="myUser" [matchUser]="matchUser"></app-user-request-info>


<div class="match-card" *ngIf="matchUser && matchUser.matchObj">
    <div class="gray-title" style="position: relative;">Messages
        <i *ngIf="messages.length>0" (mousedown)="showDetailsFlg=!showDetailsFlg" class="fa fa-info-circle more-options"></i>
    </div>

    <div class="text-window">
        <div *ngFor="let message of messages">
            
            <div [ngClass]="ngClassMessage(message.user_id)" (mousedown)="selectMessage(message.id)">
                <button (mousedown)="deleteCurrentText()" class="btn btn-danger" *ngIf="message.id==selectedMessage"><i class="fa fa-trash"></i></button>
                <div *ngIf="showDetailsFlg" class="top-text">{{message.name}}</div>
                <div [ngClass]="ngClassMessageBlob(message.user_id)">{{message.message}}</div>
                <div *ngIf="showDetailsFlg" class="bottom-text">{{message.local}}
                    <span *ngIf="message.user_id == myUser.user_id && !message.readDt" style="color: #700;">Not
                        Read</span>
                    <span *ngIf="message.user_id == matchUser.user_id && !message.readDt"
                        class="new-message">New!</span>
                </div>
            </div>
        </div>
    </div>

    <hr *ngIf="messages.length>0">
    
    <div *ngIf="matchUser.matchObj.match_level==3 && matchUser.matchObj.you_action=='message sent'">Awaiting response from {{matchUser.firstName}}.</div>
    <div *ngIf="matchUser.matchObj.match_level==3 && matchUser.matchObj.you_action=='Interested'">Respond to {{matchUser.firstName}}!</div>
    <div *ngIf="matchUser.matchObj.match_level==4 && matchUser.matchObj.you_action=='reply sent'">Awaiting response. If
        you get a response, the two of you can
        text freely.</div>
    <div *ngIf="matchUser.matchObj.match_level==4 && matchUser.matchObj.you_action=='message sent'">You will be able to freely chat back and forth once this message is sent.</div>
    <div *ngIf="showTextInputFlg">
        <table width="100%">
            <tr>
                <td>
                    <app-message-input (messageEvent)="inputValueChanged($event)" [matchLevel]="matchUser.matchObj.match_level"></app-message-input>
                </td>
                <td>
                    <button (mousedown)="sendMessage()" [disabled]="disabledButtonFlg" class="btn btn-primary"
                        style="height: 50px;">Send</button>
                </td>
            </tr>
        </table>
    </div>

    <div *ngIf="matchUser.matchObj.match_level==2 && !messageSentFlg">
        <div class="gray-text">Break the ice with a question! Here is your chance to start the conversation.</div>
        <table width="100%">
            <tr>
                <td>
                    <div>Greeting:</div>
                    <select (change)="questionValueChanged()" name="greetingText" id="greetingText">
                        <option disabled selected>Select</option>
                        <option *ngFor="let option of greetings">{{option}}</option>
                    </select>

                    <div>Question:</div>
                    <select (change)="questionValueChanged()" name="questionText" id="questionText">
                        <option disabled selected>Select</option>
                        <option *ngFor="let option of questions">{{option}}</option>
                    </select>
                </td>
                <td>
                    <button (mousedown)="sendMessage()" [disabled]="disabledButtonFlg"
                        class="btn btn-primary" style="height: 60px;">Send</button>
                </td>
            </tr>
        </table>
    </div>
    <div *ngIf="messageSentFlg">Message Sent!</div>

    <app-spinner [loadingFlg]="loadingFlg"></app-spinner>
    <div *ngIf="matchUser.matchObj && matchUser.matchObj.match_level == 3" class="purple-text">Getting a response back from {{matchUser.firstName}} will allow you two to communicate freely.</div>

</div>