<div class="match-card" *ngIf="matchUser && matchUser.matchObj" style="position: relative; padding-bottom: 45px;">
    <div class="gray-title" style="position: relative;" [style.color]="unreadMessagesFlg?'yellow':'white'"><i
            class="fa fa-comment"></i> <span *ngIf="unreadMessagesFlg">New</span> Messages <span
            style="font-size: 8px; font-weight: 200;">{{firstName}}</span>
        <i *ngIf="messages.length>0" (mousedown)="showDetailsFlg=!showDetailsFlg"
            class="fa fa-info-circle more-options"></i>
    </div>
    <div *ngIf="messages.length==6" (mousedown)="loadMessages(true)" class="text-link"
        style="text-align: left; padding: 5px;">Previous Messages</div>
    <div class="text-window">
        <div *ngFor="let message of messages"
            [style.text-align]="(message.user_id == myUser.user_id)?'right':'left'">
            <div *ngIf="message.id == messageToDelete">
                <div style="padding: 10px;">&nbsp;</div>
                <div>Delete Message?</div>
                <button (mousedown)="messageToDelete = 0" class="btn btn-warning">cancel</button>&nbsp;
                <button (mousedown)="deleteCurrentText(message)" class="btn btn-danger">Delete</button>&nbsp;
            </div>
            <div style="display: inline-block; text-align: center;" (mousedown)="selectMessage(message.id)">
                <div *ngIf="message.id==selectedMessage">
                    <span *ngIf="message.user_id != myUser.user_id">
                        <img (mousedown)="emojiClicked(message, i)" *ngFor="let emoji of emojis; let i = index"
                            [src]="emoji" height="35" class="emoji-button">
                    </span>
                    <span *ngIf="message.user_id == myUser.user_id">
                        <img (mousedown)="emojiClicked(message, 0)" src="assets/images/emojis/trash.png" height="35"
                            class="emoji-button">
                    </span>
                </div>
                <div *ngIf="showDetailsFlg" class="top-text">{{message.name}}
                </div>

                <div [ngClass]="ngClassMessageBlob(message.user_id)" style="position: relative;">
                    <img *ngIf="message.emoji>0" [src]="emojis[message.emoji]" height="25"
                        style="position: absolute; top: -15px; right: 10px;" title="Added by {{message.emojiName}}">
                    {{message.message}}
                </div>
                <div *ngIf="showDetailsFlg" class="bottom-text">{{message.local}}
                    <span *ngIf="message.user_id == myUser.user_id && !message.readDt" style="color: #700;">Not
                        Read</span>
                    <span *ngIf="message.user_id == myUser.user_id && message.readDt">Read</span>
                    <span *ngIf="message.user_id == matchUser.user_id && !message.readDt"
                        class="new-message">New!</span>
                </div>
            </div>
        </div>
    </div>

    <hr *ngIf="messages.length>0">

    <div *ngIf="matchUser.matchObj.match_level==3 && matchUser.matchObj.you_action=='message sent'">Awaiting response
        from {{matchUser.firstName}}.</div>
    <div *ngIf="matchUser.matchObj.match_level==3 && matchUser.matchObj.you_action=='Interested'">Respond to
        {{matchUser.firstName}}!</div>
    <div *ngIf="matchUser.matchObj.match_level==4 && matchUser.matchObj.you_action=='reply sent'">Awaiting response. If
        you get a response, the two of you can
        text freely.</div>
    <div *ngIf="matchUser.matchObj.match_level==4 && matchUser.matchObj.you_action=='message sent'">You will be able to
        freely chat back and forth once this message is sent.</div>
    <div *ngIf="matchUser.matchObj.messagesSentFlg == 'Y' && !showTextInputFlg && matchUser.matchObj.match_level < 2">
        <p class="important-notice" *ngIf="matchUser.matchObj.match_interested == 'Y'">
            Notice: You currently are not able to communicate with this person due to them not being in your dating pool. Click on the 3-dots at the top of this profile,
            and then click 'Add to Dating Pool' to communicate further.
        </p>
        <p class="important-notice" *ngIf="matchUser.matchObj.match_interested != 'Y'">
            Notice: You currently are not able to communicate with this person because they dropped you from their dating pool. 
            Sorry, but only if they add you back, can you further communicate. Try to move on to someone new.
        </p>
    </div>
    <div *ngIf="showTextInputFlg">
        <table width="100%">
            <tr>
                <td>
                    <app-message-input (messageEvent)="inputValueChanged($event)" [maxLength]="250"></app-message-input>
                </td>
                <td>&nbsp;
                    <button (mousedown)="sendMessage()" [disabled]="disabledButtonFlg" class="btn btn-main-color"
                        style="height: 50px;">Send</button>
                </td>
            </tr>
        </table>
    </div>

    <div *ngIf="matchUser.matchObj.match_level==2 && !messageSentFlg" style="padding: 10px;">
        <div class="gray-text">Break the ice with a question! Here is your chance to start the conversation.</div>
        <table width="100%">
            <tr>
                <td>
                    <div>Greeting:</div>
                    <select (change)="questionValueChanged()" name="greetingText" id="greetingText">
                        <option disabled selected>Select</option>
                        <option *ngFor="let option of greetings">{{option}}</option>
                    </select>

                    <div>Question:</div>
                    <select (change)="questionValueChanged()" name="questionText" id="questionText">
                        <option disabled selected>Select</option>
                        <option *ngFor="let option of questions">{{option}}</option>
                    </select>
                </td>
                <td>&nbsp;
                    <button (mousedown)="sendMessage()" [disabled]="disabledButtonFlg" class="btn btn-main-color"
                        style="height: 60px;">Send</button>
                </td>
            </tr>
        </table>
        <div>&nbsp;</div>
    </div>
    <div *ngIf="messageSentFlg">Message Sent!</div>

    <app-spinner [loadingFlg]="loadingFlg" [errorMessage]="errorMessage"></app-spinner>
    <div *ngIf="matchUser.matchObj && matchUser.matchObj.match_level == 3" class="purple-text">Getting a response back
        from {{matchUser.firstName}} will allow you two to communicate freely.</div>



    <div [ngClass]="showDetailsNumber>0?'bottom-details-panal-open':'bottom-details-panal-closed'">
        <div *ngIf="showDetailsNumber==1">
            <div class="red-text">Messages</div>
            <div style="font-size: 12px; color: gray; text-align: left; padding: 10px;">
                <p>Communication starts slowly with Betra. You must first make a match before any communication can
                    begin.</p>
                <p>From there, either person can ask a question from a dropdown list of options. The first communication
                    must start from one of these ice-breaker questions.</p>
                <p>Once both people reply to each other's questions, you will be free to openly exchange text messages.
                </p>
                <p>Reaching Intimacy Level 5 also unlocks 3 other Betra features:</p>
                <ol>
                    <li><b>Request Info</b> - Option to exchange each other's phone numbers and email addresses.</li>
                    <li><b>Request Picture</b> - Ask the other person to send you a personalized photo of themselves.
                    </li>
                    <li><b>Request Date</b> - Ask the other person on a date with one click!</li>
                </ol>
            </div>


        </div>
        <div *ngIf="showDetailsNumber==2">
            <div class="main-color"><b>FAQ</b></div>
            <div style="font-size: 12px; color: gray; text-align: left; padding: 10px;">
                <div class="main-color">Question: Why can't I send this person a text?</div>
                <div class="answer">Answer: Communication starts slowly with Betra. You must first make a successful
                    match by both indicating you are interested in the other person. From there you must each ask and
                    answer an ice-breaker question. Then free open texting can begin.</div>

                <div class="main-color">Question: What if the other person is not responding?</div>
                <div class="answer">Answer: Sorry, but that sometimes happens. If you look at the message, you can tell
                    if it has been read or not. You can also look on the person's profile to see when they last logged
                    in. It's possible they are just very busy.</div>

                <div class="main-color">Question: How do I block someone?</div>
                <div class="answer">Answer: Simply dropping the person from your dating pool will automatically stop all
                    communication.</div>

            </div>
        </div>
    </div>
    <div *ngIf="menuNum==0" class="date-pool-bottom-bar">
        <button (mousedown)="toggleShowDetailsNumber(1)" class="btn btn-main-color">Messages</button>&nbsp;
        <button (mousedown)="toggleShowDetailsNumber(2)" class="btn btn-main-color">FAQ</button>&nbsp;
    </div>


</div>