
.text-window {
    display: inline-block; 
    background-color: white;
    width: 95%;
    border-radius: 5px;
    margin: 5px;
}

.pull-left {
    display: block;
    float: left;
}
.pull-right {
    display: block;
    float: right;
}

.refresh-icon {
    font-size: 16px;
    cursor: pointer;
}

.refresh-icon:hover {
    color: pink;
}

.gray-blob {
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    background-color: #ccc;
    color: black;
    border-radius: 10px;
    margin-right: 60px;
    text-align: left;
}
.gray-blob:hover {
    background-color: #ddd;
}
.blue-blob {
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    background-color: rgba(13, 119, 240, 0.959);
    color: white;
    border-radius: 10px;
    margin-left: 60px;
    text-align: left;
}
.blue-blob:hover {
    background-color: rgba(51, 139, 239, 0.959);
}
.top-text {
    font-size: 8px;
    color: gray;
    margin-bottom: -5px;
    margin-left: 20px;
    margin-right: 20px;
}
.bottom-text {
    font-size: 8px;
    color: gray;
    margin-top: -5px;
    margin-left: 20px;
    margin-right: 20px;
}
.new-message {
    color: red;
    font-weight: 700;
    background-color: yellow;
    border-radius: 5px;
    padding: 5px;
}
select {
    background-color: #ccc;;
}

.emoji-button {
    height: 35px;
    margin: 2px;
    cursor: pointer;
}

.emoji-button:hover {
    height: 40px;
}

.date-pool-bottom-bar {
    background-color: #444;
    color: white;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
}

.bottom-details-panal-open {
    min-height: 200px;
    opacity: 1;
    transition: ease-in-out all .4s;
    border-top: 1px solid gray;
}

.bottom-details-panal-closed {
    min-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: ease-in-out all .4s;
}

.question {
    font-weight: 700;
    color: green;
}

.answer {
    margin-bottom: 10px;
    padding-left: 20px;
}

.clickable-icon {
    font-size: 32px;
    cursor: pointer;
}

.clickable-icon:hover {
    color: #900;
}