<div *ngIf="0" class="container-fluid" style="text-align: center;">
    <div class="row">
        <div class="col-lg dark-red-box">
            <div><i class="fa fa-heart big-icon"></i></div>
            <p class="bottom-title">THE <span class="title-highlighted">#1 TRUSTED</span> DATING APP</p>
            <p class="text-small">According to us</p>
        </div>
        <div class="col-lg dark-tan-box">
            <div><i class="fa fa-heart big-icon"></i></div>
            <p class="bottom-title">EVERY <span class="title-highlighted">14 MINUTES</span>, SOMEONE
                FINDS LOVE ON BETRA</p>
            <p class="text-small">Give or take a few weeks</p>
        </div>
        <div class="col-lg dark-blue-box">
            <div><i class="fa fa-heart big-icon"></i></div>
            <p class="bottom-title"><span class="title-highlighted">HIGHEST QUALITY</span> DATING POOL</p>
            <p class="text-small">In our opinion</p>
        </div>
    </div>
</div>
<img src="assets/images/landing/roseNarrow.png" width="100%">
<div style="background-color: #ccc; padding: 40px; text-align: center;">
    <div style="display: inline-block; width: 100%; max-width: 600px; text-align: left;">
        <p>Welcome to <span class="red-text">Betra</span>, the hottest new dating site, where you become the star of
            your own dating adventure. Betra is Greek for "better," and we are not shy about making that claim.</p>
        <p>Betra mimics the experience of being a Bachelor / Bachelorette reality star by giving you a select dating pool of
            people who are very interested in meeting you. You then narrow down the field, handing out roses to your
            favorites until you find yourself matched up with the single person who is your perfect match.</p>
        <p>Avoid the scams, avoid the creeps and instead meet quality people using Betra.</p>

        <div style="font-size: 18px;"><b>More great features:</b></div>
        <div>🌹&nbsp;<span class="red-text">Zero Harrassment</span></div>
        <li>Tired of getting offensive text messages from losers and scam artists? With Betra, you can never be
            contacted by a stranger! ONLY people in your dating pool can contact you, which means you are only hearing
            from people you know.</li>
        <li>Both sides of the match must indicate they are interested before communication can begin, which guarantees
            there is genuine interest.</li>
        <li>An exclusive "user-review" safety feature which allows you to read comments about someone BEFORE meeting in
            person.
        </li>
        <div>🌹&nbsp; <span class="red-text">Safety First!</span>
        </div>
        <li>Users reviews, full profiles, verified pictures & dating pools allow you to truly know who you are getting
            ready to meet.</li>
        <li>In-app dating features means there's electronic record of your first meeting time and place, for added
            security.</li>
        <li>Exclusive "Buddy Notifications" that automatically notifies your designated friend when you are about to
            meet
            someone.</li>
        <div>🌹 Most <span class="red-text">Scam Proof</span> dating app ever created.
        </div>
        <li>Verified photos means you know who you are going to meet.</li>
        <li>User Reviews allow you added security and safety.</li>
        <li>No half-completed profiles allowed. Betra is for serious singles only. If you don't want to invest 5 minutes
            to complete your profile, then move on to a different dating app.</li>
        <div>🌹 Exclusive <span class="red-text">Dating Pool</span> feature</div>
        <li>Everyone is limited to 8 people in your active dating pool, which allows you to focus on your best
            prospects.
        </li>
        <li>Move non-responsive people to your back burner and give your top prospect a rose. It's fun and it helps you
            focus your dating game.</li>
        <li>For ladies out there (and everyone else) this means for anyone you are exchanging text messages, you are in
            their exlcusive top-8 list! This is a game-changer.</li>
        <div>🌹 Best <span class="red-text">Filters and Profiles</span> in the industry</div>
        <li>However specific you want to search, we give you those options.</li>
        <li>All users must fill out their profile completely. No half-committed singles on this site.</li>
        <li>Every user fills out a short personality test, poltical test, info about who they are and specific details
            about
            what they are looking for. With Betra, you get to know A LOT about someone before meeting them. You won't
            find
            this level of detail with any other dating app on the market.</li>
        <hr>
        <p>So give it a try. It's free and easy to <span class="text-link" [routerLink]="['']">sign up</span>!</p>
    </div>
</div>