.title-highlighted {
    color: rgb(255, 203, 74);
}

.bottom-title {
    font-size: 20px;
}

.big-icon {
    font-size: 32px;
    margin: 5px;
}

.text-small {
    color: #ccc;
    font-size: 12px;
}

li {
    color: gray;
    font-size: 12px;
    margin-left: 30px;
}