.pool-snapshot {
    display: inline-block;
    width: 43px;
    margin: 2px;
}

.snapshot-img {
    width: 41px;
    height: 41px;
    border-radius: 50%;
    object-fit: cover;
    opacity: 1;
    cursor: pointer;
}
.snapshot-img:hover {
    box-shadow: 2px 2px 10px gray;
}
.snapshot-img2 {
    width: 41px;
    height: 41px;
    border-radius: 50%;
    object-fit: cover;
    opacity: .5;
}
.snapshot-img2:hover {
    box-shadow: 2px 2px 10px gray;
}
.pool-large {
    display: inline-block;
    width: 150px;
    margin: 2px;
    font-size: 14px; 
    color: gray;
}
.pool-large:hover {
    color: #b7121f;
    font-weight: 700;
}

.red-header {
    background-color: #ccc;
    border: 1px solid #ccc;
    color: black;
    font-size: 12px;
    border-radius: 10px;
    cursor: pointer;
}

.red-header:hover {
    border: 1px solid #b7121f;
    color: #b7121f;
}

.big-flashy {
    background-color: yellow;
    color: #b7121f;
    border-radius: 5px;
}