
.large-icon {
    font-size: 28px;
    vertical-align: top;
    padding-top: 10px;
    color: #990000;
    cursor: pointer;
}

.large-icon:hover {
    color: black;
}

.minus-button {
    cursor: pointer;
    font-size: 28px;
    background-color: #900;
    padding: 5px;
    border-radius: 50%;
    color: white;
    width: 40px;
    position: absolute;
    top: 0;
    right: 0;
}

.minus-button:hover {
    background-color: red;
    color: black;
    box-shadow: 2px 2px 5px gray;
    ;
}

.small-name-text {
    font-size: 7px;
    white-space: nowrap;
    overflow: hidden;
    max-width: 50px;
}

.date-pool-title {
    font-size: 10px;
    font-weight: 700;
    cursor: pointer;
}

.date-pool-title:hover {
    font-weight: 800;
}

.snapshot-img {
    width: 100%;
    max-width: 41px;
    height: 41px;
    border-radius: 50%;
    object-fit: cover;
    opacity: 1;
    filter: sepia(100%);
    cursor: pointer;
}

.snapshot-img:hover {
    box-shadow: 2px 2px 10px gray;
    filter: none;
}

.snapshot-img2 {
    width: 41px;
    height: 41px;
    border-radius: 50%;
    object-fit: cover;
    filter: sepia(100%);
    opacity: .5;
}

.snapshot-img2:hover {
    box-shadow: 2px 2px 10px gray;
}

.pool-large {
    display: inline-block;
    width: 150px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: gray;
}

.red-header {
    background-color: #ccc;
    border: 1px solid #ccc;
    color: black;
    font-size: 8px;
    border-radius: 10px;
    cursor: pointer;
}

.red-circle-large {
    position: absolute;
    top: -120px;
    right: 10px;
    display: inline-block;
    border: 1px solid white;
    box-shadow: 1px 1px 3px black;
    cursor: pointer;
    padding: 0;
    line-height: 28px;
    min-width: 28px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    color: white;
    border-radius: 50%;
    margin-top: 120px;
    margin-left: -50px;
}

.alert-icon {
    font-size: 22px;
    display: inline-block;
    position: absolute;
    right: 1px;
    top: 40px;
}

.icon-label {
    left: 5px;
    width: 140px;
    bottom: 10px;
    top: auto;
    border-radius: 20px;
    font-size: 15px;
}

.name-plate {
    position: absolute;
    border-radius: 20px;
    background-color: #aaa;
    left: 5px;
    width: 140px;
    bottom: 10px;
    top: auto;
    font-size: 15px;
    color: black;
    box-shadow: 2px 2px 2px black;
}

.intimacyValue {
    background-color: #800;
    color: white;
    border-radius: 50%;
    width: 25px;
    font-size: 8px;
    padding: 0 3px 0 3px;
}

.small-dating-pool {
    display: inline-block;
    margin-bottom: 10px;
}

.dp-header {
    background-color: white;
    border: 1px solid red;
    border-radius: 10px;
    padding: 0 8px 0 8px;
    cursor: pointer;
    font-size: 12px;
    position: absolute;
    left: auto;
    top: -10px;
    z-index: 100;
}

.dp-header:hover {
    border: 1px solid black;
    box-shadow: 2px 2px 3px black;
}

/* toggle in label designing */
.toggle {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 36px;
    background-color: #ccc;
    border-radius: 30px;
    border: 2px solid gray;
}

/* After slide changes */
.toggle:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: gray;
    top: 1px;
    left: 1px;
    transition: all 0.5s;
}

/* Toggle text */
p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/* Checkbox checked effect */
.checkbox:checked+.toggle::after {
    left: 25px;
}

/* Checkbox checked toggle label bg color */
.checkbox:checked+.toggle {
    background-color: #0f0;
}

/* Checkbox vanished */
.checkbox {
    display: none;
}