<div *ngIf="user && user.datingPool && user.datingPool.length>0">
    <div *ngIf="largeFlg">
        <div class="main-color date-pool-title" [routerLink]="['/matches']">{{user.firstName}}'s Dating Pool</div>
        <div *ngFor="let person of datingPool" class="pool-large menu-circle" style="position: relative;">
            <i *ngIf="exceededPoolSizeFlg" class="fa fa-times minus-button" (mousedown)="dropPersonFromDP(person)"></i>
            <img [src]="person.src" class="large-img" [routerLink]="['/user-detail']"
                [queryParams]="{uid: person.user_id, s: 'Y'}"
                [style.border]="person.heartFlg?'7px solid #990000':'none'">
            <span *ngIf="person.alerts>0" class="red-circle-large main-color-bg">{{person.alerts}}</span>
            <i class="fa fa-calendar alert-icon"
                *ngIf="person.match && (person.match.match_date_request == 'A' || person.match.you_date_request == 'Y')"></i>
            <i [routerLink]="['/user-detail']" [queryParams]="{uid: person.user_id, c: 'Y'}"
                class="fa fa-comments alert-icon" *ngIf="person.match && person.match.unreadMessages > 0"></i>
            <i class="fa fa-phone alert-icon" *ngIf="person.match && person.match.match_info_request == 'Y'"></i>
            <div><img src="assets/images/rose5.png" height="20" *ngIf="person.heartFlg" alt="Rose" title="Rose">
                <i *ngIf="person.heartFlg2" class="fa fa-heart"></i>
                {{person.name}} <sup *ngIf="showIntimacyValuesFlg" class="intimacyValue">{{person.level}}</sup>
            </div>
            <div style="font-size: 8px; color: gray;"><i class="fa fa-circle main-color"></i> {{person.lastLoginText}}
            </div>
            <div class="icon-label btn-main-color">
                <div>{{person.name}}</div>
                <div style="font-size: 8px;">Intimacy Level: {{person.level}}</div>
            </div>
            <div *ngIf="person.match">
                <div *ngIf="person.match.newMatchFlg == 'Y'" class="big-flashy"><i class="fa fa-heart"></i> New Match!
                </div>
                <div *ngIf="person.match.you_date_request == 'Y'" class="big-flashy"><i class="fa fa-calendar"></i>
                    Date Requested!</div>
                <div *ngIf="person.match.you_date_request == 'M'" class="big-flashy"><i class="fa fa-calendar"></i> Date
                    Modification!</div>
                <!--<div *ngIf="person.match.match_date_request == 'A' || person.match.you_date_request == 'A'"
                    class="big-flashy"><i class="fa fa-calendar"></i> Upcoming Date!</div>-->
                <div *ngIf="person.match.you_pic_request > 0" class="big-flashy"><i class="fa fa-picture-o"></i> Pic
                    Requested!</div>
                <div *ngIf="person.match.match_info_request == 'Y'" class="big-flashy"><i class="fa fa-info-circle"></i>
                    Info Requested!</div>
                <div *ngIf="person.match.unreadMessages > 0" class="big-flashy"><i class="fa fa-comment"></i> New
                    messages!</div>
                <div *ngIf="person.match.roseAssignedBy > 0" class="big-flashy"><i class="fa fa-heart"></i> Rose
                    Assigned!</div>
            </div>
        </div>
        <div>
            <table>
                <tr>
                    <td>
                        <input  type="checkbox" id="switch" class="checkbox" [checked]="showIntimacyLevelsFlg"/>
                        <label (mousedown)="toggleIntimacyFlg()" for="switch" class="toggle"></label>
                    </td>
                    <td style="font-size: 10px; color: gray;">
                        Show intimacy levels
                    </td>
                </tr>
            </table>


        </div>
    </div>
    <div *ngIf="!largeFlg" class="small-dating-pool">
        <div style="text-align: center;">
            <span [routerLink]="['/matches']" class="dp-header">
                <i class="fa fa-users"></i> {{user.firstName}}'s Dating Pool</span>
        </div>
        <div *ngIf="0" class="main-color date-pool-title" [routerLink]="['/matches']">{{user.firstName}}'s Dating Pool</div>
        <table>
            <tr>
                <td *ngIf="panRight && displayPicsSize < datingPoolSize">
                    <i (mousedown)="panRightClicked(false)" class="fa fa-chevron-left large-icon"></i>
                </td>
                <td *ngFor="let person of datingPool; let i = index;">
                    <img *ngIf="person.user_id>0" [routerLink]="['/user-detail']" [queryParams]="{uid: person.user_id}"
                        [src]="person.src" class="snapshot-img"
                        [style.border]="person.heartFlg?'3px solid #700':'none'">
                </td>
                <td *ngIf="!panRight && displayPicsSize < datingPoolSize">
                    <i (mousedown)="panRightClicked(true)"
                        class="fa fa-chevron-right large-icon"></i>
                </td>
            </tr>
        </table>
        <div [routerLink]="['/matches']" *ngIf="user.datingPool.length >= 5 && user.heartId == 0"
            style="color: #900; font-size: 12px;">
            <i class="fa fa-exclamation-triangle"></i> You need to assign a rose! <span class="text-link">Click
                here</span>
        </div>
    </div>

    <div *ngIf="user.datingPool.length>datingPoolLimit" style="color: #900; font-size: 12px;">
        <i class="fa fa-exclamation-triangle"></i> You are over your limit!
    </div>
</div>