<app-page-shell (messageEvent)="loginClicked ($event)" [pageTitle]="'Referrals'" [userId]="userId"
    [imgSrcFile]="imgSrcFile" [headerObj]="headerObj" [userStatus]="userStatus" [stickyBottomFlg]="true">

    <app-spinner [loadingFlg]="loadingFlg" [errorMessage]="errorMessage"></app-spinner>
    <div class="matches-card">
        <app-top-header [topTitle]="'Referrals'"></app-top-header>
        <hr>
        <div>Your referral Link: <span class="text-highlight">{{referralText}}</span>
            <i class="fa fa-clipboard icon" (mousedown)="copyText()"></i>
            <span *ngIf="textCopiedFlg" style="color: green;">Copied</span>
        </div>
        <div class="gray-text">Give this link to friends who might be interested in Betra. If they sign up, you get
            credit. The user with the most referrals after 90 days wins $500!</div>
        <hr>
        <div>Leading Referral Users</div>
        <div *ngFor="let user of users">
            <app-profile-pic [user_id]="user.user_id" [profilePic]="user.profilePic" [size]="44">
            </app-profile-pic> {{user.referralCount}} <span class="text-link" (mousedown)="loadReferredMembers(user)">View users</span>
        </div>

        <div *ngIf="selectedUser">
            <hr>
            <table>
                <tr>
                    <td>
                        <app-profile-pic [user_id]="selectedUser.user_id" [profilePic]="selectedUser.profilePic" [size]="100">
                        </app-profile-pic>
                    </td>
                    <td>
                        <div>Referred Users</div>
                        <app-spinner [loadingFlg]="loadingFlg" [errorMessage]="errorMessage"></app-spinner>
                        <app-profile-pic *ngFor="let user of referredUsers" [user_id]="user.user_id" [profilePic]="user.profilePic" [size]="44">
                        </app-profile-pic>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</app-page-shell>