<div class="betra-popup">
    <div class="top-title">
        User Login
    </div>
    <div class="inside-box" *ngIf="!loadingFlg">

        <div *ngIf="showLoginButtonFlg" style="text-align: center;">
            <button class="btn btn-primary" (click)="facebookSignin()"><i class="fa fa-facebook-square"></i> Continue
                with Facebook</button>
        </div>

        <div class="tiny-text">Email Address</div>
        <input type="email" name="email" id="email" placeholder="Email Address" (input)="valueChanged()">
        <div *ngIf="!forgotPasswordFlg" class="tiny-text">Password</div>
        <input *ngIf="!forgotPasswordFlg" type="password" name="password" id="password" placeholder="Password" (input)="valueChanged()">
        <hr>
        <p *ngIf="forgotPasswordFlg">Forgot password? Enter your email address above and press Submit.</p>
        <div style="text-align: center;">
            <button  *ngIf="!forgotPasswordFlg" (mousedown)="loginPressed()" class="btn red-button" [disabled]="submitDisabled">Log In</button>
            <button  *ngIf="forgotPasswordFlg" (mousedown)="forgotPasswordPressed()" class="btn red-button">Submit</button>

            <div style="margin-top: 10px;">
                <span [routerLink]="['']" [queryParams]="{login: 3}" class="hyper-link">Create Account</span>&nbsp;
                <span (mousedown)="forgotPasswordFlg = !forgotPasswordFlg" class="hyper-link" style="font-size: 12px; color: gray;">Forgot Password</span>
            </div>
        </div>
        <div *ngIf="errorMessage" class="error-message">{{errorMessage}}</div>
    </div>
    <div class="inside-box" *ngIf="loadingFlg">
        <div style="font-size: 24px; text-align: center;">
            <i class="fa fa-spinner fa-spin"></i> Please Wait
        </div>
    </div>

</div>