
.login-shell {
    color: white;
    max-width: 320px;
    display: inline-block;
}

.tiny-text {
    color: white;
    font-size: 8px;
}

.gray-screen {
    background-color: black; 
    border-radius: 20px; 
    display: block; 
    position: absolute; 
    width: 100%; 
    min-height: 220px; 
    left: 0; 
    top: 0; 
    opacity: .3;
}

.btn-grad {
    background-image: linear-gradient(to right, #ce4774 0%, #f1b245  51%, #e64e80  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 10px;
    display: block;
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

.login-button {
    font-size: 22px;
    padding: 5px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 30px;
    margin: 3px;
    cursor: pointer;
}

.large-text {
    font-size: 38px;
    font-weight: 400;
    text-shadow: 1px 1px 2px black;
}

.google-btn {
    margin: -3px 3px 3px 6px; 
    cursor: pointer; 
}

.google-btn:hover {
    border-radius: 50%;
    background-color: white;
}

.facebook-btn {
    background-color: #1877F2;
}

.facebook-btn:hover {
    background-color: #4690ef;
}

input {
    margin: 5px;
}

@media screen and (max-width: 500px) {
    .large-text  {
        font-size: 32px;
    }
}