<div class="item-card" *ngIf="item">
    <table *ngIf="item.cardType == 0" width="100%" [id]="item.id">
        <tr>
            <td style="width: 30%; max-width: 190px; min-width: 100px; padding: 0;">
                <a [href]="item.url"><img [src]="item.src" class="item-pic" width="100%"></a>
            </td>
            <td style="padding: 10px;">
                <div class="main-color"><i [class]="item.icon"></i> {{item.type}}
                    <span class="local-date">{{item.date}}</span>
                </div>
                <div><a [href]="item.url">{{item.name}}</a></div>
                <div class="gray-text" [innerHtml]="item.description"></div>
                <img *ngIf="item.src2" [src]="item.src2" height="30">
                <a [href]="item.url" class="text-link" style="float: right; font-size: 10px; color: gray;">Read More</a>
            </td>
        </tr>
    </table>

    <table *ngIf="item.cardType == 1" width="100%" [id]="item.id">
        <tr>
            <td style="width: 30%; max-width: 190px; min-width: 100px; padding: 0;">
                <a [href]="item.url"><img [src]="item.src" class="item-pic" width="100%"></a>
            </td>
            <td style="padding: 10px;">
                <div class="main-color"><i [class]="item.icon"></i> {{item.type}}

                </div>
                <div><a [href]="item.url">{{item.name}}</a></div>
                <div class="gray-text" [innerHtml]="item.description"></div>
                <a [href]="item.url" class="text-link" style="float: right; font-size: 10px; color: gray;">Read More</a>
            </td>
            <td width="70" align="center">
                <div class="gray-text">{{item.date}}</div>
                <img *ngIf="item.src2" [src]="item.src2" height="50"
                    style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover;">
            </td>
        </tr>
    </table>

    <table *ngIf="item.cardType == 2" width="100%" [id]="item.id">
        <tr>
            <td style="width: 30%; max-width: 190px; min-width: 100px; padding: 0;">
                <a [href]="item.url"><img [src]="item.src" class="item-pic" width="100%"></a>
            </td>
            <td style="padding: 10px; text-align: center;">
                <img *ngIf="item.type == 'Rose Given Out!'" src="assets/images/rose1.png" height="100">
                <div class="main-color"><i *ngIf="item.type != 'Rose Given Out!'" [class]="item.icon"></i><span *ngIf="item.type == 'Rose Given Out!'">🌹</span> {{item.type}}</div>
                <div><a [href]="item.url">{{item.name}}</a></div>
                <div style="font-size: 12px; color: pink;">{{item.date}}</div>
                <div class="gray-text" [innerHtml]="item.description"></div>
            </td>
            <td style="width: 30%; max-width: 190px; min-width: 100px; padding: 0;">
                <a [href]="item.url2"><img [src]="item.src2" class="item-pic" width="100%"></a>
            </td>
        </tr>
    </table>


</div>