<div class="item-card" *ngIf="item" [ngStyle]="ngStyleCard(item)">
    <table *ngIf="item.cardType == 0" width="100%" [id]="item.id">
        <tr>
            <td style="width: 30%; max-width: 190px; min-width: 100px; padding: 0;">
                <a [href]="item.url"><img [src]="item.src" class="item-pic" width="100%"></a>
            </td>
            <td class="center-id">
                <i (mousedown)="showMenuFlg=!showMenuFlg" class="fa fa-ellipsis-h ellipsis-h-button top-right-button"></i>
                <i (mousedown)="clearItem()" class="fa fa-times times-button top-right-button"></i>
                <div *ngIf="showMenuFlg" class="three-dots-menu">
                    <div (mousedown)="clearItem()" class="three-dots-menu-option">Flag</div>
                </div>
                <div class="main-color"><i [class]="item.icon"></i> {{item.type}}
                    <span class="local-date">{{item.date}}</span>
                </div>
                <div><a [href]="item.url">{{item.name}}</a></div>
                <div class="gray-text" [innerHtml]="item.description"></div>
                
                <a [href]="item.url" class="text-link" style="float: right; font-size: 10px; color: gray;">Read More</a>
            </td>
            <td *ngIf="item.src2" width="30%">
                <img  [src]="item.src2" class="item-pic">
            </td>
        </tr>
    </table>

    <table *ngIf="item.cardType == 1" width="100%" [id]="item.id">
        <tr>
            <td style="width: 30%; max-width: 190px; min-width: 100px; padding: 0;">
                <a [href]="item.url"><img [src]="item.src" class="item-pic" width="100%"></a>
            </td>
            <td class="center-id">
                <i (mousedown)="showMenuFlg=!showMenuFlg" class="fa fa-ellipsis-h ellipsis-h-button top-right-button"></i>
                <i (mousedown)="clearItem()" class="fa fa-times times-button top-right-button"></i>
                <div *ngIf="showMenuFlg" class="three-dots-menu">
                    <div (mousedown)="clearItem()" class="three-dots-menu-option">Flag</div>
                </div>
                <div class="main-color"><i [class]="item.icon"></i> {{item.type}}

                </div>
                <div><a [href]="item.url">{{item.name}}</a></div>
                <div class="gray-text">{{item.date}}</div>
 
                <div class="gray-text" [innerHtml]="item.description"></div>
                <a [href]="item.url" class="text-link" style="float: right; font-size: 10px; color: gray;">Read More</a>
            </td>
            <td width="30%" align="center">
               <img *ngIf="item.src2" [src]="item.src2"  class="item-pic">
            </td>
        </tr>
    </table>

    <table *ngIf="item.cardType == 2" width="100%" [id]="item.id">
        <tr>
            <td style="width: 30%; max-width: 190px; min-width: 100px; padding: 0;">
                <a [href]="item.url"><img [src]="item.src" class="item-pic" width="100%"></a>
            </td>
            <td class="center-id">
                <i (mousedown)="showMenuFlg=!showMenuFlg" class="fa fa-ellipsis-h ellipsis-h-button top-right-button"></i>
                <i (mousedown)="clearItem()" class="fa fa-times times-button top-right-button"></i>
                <div *ngIf="showMenuFlg" class="three-dots-menu">
                    <div (mousedown)="clearItem()" class="three-dots-menu-option">Flag</div>
                </div>
                <img *ngIf="item.type == 'Rose Given Out!'" src="assets/images/rose1.png" height="100">
                <div class="main-color"><i *ngIf="item.type != 'Rose Given Out!'" [class]="item.icon"></i><span *ngIf="item.type == 'Rose Given Out!'">🌹</span> {{item.type}}</div>
                <div><a [href]="item.url">{{item.name}}</a></div>
                <div style="font-size: 10px; color: gray;">{{item.date}}</div>
                <div class="gray-text" [innerHtml]="item.description"></div>
            </td>
            <td style="width: 30%; max-width: 190px; min-width: 100px; padding: 0;">
                <a [href]="item.url2"><img [src]="item.src2" class="item-pic" width="100%"></a>
            </td>
        </tr>
    </table>


</div>