<app-page-shell (messageEvent)="loginClicked ($event)" [pageTitle]="'Notifications'"
    [userId]="userId" [imgSrcFile]="imgSrcFile" [headerObj]="headerObj" [userStatus]="userStatus" [stickyBottomFlg]="true">
    <div class="matches-card" *ngIf="user">
        <app-spinner [loadingFlg]="loadingFlg" [errorMessage]="errorMessage"></app-spinner>
        <div class="main-color-bg" style="border-radius: 5px; font-size: 24px; font-weight: 700;">
            Notification Center</div>
        <p>&nbsp;</p>
        <div *ngIf="headerObj.notifications==0">No notifications at this time.</div>

        <div *ngFor="let notification of notificationsTypes; let i = index;">
            <div *ngIf="notification.amount>0" class="bordered-box">
                <div style="font-size:18px; font-weight: 700;">{{notification.name}}: {{notification.amount}}</div>
                <div style="font-size:12px; color: gray;">{{notification.desc}}</div>
                <button *ngIf="i==0" [routerLink]="['/user-detail']" [queryParams]="{id: 4}" class="btn btn-main-color">Who
                    Likes Me?</button>
                <button *ngIf="i > 0" [routerLink]="['/matches']" [queryParams]="{menu: 0}" class="btn btn-main-color">Dating
                    Pool</button>
            </div>
        </div>
    </div>
</app-page-shell>