<div [ngClass]="slideOverFlg?'slide-in-menu':'side-menu'">
    <div class="group-heading hidden-xs">discover</div>
    <div *ngFor="let item of topItems">
        <div *ngIf="item.id>0 && item.id != 2" [routerLink]="[item.routerLink]" [queryParams]="{id: item.id}"
            [ngClass]="ngClassMenuItem(item.name)"><i [class]="item.icon"></i> &nbsp;
            <span>{{item.name}}</span>
            <span *ngIf="item.id==3 && headerObj && headerObj.matchesAlerts>0"
                class="red-circle">{{headerObj.matchesAlerts}}</span>
            <span *ngIf="item.id==4 && headerObj && headerObj.admirerCount>0"
                class="red-circle">{{headerObj.admirerCount}}</span>
            <span *ngIf="item.id==15 && photographyCount>0"
                class="red-circle">{{photographyCount}}</span>

            
        </div>
        <div *ngIf="item.id==2" [ngClass]="ngClassMenuItem(item.name)">
            <span (mousedown)="browseSelected(true)"><i [class]="item.icon"></i> &nbsp;
                <span>{{item.name}}</span></span>
            <span (mousedown)="browseSelected(false)"
                style="background-color: transparent; position: absolute; left: 0; top: 0; width: 100%;">&nbsp;</span>
            <i *ngIf="item.id==2" (mousedown)="browseSelected(true)" class="fa fa-cogs filter-icon hidden-xs"></i>
        </div>
        <div *ngIf="item.id==0" [routerLink]="[item.routerLink]" [ngClass]="ngClassMenuItem(item.name)"><i
                [class]="item.icon"></i> &nbsp;
            <span>{{item.name}}</span>
        </div>
    </div>
    <div class="group-heading" (mousedown)="toggleInteractMenu=!toggleInteractMenu">Interact
        <i [ngClass]="toggleInteractMenu?'fa fa-caret-down caret-icon':'fa fa-caret-right caret-icon'"></i>
    </div>
    <div *ngIf="toggleInteractMenu">
        <div *ngFor="let item of middleItems">
            <div [routerLink]="[item.routerLink]" [ngClass]="ngClassMenuItem(item.name)"><i [class]="item.icon"></i>
                &nbsp;
                <span>{{item.name}}</span>
                <span *ngIf="item.id==11 && messageCount>0" class="red-circle">{{messageCount}}</span>
                <span *ngIf="item.id==12 && dateCount>0" class="red-circle">{{dateCount}}</span>
                <span *ngIf="item.id==14 && journalCount>0" class="red-circle">{{journalCount}}</span>
            </div>
        </div>
    </div>
    <div class="group-heading"></div>
    <div *ngFor="let item of bottomItems">
        <div [routerLink]="[item.routerLink]" [queryParams]="{id: item.id}" [ngClass]="ngClassMenuItem(item.name)"><i
                [class]="item.icon"></i> &nbsp;
            <span>{{item.name}}</span>
            <span *ngIf="item.id==13 && ownerAlerts>0" class="red-circle">{{ownerAlerts}}</span>
        </div>
    </div>
</div>