<div *ngIf="headerObj" [ngClass]="slideOverFlg?'slide-in-menu':'side-menu'">
    <div class="group-heading hidden-xs">discover</div>
    <div *ngFor="let item of topItems">
        <div *ngIf="item.id>0 && item.id != 2" [routerLink]="[item.routerLink]" [queryParams]="{id: item.id}"
            [ngClass]="ngClassMenuItem(item.name)"><i [class]="item.icon"></i> &nbsp;
            <span>{{item.name}}</span>
            <span *ngIf="item.id==3 && headerObj && headerObj.matchesAlerts>0"
                class="red-circle">{{headerObj.matchesAlerts}}</span>
            <span *ngIf="item.id==4 && headerObj && headerObj.admirerCount>0"
                class="red-circle">{{headerObj.admirerCount}}</span>
            <span *ngIf="item.id==15 && photographyCount>0" class="red-circle">{{photographyCount}}</span>
            <span *ngIf="item.id==16 && newClasses>0" class="red-circle">{{newClasses}}</span>

            
        </div>
        <div *ngIf="item.id==2" [ngClass]="ngClassMenuItem(item.name)">
            <span (mousedown)="browseSelected(true)"><i [class]="item.icon"></i> &nbsp;
                <span>{{item.name}}</span></span>
            <span (mousedown)="browseSelected(false)"
                style="background-color: transparent; position: absolute; left: 0; top: 0; width: 100%;">&nbsp;</span>
            <i *ngIf="item.id==2" (mousedown)="browseSelected(true)" class="fa fa-cogs filter-icon hidden-xs"></i>
        </div>
        <div *ngIf="item.id==0" [routerLink]="[item.routerLink]" [ngClass]="ngClassMenuItem(item.name)"><i
                [class]="item.icon"></i> &nbsp;
            <span>{{item.name}}</span>
        </div>
    </div>
    <div *ngIf="!headerObj.liteModeFlg" class="group-heading">
        Interact
    </div>
    <table width="100%" style="font-size: 8px; color: #aaa;">
        <tr>
            <td [routerLink]="['/messages']" align="center" width="33%" style="position: relative;">
                <div><i class="fa fa-comments side-icon"></i></div>
                <div>Messages</div>
                <span *ngIf="messageCount>0" class="red-circle">{{messageCount}}</span>
            </td>
            <td [routerLink]="['/blogs']" align="center" width="33%" style="position: relative;">
                <div><i class="fa fa-file-text side-icon"></i></div>
                <div>Blogs</div>
            </td>
            <td [routerLink]="['/poll']" align="center" style="position: relative;">
                <div><i class="fa fa-question-circle side-icon"></i></div>
                <div>Polls</div>
            </td>
        </tr>
        <tr>
            <td [routerLink]="['/market']" align="center" width="33%" style="position: relative;">
                <div><i class="fa fa-line-chart side-icon"></i></div>
                <div>Marketplace</div>
            </td>
            <td [routerLink]="['/journal']" align="center" width="33%" style="position: relative;">
                <div><i class="fa fa-book side-icon"></i></div>
                <div>Journal</div>
                <span *ngIf="journalCount>0" class="red-circle">{{journalCount}}</span>
            </td>
            <td [routerLink]="['/user-dates']" align="center" style="position: relative;">
                <div><i class="fa fa-calendar side-icon"></i></div>
                <div>Dates</div>
                <span *ngIf="dateCount>0" class="red-circle">{{dateCount}}</span>
            </td>
        </tr>
    </table>
    <div class="group-heading"></div>
    <div *ngFor="let item of bottomItems">
        <div [routerLink]="[item.routerLink]" [queryParams]="{id: item.id}" [ngClass]="ngClassMenuItem(item.name)"><i
                [class]="item.icon"></i> &nbsp;
            <span>{{item.name}}</span>
            <span *ngIf="item.id==13 && ownerAlerts>0" class="red-circle">{{ownerAlerts}}</span>
        </div>
    </div>
</div>