<app-page-shell (messageEvent)="loginClicked ($event)" [userId]="userId" [imgSrcFile]="imgSrcFile"
    [pageTitle]="'Settings'" [headerObj]="headerObj" [userStatus]="userStatus" [stickyBottomFlg]="true">

    <!--<app-upload-image-crop [src]="user.imgSrc"></app-upload-image-crop>-->

    <div class="matches-card" *ngIf="user">
        <div>- Settings -</div>
        <button (mousedown)="logout()" class="btn btn-main-color spacer"><i class="fa fa-sign-out"></i>
            Logout</button>
        <button (mousedown)="showStats()" class="btn btn-main-color spacer"><i class="fa fa-line-chart"></i>
            stats</button>
        <button (mousedown)="changeMenuNum(2)" class="btn btn-main-color spacer"><i class="fa fa-globe"></i>
            location</button>
        <button (mousedown)="changeMenuNum(4)" class="btn btn-main-color spacer"><i class="fa fa-refresh"></i>
            Redo Matches</button>
        <button (mousedown)="changeBuddy()" class="btn btn-main-color spacer"><i class="fa fa-envelope-o"></i>
            Buddy Notification</button>
        <button (mousedown)="changeMenuNum(6)" class="btn btn-main-color spacer"><i class="fa fa-star"></i>
            Change Password</button>

        <button *ngIf="!user.memberFlg" [routerLink]="'/upgrade-member'" class="btn btn-main-color spacer"><i
                class="fa fa-arrow-up"></i>
            Upgrade</button>

        <div *ngIf="announcement">
            <div class="light-box">{{announcement}}</div>
        </div>
        <div *ngIf="menuNum == 5" class="tan-box">
            <div>Buddy Notification</div>
            <div class="red-text">Betra is the safest dating app you will ever use.</div>
            <div class="gray-text" style="text-align: left;">
                <p>For safety and security we reccomend everyone use the in-app dating scheduler to
                    arrange your first date.
                    This will guarantee an electronic record of your meeting time and place to dissuade would be trouble
                    makers.
                </p>
                <p>
                    In addition to this, we encourage everyone to set up a Buddy Contact. This person will be
                    notified of your meeting time and place so they can check on you to make sure everything went well.
                </p>
                <table width="100%" *ngIf="!loadingFlg">
                    <tr>
                        <td>
                            <app-text-input [placeHolder]="'Email Address'" [id]="'buddyEmail'" [maxLength]="80"
                                [value]="buddyEmail"></app-text-input>
                        </td>
                        <td width="70" align="center" valign="middle">
                            <button (mousedown)="updateBuddyEmail()" class="btn btn-primary"><i
                                    class="fa fa-arrow-circle-right" style="font-size: 30px;"></i></button>
                        </td>
                    </tr>
                </table>
                <hr>
                <img src="assets/images/brittany1.jpg" height="200" align="left" style="padding: 3px;">
                <p><b>History: </b>
                    In 2023 the online dating world is literally at your finger tips. You could make a connection with
                    someone, scope their social media, and meet that person all in one night! It’s an exciting time for
                    dating, but let’s be honest as a single woman it’s also terrifying. The big dating apps have got the
                    algorithm down, but when it comes to your safety not so much. It’s like once you are on that date,
                    they leave you at the door just like the Uber you took to the restaurant.
                </p>
                <p>
                    So when Brittany LoCurto got involved with Betra she really wanted it to feel like a safe place for
                    women to date. Brittany had not only experienced all the different dating platforms herself, but had
                    witnessed countless dates go wrong while bartending. “No matter what I wanted my female customers to
                    know I was looking out for them if things got sketchy or someone wasn’t who they said they were”. I
                    wish I could say that never happens, but it does all the time”, she said.So when she heard another
                    horror story about a woman being kidnapped by her online date in December, she wanted to think of a
                    way to look out for women like she did at the bar.
                </p>
                <p>This is how the buddy system element in Betra was born. Imagine if a dating app cared for your safety
                    both while using the app and on your date. Where you could feel safe and not have a bombardment of
                    what ifs in your brain. The buddy system will alert a friend or family member of your choice that
                    you are going on a date through Betra. So you could finally focus on connections, and not catfishes.
                </p>
            </div>
        </div>
        <div *ngIf="menuNum == 6" class="tan-box">
            <div>Change Password</div>
            <div *ngIf="user.facebookId">You are currently logging in using facebook</div>
            <table *ngIf="!user.facebookId" width="100%">
                <tr>
                    <td>
                        <app-text-input [placeHolder]="'New Password'" [id]="'newPassword'" [maxLength]="30">
                        </app-text-input>
                    </td>
                    <td width="70" align="center" valign="middle">
                        <button (mousedown)="updatePassword()" class="btn btn-primary"><i
                                class="fa fa-arrow-circle-right" style="font-size: 30px;"></i></button>
                    </td>
                </tr>
            </table>
        </div>
        <div *ngIf="!user.lat" class="border-box">
            <p class="red-text">Note: Something is not set up properly with your location</p>
            <p>Click the "Location" button, then "Find Location" and then press "Update" to fix.</p>
            <p class="gray-text">If this doesn't fix your issue, you will need to log in with a different device or
                change your browser settings to allow location info.</p>
        </div>
        <div *ngIf="menuNum == 4" class="tan-box">
            <div class="gray-text">Would you like to reset all the people who you said 'No' to so you can browse through
                them again?</div>
            <button (mousedown)="menuNum=0" class="btn btn-warning">Cancel</button>&nbsp;
            <select name="resetRange" id="resetRange">
                <option>All Profiles</option>
                <option>Past Week</option>
                <option>Past Month</option>
            </select>&nbsp;
            <button (mousedown)="resetMatchesPressed()" class="btn btn-main-color">Reset Matches</button>
        </div>
        <div *ngIf="menuNum==2" class="border-box">
            <div>Location</div>
            <div class="gray-text">If you have moved to a new location and want to update the database, click the "Find
                Location" button below,
                and then press "Update" to update the database.
            </div>
            <div *ngIf="geoUpdatedFlg">Your location data has been updated!</div>
            <div id="gpsDataError" style="background-color: yellow;">{{gpsDataError}}</div>
            <table *ngIf="!geoUpdatedFlg" style="font-size: 12px;">
                <tr>
                    <th>Item</th>
                    <th>Current Location</th>
                    <th>New Location</th>
                </tr>
                <tr>
                    <td>City</td>
                    <td><span class="text-highlight">{{user.city}}</span></td>
                    <td><span class="text-highlight">{{city}}</span></td>
                </tr>
                <tr>
                    <td>State</td>
                    <td><span class="text-highlight">{{user.state}}</span></td>
                    <td><span class="text-highlight">{{state}}</span></td>
                </tr>
                <tr>
                    <td>Country</td>
                    <td><span class="text-highlight">{{user.countryName}}</span></td>
                    <td><span class="text-highlight">{{country}}</span></td>
                </tr>
                <tr>
                    <td>GPS1</td>
                    <td><span class="text-highlight">{{user.gpsLat}}</span></td>
                    <td><span class="text-highlight">{{lat1}}</span></td>
                </tr>
                <tr>
                    <td>GPS2</td>
                    <td><span class="text-highlight">{{user.navLat}}</span></td>
                    <td><span class="text-highlight" id="lat2">{{lat2}}</span></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td align="center">
                        <button class="btn btn-main-color" *ngIf="!findingLocationDataFlg"
                            (mousedown)="findLocalData()">
                            <i class="fa fa-globe"></i> Find Location</button>
                        <i *ngIf="findingLocationDataFlg" class="fa fa-spinner fa-spin"></i>
                        <div style="margin-top: 2px;">
                            <button (mousedown)="updateLocation()" [disabled]="updateLocationDisabledFlg"
                                class="btn btn-success" style="height: 60px;"><i class="fa fa-map-pin"></i>
                                Update</button>&nbsp;
                        </div>
                        <div class="gray-text">Update to this new location</div>

                    </td>
                </tr>
            </table>


            <div style="color: #eee; font-size: 10px;">{{user.latitude}} {{user.longitude}}</div>

        </div>

        <app-spinner [loadingFlg]="loadingFlg" [errorMessage]="errorMessage"></app-spinner>
        <div *ngIf="menuNum==1">
            <div><b>Betra Stats</b></div>
            <div style="font-size: 10px;">
                <div>Version: <span class="text-highlight">{{version}}</span></div>
                <div>Browser: <span class="text-highlight">{{browser}}</span></div>
                <div>Platform: <span class="text-highlight">{{platform}}</span></div>
            </div>
            <table width="100%" *ngIf="responseJson && !loadingFlg">
                <tr>
                    <td valign="top">
                        <div class="border-box" style="font-size: 12px;">
                            <div class="tiny-text">Accounts</div>
                            <div>Total Created: {{responseJson.accounts}}</div>
                            <div>*Newly Created: {{responseJson.newThisWeek}}</div>
                            <div>Active Status: {{responseJson.activeAccounts}}</div>
                            <div>*Recently Logged In: {{responseJson.recentLogins}}</div>
                            <div style="font-size: 8px; color: gray;">* past 7 days</div>
                        </div>
                        <div class="border-box">
                            <div class="tiny-text">Likes: {{responseJson.likes}}</div>
                            <div class="tiny-text">Matches: {{responseJson.matches}}</div>
                            <div class="tiny-text">Messages: {{responseJson.messages}}</div>
                            <div class="tiny-text">Reviews: {{responseJson.reviews}}</div>
                        </div>
                    </td>
                    <td valign="top">
                        <div class="border-box" style="font-size: 12px;">
                            <div class="tiny-text">Countries</div>
                            <div *ngFor="let country of responseJson.countryNames">
                                <div>{{country.countryName}}<sup>{{country.count}}</sup></div>
                            </div>
                        </div>
                        <div class="border-box" style="font-size: 12px;">
                            <div class="tiny-text">States</div>
                            <div *ngFor="let state of responseJson.stateName">
                                <div>{{state.stateName}}<sup>{{state.count}}</sup></div>
                            </div>
                        </div>
                    </td>
                    <td valign="top">
                        <div class="border-box" style="font-size: 8px; max-width: 200px;">
                            <div class="tiny-text">Cities</div>
                            <span *ngFor="let city of responseJson.cities">
                                {{city.name}}<sup>{{city.count}}</sup>
                            </span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>



        <div *ngIf="userId==1">
            <p>&nbsp;</p>
            <button [routerLink]="['/users']" class="btn btn-primary"><i class="fa fa-users"></i>
                Users</button>&nbsp;
            <button [routerLink]="['/documentation']" class="btn btn-primary"><i class="fa fa-file-text"></i>
                Documentation</button>
        </div>




    </div>

</app-page-shell>