<app-page-shell (messageEvent)="loginClicked ($event)" [userId]="userId" [imgSrcFile]="imgSrcFile"
    [pageTitle]="'Settings'" [headerObj]="headerObj" [userStatus]="userStatus" [stickyBottomFlg]="true">

    <div class="matches-card" *ngIf="user">
        <div>- Settings -</div>
        <button (mousedown)="logout()" class="btn btn-main-color"><i class="fa fa-sign-out"></i>
            Logout</button>&nbsp;
        <button (mousedown)="showStats()" class="btn btn-main-color"><i class="fa fa-line-chart"></i>
            stats</button>&nbsp;
        <button (mousedown)="showLocation()" class="btn btn-main-color"><i class="fa fa-globe"></i>
            location</button>&nbsp;
        <button *ngIf="!user.memberFlg" [routerLink]="'/upgrade-member'" class="btn btn-main-color"><i class="fa fa-arrow-up"></i>
            Upgrade</button>&nbsp;

        <div *ngIf="showLocationFlg && !loadingFlg" class="border-box">
            <div class="gray-text">Location</div>
            <div>City: <span class="text-highlight">{{user.city}}</span></div>
            <div>State: <span class="text-highlight">{{user.state}}</span></div>
            <div>Country: <span class="text-highlight">{{user.countryName}}</span></div>
            <button (mousedown)="updateLocation()" class="btn btn-success" style="height: 60px;"><i
                    class="fa fa-map-pin"></i>
                Update Location</button>&nbsp;
        </div>

        <app-spinner [loadingFlg]="loadingFlg" [errorMessage]="errorMessage"></app-spinner>
        <div *ngIf="showStatsFlg">
            <div><b>Betra Stats</b></div>
            <table width="100%" *ngIf="responseJson && !loadingFlg">
                <tr>
                    <td valign="top">
                        <div class="border-box" style="font-size: 12px;">
                            <div class="tiny-text">Accounts</div>
                            <div>Total Created: {{responseJson.accounts}}</div>
                            <div>*Newly Created: {{responseJson.newThisWeek}}</div>
                            <div>Active Status: {{responseJson.activeAccounts}}</div>
                            <div>*Recently Logged In: {{responseJson.recentLogins}}</div>
                            <div style="font-size: 8px; color: gray;">* past 7 days</div>
                        </div>
                        <div class="border-box">
                            <div class="tiny-text">Likes: {{responseJson.likes}}</div>
                            <div class="tiny-text">Matches: {{responseJson.matches}}</div>
                            <div class="tiny-text">Messages: {{responseJson.messages}}</div>
                            <div class="tiny-text">Reviews: {{responseJson.reviews}}</div>
                        </div>
                    </td>
                    <td valign="top">
                        <div class="border-box" style="font-size: 12px;">
                            <div class="tiny-text">Countries</div>
                            <div *ngFor="let country of responseJson.countryNames">
                                <div>{{country.countryName}}<sup>{{country.count}}</sup></div>
                            </div>
                        </div>
                        <div class="border-box" style="font-size: 12px;">
                            <div class="tiny-text">States</div>
                            <div *ngFor="let state of responseJson.stateName">
                                <div>{{state.stateName}}<sup>{{state.count}}</sup></div>
                            </div>
                        </div>
                    </td>
                    <td valign="top">
                        <div class="border-box" style="font-size: 8px; max-width: 200px;">
                            <div class="tiny-text">Cities</div>
                            <span *ngFor="let city of responseJson.cities">
                                {{city.name}}<sup>{{city.count}}</sup>
                            </span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>



        <div *ngIf="userId==1">
            <p>&nbsp;</p>
            <button [routerLink]="['/users']" class="btn btn-primary"><i class="fa fa-users"></i>
                Users</button>&nbsp;
            <button [routerLink]="['/documentation']" class="btn btn-primary"><i class="fa fa-file-text"></i>
                Documentation</button>
        </div>


    </div>

</app-page-shell>